# Body shape confirmed against the live API (GET /agent/runs/{id}/events returns a paginated list); IDs/timestamps are representative.
---
http_interactions:
- request:
    method: get
    uri: https://api.exa.ai/agent/runs/run_01abc123def456ghi789jkl/events
    body:
      encoding: US-ASCII
      string: ''
    headers:
      x-api-key:
      - <EXA_API_KEY>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"object":"list","data":[{"id":"1","event":"agent_run.created","data":{"id":"run_01abc123def456ghi789jkl","status":"queued","createdAt":"2026-06-29T18:19:14.136Z"},"createdAt":"2026-06-29T18:19:14.136Z"},{"id":"2","event":"agent_run.started","data":{"id":"run_01abc123def456ghi789jkl","status":"running"},"createdAt":"2026-06-29T18:19:14.136Z"}],"hasMore":false,"nextCursor":null}'
  recorded_at: Mon, 29 Jun 2026 12:05:00 GMT
recorded_with: VCR 6.3.1
