# SYNTHETIC cassette — authored from documented schema, NOT a live recording. Replace with a live-recorded interaction during live-API verification.
---
http_interactions:
- request:
    method: get
    uri: https://api.exa.ai/agent/runs?limit=5
    body:
      encoding: US-ASCII
      string: ''
    headers:
      x-api-key:
      - <EXA_API_KEY>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"data":[{"id":"run_01abc123def456ghi789jkl","object":"agent_run","status":"completed","stopReason":"end_turn","createdAt":1751198400000,"completedAt":1751198460000,"request":{"query":"AI infrastructure startups that raised Series A in 2025"},"output":{"text":"Based on my research, several AI infrastructure startups raised Series A funding in 2025.","structured":null,"grounding":[]},"usage":{"inputTokens":1500,"outputTokens":250},"costDollars":0.0423},{"id":"run_02xyz789def456abc123mno","object":"agent_run","status":"running","createdAt":1751198500000,"request":{"query":"Latest trends in AI chip design for 2025"}}],"hasMore":false,"nextCursor":null}'
  recorded_at: Mon, 29 Jun 2026 12:02:00 GMT
recorded_with: VCR 6.3.1
