# SYNTHETIC cassette — authored from documented schema, NOT a live recording. Replace with a live-recorded interaction during live-API verification.
---
http_interactions:
- request:
    method: delete
    uri: https://api.exa.ai/agent/runs/run_01abc123def456ghi789jkl
    body:
      encoding: US-ASCII
      string: ''
    headers:
      x-api-key:
      - <EXA_API_KEY>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"id":"run_01abc123def456ghi789jkl","object":"agent_run","status":"completed","stopReason":"end_turn","createdAt":1751198400000,"completedAt":1751198460000,"request":{"query":"AI infrastructure startups that raised Series A in 2025"}}'
  recorded_at: Mon, 29 Jun 2026 12:04:00 GMT
recorded_with: VCR 6.3.1
