# SYNTHETIC cassette — authored from documented schema, NOT a live recording. Replace with a live-recorded interaction during live-API verification.
---
http_interactions:
- request:
    method: get
    uri: https://api.exa.ai/agent/runs/run_01abc123def456ghi789jkl/events
    body:
      encoding: US-ASCII
      string: ''
    headers:
      x-api-key:
      - <EXA_API_KEY>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '[{"id":"evt_001","object":"agent_run_event","type":"agent_run.created","createdAt":1751198400000,"data":{"runId":"run_01abc123def456ghi789jkl","status":"queued"}},{"id":"evt_002","object":"agent_run_event","type":"agent_run.completed","createdAt":1751198460000,"data":{"runId":"run_01abc123def456ghi789jkl","status":"completed"}}]'
  recorded_at: Mon, 29 Jun 2026 12:05:00 GMT
recorded_with: VCR 6.3.1
