---
http_interactions:
- request:
    method: post
    uri: https://api.exa.ai/websets/v0/websets
    body:
      encoding: UTF-8
      string: '{"search":{"query":"AI/ML infrastructure startups with Series A funding","count":5}}'
    headers:
      X-Api-Key:
      - "<EXA_API_KEY>"
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Origin-Agent-Cluster:
      - "?1"
      Etag:
      - W/"30d-crLk1nNjGgFxSIE8oeBYdOrgMWw"
    body:
      encoding: UTF-8
      string: '{"id":"webset_01kaq2yp1tkvqtp1wys6w2s3df","object":"webset","status":"running","externalId":null,"title":null,"searches":[{"id":"wsearch_01kaq2ypdk46t9gc8xb506a5sr","object":"webset_search","websetId":"webset_01kaq2yp1tkvqtp1wys6w2s3df","status":"running","query":"AI/ML
        infrastructure startups with Series A funding","entity":{"type":"company"},"criteria":[],"count":5,"behavior":"override","exclude":[],"scope":[],"progress":{"found":0,"analyzed":0,"completion":0,"timeLeft":null},"recall":null,"metadata":{},"canceledAt":null,"canceledReason":null,"createdAt":"2025-11-23T00:48:50.099Z","updatedAt":"2025-11-23T00:48:50.519Z"}],"imports":[],"enrichments":[],"monitors":[],"excludes":[],"metadata":{},"createdAt":"2025-11-23T00:48:49.722Z","updatedAt":"2025-11-23T00:48:50.519Z"}'
  recorded_at: Sun, 23 Nov 2025 00:48:51 GMT
- request:
    method: post
    uri: https://api.exa.ai/websets/v0/websets/webset_01kaq2yp1tkvqtp1wys6w2s3df/cancel
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      X-Api-Key:
      - "<EXA_API_KEY>"
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Origin-Agent-Cluster:
      - "?1"
      Etag:
      - W/"3f9-iZ5SkcMW5xc1USy1NkUFLs4Tczk"
    body:
      encoding: ASCII-8BIT
      string: '{"id":"webset_01kaq2yp1tkvqtp1wys6w2s3df","object":"webset","status":"idle","externalId":null,"title":"Companies:
        AI/ML infrastructure startups, Series A funding","searches":[{"id":"wsearch_01kaq2ypdk46t9gc8xb506a5sr","object":"webset_search","websetId":"webset_01kaq2yp1tkvqtp1wys6w2s3df","status":"canceled","query":"AI/ML
        infrastructure startups with Series A funding","entity":{"type":"company"},"criteria":[{"description":"Early-stage
        company (startup) providing AI/ML infrastructure products or services that
        has raised Series A funding","successRate":0}],"count":5,"behavior":"override","exclude":[],"scope":[],"progress":{"found":0,"analyzed":0,"completion":100,"timeLeft":0},"recall":null,"metadata":{},"canceledAt":"2025-11-23T00:48:52.080Z","canceledReason":"webset_canceled","createdAt":"2025-11-23T00:48:50.099Z","updatedAt":"2025-11-23T00:48:52.341Z"}],"imports":[],"enrichments":[],"monitors":[],"excludes":[],"metadata":{},"createdAt":"2025-11-23T00:48:49.722Z","updatedAt":"2025-11-23T00:48:52.341Z"}'
  recorded_at: Sun, 23 Nov 2025 00:48:53 GMT
recorded_with: VCR 6.3.1
