---
http_interactions:
- request:
    method: post
    uri: https://api.exa.ai/websets/v0/websets
    body:
      encoding: UTF-8
      string: '{"search":{"query":"Tech startups in San Francisco","count":3},"enrichments":[{"description":"Find
        the company''s primary contact email","format":"text"}]}'
    headers:
      X-Api-Key:
      - "<EXA_API_KEY>"
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Origin-Agent-Cluster:
      - "?1"
      Etag:
      - W/"456-hVMGJtwzMaVDNWitxkHvxNcq8iU"
    body:
      encoding: UTF-8
      string: '{"id":"webset_01kaq2zmwjbre0mg7skzd5sepz","object":"webset","status":"running","externalId":null,"title":null,"searches":[{"id":"wsearch_01kaq2zn9htfjcd2e38c3gfnbq","object":"webset_search","websetId":"webset_01kaq2zmwjbre0mg7skzd5sepz","status":"running","query":"Tech
        startups in San Francisco","entity":{"type":"company"},"criteria":[],"count":3,"behavior":"override","exclude":[],"scope":[],"progress":{"found":0,"analyzed":0,"completion":0,"timeLeft":null},"recall":null,"metadata":{},"canceledAt":null,"canceledReason":null,"createdAt":"2025-11-23T00:49:21.713Z","updatedAt":"2025-11-23T00:49:22.116Z"}],"imports":[],"enrichments":[{"id":"wenrich_cmib031960032ge1svq65utlv","object":"webset_enrichment","status":"pending","websetId":"webset_01kaq2zmwjbre0mg7skzd5sepz","title":null,"description":"Find
        the company''s primary contact email","format":"text","options":null,"instructions":null,"metadata":{},"createdAt":"2025-11-23T00:49:21.691Z","updatedAt":"2025-11-23T00:49:21.691Z"}],"monitors":[],"excludes":[],"metadata":{},"createdAt":"2025-11-23T00:49:21.298Z","updatedAt":"2025-11-23T00:49:22.116Z"}'
  recorded_at: Sun, 23 Nov 2025 00:49:22 GMT
- request:
    method: post
    uri: https://api.exa.ai/websets/v0/websets/webset_01kaq2zmwjbre0mg7skzd5sepz/cancel
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      X-Api-Key:
      - "<EXA_API_KEY>"
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Origin-Agent-Cluster:
      - "?1"
      Etag:
      - W/"49e-3fUPLY8n+CjyqW3e+uOU0fQThGM"
    bo[...]
