---
http_interactions:
- request:
    method: post
    uri: https://api.exa.ai/websets/v0/websets
    body:
      encoding: UTF-8
      string: '{"search":{"query":"E-commerce companies in California","count":2}}'
    headers:
      X-Api-Key:
      - "<EXA_API_KEY>"
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Origin-Agent-Cluster:
      - "?1"
      Etag:
      - W/"2fc-ypMmUZVWzXL6HsLI0sPbFdmooA4"
    body:
      encoding: UTF-8
      string: '{"id":"webset_01kaq2yg7ch2g1fjt4vxf3wqag","object":"webset","status":"running","externalId":null,"title":null,"searches":[{"id":"wsearch_01kaq2ygjb0q9nnz1200xv8fsq","object":"webset_search","websetId":"webset_01kaq2yg7ch2g1fjt4vxf3wqag","status":"running","query":"E-commerce
        companies in California","entity":{"type":"company"},"criteria":[],"count":2,"behavior":"override","exclude":[],"scope":[],"progress":{"found":0,"analyzed":0,"completion":0,"timeLeft":null},"recall":null,"metadata":{},"canceledAt":null,"canceledReason":null,"createdAt":"2025-11-23T00:48:44.107Z","updatedAt":"2025-11-23T00:48:44.457Z"}],"imports":[],"enrichments":[],"monitors":[],"excludes":[],"metadata":{},"createdAt":"2025-11-23T00:48:43.756Z","updatedAt":"2025-11-23T00:48:44.457Z"}'
  recorded_at: Sun, 23 Nov 2025 00:48:45 GMT
- request:
    method: post
    uri: https://api.exa.ai/websets/v0/websets/webset_01kaq2yg7ch2g1fjt4vxf3wqag/cancel
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      X-Api-Key:
      - "<EXA_API_KEY>"
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Origin-Agent-Cluster:
      - "?1"
      Etag:
      - W/"3be-XSPoyckO85wNIZUhErJ/siqSPmU"
    body:
      encoding: ASCII-8BIT
      string: '{"id":"webset_01kaq2yg7ch2g1fjt4vxf3wqag","object":"webset","status":"idle","externalId":null,"title":"Companies:
        E-commerce, California","searches":[{"id":"wsearch_01kaq2ygjb0q9nnz1200xv8fsq","object":"webset_search","websetId":"webset_01kaq2yg7ch2g1fjt4vxf3wqag","status":"canceled","query":"E-commerce
        companies in California","entity":{"type":"company"},"criteria":[{"description":"Company
        operates in the e-commerce sector and is headquartered or primarily located
        in California","successRate":0}],"count":2,"behavior":"override","exclude":[],"scope":[],"progress":{"found":0,"analyzed":0,"completion":100,"timeLeft":0},"recall":null,"metadata":{},"canceledAt":"2025-11-23T00:48:45.998Z","canceledReason":"webset_canceled","createdAt":"2025-11-23T00:48:44.107Z","updatedAt":"2025-11-23T00:48:46.269Z"}],"imports":[],"enrichments":[],"monitors":[],"excludes":[],"metadata":{},"createdAt":"2025-11-23T00:48:43.756Z","updatedAt":"2025-11-23T00:48:46.269Z"}'
  recorded_at: Sun, 23 Nov 2025 00:48:47 GMT
recorded_with: VCR 6.3.1
