---
http_interactions:
- request:
    method: post
    uri: https://api.exa.ai/websets/v0/websets
    body:
      encoding: UTF-8
      string: '{"search":{"query":"AI startups","count":1}}'
    headers:
      X-Api-Key:
      - "<EXA_API_KEY>"
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Origin-Agent-Cluster:
      - "?1"
      Etag:
      - W/"2e5-iDTgFktR4Ur2vo3e7aCg6w1uuZI"
    body:
      encoding: UTF-8
      string: '{"id":"webset_01kaq2yvrhsxwmkeb3n4fkm5ew","object":"webset","status":"running","externalId":null,"title":null,"searches":[{"id":"wsearch_01kaq2ywejfg69sjkh39ge7bya","object":"webset_search","websetId":"webset_01kaq2yvrhsxwmkeb3n4fkm5ew","status":"running","query":"AI
        startups","entity":{"type":"company"},"criteria":[],"count":1,"behavior":"override","exclude":[],"scope":[],"progress":{"found":0,"analyzed":0,"completion":0,"timeLeft":null},"recall":null,"metadata":{},"canceledAt":null,"canceledReason":null,"createdAt":"2025-11-23T00:48:56.274Z","updatedAt":"2025-11-23T00:48:56.614Z"}],"imports":[],"enrichments":[],"monitors":[],"excludes":[],"metadata":{},"createdAt":"2025-11-23T00:48:55.569Z","updatedAt":"2025-11-23T00:48:56.614Z"}'
  recorded_at: Sun, 23 Nov 2025 00:48:57 GMT
- request:
    method: get
    uri: https://api.exa.ai/websets/v0/websets/webset_01kaq2yvrhsxwmkeb3n4fkm5ew
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Api-Key:
      - "<EXA_API_KEY>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Origin-Agent-Cluster:
      - "?1"
      Etag:
      - W/"2f0-6e1W35I7ojzdyvZfI0wlPz8PWu4"
    body:
      encoding: ASCII-8BIT
      string: '{"id":"webset_01kaq2yvrhsxwmkeb3n4fkm5ew","object":"webset","status":"running","externalId":null,"title":null,"searches":[{"id":"wsearch_01kaq2ywejfg69sjkh39ge7bya","object":"webset_search","websetId":"webset_01kaq2yvrhsxwmkeb3n4fkm5ew","status":"running","query":"AI
        startups","entity":{"type":"company"},"criteria":[],"count":1,"behavior":"override","exclude":[],"scope":[],"progress":{"found":0,"analyzed":0,"completion":0,"timeLeft":null},"recall":null,"metadata":{},"canceledAt":null,"canceledReason":null,"createdAt":"2025-11-23T00:48:56.274Z","updatedAt":"2025-11-23T00:48:56.614Z"}],"imports":[],"enrichments":[],"monitors":[],"excludes":[],"metadata":{},"createdAt":"2025-11-23T00:48:55.569Z","updatedAt":"2025-11-23T00:48:56.614Z","items":[]}'
  recorded_at: Sun, 23 Nov 2025 00:48:57 GMT
- request:
    method: get
    uri: https://api.exa.ai/websets/v0/websets/webset_01kaq2yvrhsxwmkeb3n4fkm5ew
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Api-Key:
      - "<EXA_API_KEY>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Origin-Agent-Cluster:
      - "?1"
      Etag:
      - W/"3d0-k09oPjzuVBlV9aNvjgovQzTWP/w"
    body:
      encoding: ASCII-8BIT
      string: '{"id":"webset_01kaq2yvrhsxwmkeb3n4fkm5ew","object":"webset","status":"running","externalId":null,"title":"Companies:
        AI startups","searches":[{"id":"wsearch_01kaq2ywejfg69sjkh39ge7bya","object":"webset_search","websetId":"webset_01kaq2yvrhsxwmkeb3n4fkm5ew","status":"running","query":"AI
        startups","entity":{"type":"company"},"criteria":[{"description":"Company
        operates in the artificial intelligence (AI) sector","successRate":0},{"description":"Company
        is an early-stage startup (not yet mature or established) as of 2025","successRate":0}],"count":1,"behavior":"override","exclude":[],"scope":[],"progress":{"found":0,"analyzed":0,"completion":0,"timeLeft":null},"recall":null,"metadata":{},"canceledAt":null,"canceledReason":null,"createdAt":"2025-11-23T00:48:56.274Z","updatedAt":"2025-11-23T00:48:58.114Z"}],"imports":[],"enrichments":[],"monitors":[],"excludes":[],"metadata":{},"createdAt":"2025-11-23T00:48:55.569Z","updatedAt":"2025-11-23T00:48:58.114Z","items":[]}'
  recorded_at: Sun, 23 Nov 2025 00:49:00 GMT
[...]
- request:
    method: post
    uri: https://api.exa.ai/websets/v0/websets/webset_01kaq2yvrhsxwmkeb3n4fkm5ew/cancel
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      X-Api-Key:
      - "<EXA_API_KEY>"
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Origin-Agent-Cluster:
      - "?1"
      Etag:
      - W/"3c7-t551q+oN8hcBpZqc37Hv1ArMvGg"
    bo[...]
