---
http_interactions:
- request:
    method: post
    uri: https://api.exa.ai/context
    body:
      encoding: UTF-8
      string: '{"query":"Express middleware","tokensNum":3000}'
    headers:
      Authorization:
      - Bearer <EXA_API_KEY>
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"requestId":"82c4198a1d6794503b52134fd77159e3","query":"Express middleware","response":"## Express Middleware\n\n```javascript\nconst express = require(''express'');\nconst app = express();\n\n// Built-in middleware to parse JSON\napp.use(express.json());\n\n// Custom middleware\napp.use((req, res, next) => {\n  console.log(`${req.method} ${req.path}`);\n  next();\n});\n\n// Route handler\napp.get(''/'', (req, res) => {\n  res.send(''Hello World'');\n});\n\napp.listen(3000, () => console.log(''Server started''));\n```","resultsCount":250,"costDollars":"{\"total\":0.5,\"search\":{\"neural\":0.5}}","searchTime":1500.5,"outputTokens":2850}'
  recorded_at: Sun, 19 Oct 2025 18:39:55 GMT
recorded_with: VCR 6.2.0
