---
http_interactions:
- request:
    method: post
    uri: https://api.exa.ai/websets/v0/websets
    body:
      encoding: UTF-8
      string: '{"search":{"query":"Healthcare tech startups","count":1}}'
    headers:
      X-Api-Key:
      - "<EXA_API_KEY>"
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Origin-Agent-Cluster:
      - "?1"
      Etag:
      - W/"2f2-olYAo9a5c+/6f9/T3JsE5xiLapc"
    body:
      encoding: UTF-8
      string: '{"id":"webset_01kaq324ar1dnxzbrndyrpgs67","object":"webset","status":"running","externalId":null,"title":null,"searches":[{"id":"wsearch_01kaq324q88jjvhe0zgwcgp981","object":"webset_search","websetId":"webset_01kaq324ar1dnxzbrndyrpgs67","status":"running","query":"Healthcare
        tech startups","entity":{"type":"company"},"criteria":[],"count":1,"behavior":"override","exclude":[],"scope":[],"progress":{"found":0,"analyzed":0,"completion":0,"timeLeft":null},"recall":null,"metadata":{},"canceledAt":null,"canceledReason":null,"createdAt":"2025-11-23T00:50:43.048Z","updatedAt":"2025-11-23T00:50:43.416Z"}],"imports":[],"enrichments":[],"monitors":[],"excludes":[],"metadata":{},"createdAt":"2025-11-23T00:50:42.648Z","updatedAt":"2025-11-23T00:50:43.416Z"}'
  recorded_at: Sun, 23 Nov 2025 00:50:44 GMT
- request:
    method: delete
    uri: https://api.exa.ai/websets/v0/websets/webset_01kaq324ar1dnxzbrndyrpgs67
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Api-Key:
      - "<EXA_API_KEY>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Origin-Agent-Cluster:
      - "?1"
      Etag:
      - W/"3a3-N4ZxfjDmKTJEE+hY1sxF6xUvuwg"
    body:
      encoding: ASCII-8BIT
      string: '{"id":"webset_01kaq324ar1dnxzbrndyrpgs67","object":"webset","status":"idle","externalId":null,"title":"Companies:
        healthcare tech startups","searches":[{"id":"wsearch_01kaq324q88jjvhe0zgwcgp981","object":"webset_search","websetId":"webset_01kaq324ar1dnxzbrndyrpgs67","status":"canceled","query":"Healthcare
        tech startups","entity":{"type":"company"},"criteria":[{"description":"Company
        is an early-stage startup operating in the healthcare technology sector","successRate":0}],"count":1,"behavior":"override","exclude":[],"scope":[],"progress":{"found":0,"analyzed":0,"completion":100,"timeLeft":0},"recall":null,"metadata":{},"canceledAt":"2025-11-23T00:50:46.074Z","canceledReason":"webset_deleted","createdAt":"2025-11-23T00:50:43.048Z","updatedAt":"2025-11-23T00:50:46.338Z"}],"imports":[],"enrichments":[],"monitors":[],"excludes":[],"metadata":{},"createdAt":"2025-11-23T00:50:42.648Z","updatedAt":"2025-11-23T00:50:46.338Z"}'
  recorded_at: Sun, 23 Nov 2025 00:50:47 GMT
recorded_with: VCR 6.3.1
