---
http_interactions:
- request:
    method: post
    uri: https://api.exa.ai/websets/v0/websets
    body:
      encoding: UTF-8
      string: '{"search":{"query":"SaaS companies in Seattle","count":1}}'
    headers:
      X-Api-Key:
      - "<EXA_API_KEY>"
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Origin-Agent-Cluster:
      - "?1"
      Etag:
      - W/"2f3-Xh6qzoKKP/f0+LExzVdz/YVZAYk"
    body:
      encoding: UTF-8
      string: '{"id":"webset_01kaq30rxzpgf7w9sdff9axg55","object":"webset","status":"running","externalId":null,"title":null,"searches":[{"id":"wsearch_01kaq30sca4wksbvnk7k13amz5","object":"webset_search","websetId":"webset_01kaq30rxzpgf7w9sdff9axg55","status":"running","query":"SaaS
        companies in Seattle","entity":{"type":"company"},"criteria":[],"count":1,"behavior":"override","exclude":[],"scope":[],"progress":{"found":0,"analyzed":0,"completion":0,"timeLeft":null},"recall":null,"metadata":{},"canceledAt":null,"canceledReason":null,"createdAt":"2025-11-23T00:49:58.666Z","updatedAt":"2025-11-23T00:50:00.556Z"}],"imports":[],"enrichments":[],"monitors":[],"excludes":[],"metadata":{},"createdAt":"2025-11-23T00:49:58.207Z","updatedAt":"2025-11-23T00:50:00.556Z"}'
  recorded_at: Sun, 23 Nov 2025 00:50:01 GMT
- request:
    method: get
    uri: https://api.exa.ai/websets/v0/websets/webset_01kaq30rxzpgf7w9sdff9axg55
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Api-Key:
      - "<EXA_API_KEY>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Origin-Agent-Cluster:
      - "?1"
      Etag:
      - W/"314-UzCCFZ8mUYvWzkHpQyORSZw86sw"
    body:
      encoding: ASCII-8BIT
      string: '{"id":"webset_01kaq30rxzpgf7w9sdff9axg55","object":"webset","status":"running","externalId":null,"title":"Companies:
        SaaS, Seattle","searches":[{"id":"wsearch_01kaq30sca4wksbvnk7k13amz5","object":"webset_search","websetId":"webset_01kaq30rxzpgf7w9sdff9axg55","status":"running","query":"SaaS
        companies in Seattle","entity":{"type":"company"},"criteria":[],"count":1,"behavior":"override","exclude":[],"scope":[],"progress":{"found":0,"analyzed":0,"completion":0,"timeLeft":null},"recall":null,"metadata":{},"canceledAt":null,"canceledReason":null,"createdAt":"2025-11-23T00:49:58.666Z","updatedAt":"2025-11-23T00:50:00.556Z"}],"imports":[],"enrichments":[],"monitors":[],"excludes":[],"metadata":{},"createdAt":"2025-11-23T00:49:58.207Z","updatedAt":"2025-11-23T00:50:01.036Z","items":[]}'
  recorded_at: Sun, 23 Nov 2025 00:50:02 GMT
- request:
    method: get
    uri: https://api.exa.ai/websets/v0/websets/webset_01kaq30rxzpgf7w9sdff9axg55
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Api-Key:
      - "<EXA_API_KEY>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Origin-Agent-Cluster:
      - "?1"
      Etag:
      - W/"3c1-Yh2wc5mAGOk8YsihxSDOpo9pYhc"
    body:
      encoding: ASCII-8BIT
      string: '{"id":"webset_01kaq30rxzpgf7w9sdff9axg55","object":"webset","status":"running","externalId":null,"title":"Companies:
        SaaS, Seattle","searches":[{"id":"wsearch_01kaq30sca4wksbvnk7k13amz5","object":"webset_search","websetId":"webset_01kaq30rxzpgf7w9sdff9axg55","status":"running","query":"SaaS
        companies in Seattle","entity":{"type":"company"},"criteria":[{"description":"Company
        provides Software as a Service (SaaS) products or services and is headquartered
        or has a significant office presence in Seattle, WA","successRate":0}],"count":1,"behavior":"override","exclude":[],"scope":[],"progress":{"found":0,"analyzed":0,"completion":0,"timeLeft":null},"recall":null,"metadata":{},"canceledAt":null,"canceledReason":null,"createdAt":"2025-11-23T00:49:58.666Z","updatedAt":"2025-11-23T00:50:03.946Z"}],"imports":[],"enrichments":[],"monitors":[],"excludes":[],"metadata":{},"createdAt":"2025-11-23T00:49:58.207Z","updatedAt":"2025-11-23T00:50:03.946Z","items":[]}'
  recorded_at: Sun, 23 Nov 2025 00:50:05 GMT
[...]
