---
http_interactions:
- request:
    method: post
    uri: https://api.exa.ai/websets/v0/websets
    body:
      encoding: UTF-8
      string: '{"search":{"query":"AI companies in San Francisco","count":1}}'
    headers:
      X-Api-Key:
      - "<EXA_API_KEY>"
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Origin-Agent-Cluster:
      - "?1"
      Etag:
      - W/"2f7-lbTZhICksKP57kuxAji8M0zUE2Y"
    body:
      encoding: UTF-8
      string: '{"id":"webset_01kaq31pjkk99qn280fy4zr26y","object":"webset","status":"running","externalId":null,"title":null,"searches":[{"id":"wsearch_01kaq31pymf5fk238rd193tb8m","object":"webset_search","websetId":"webset_01kaq31pjkk99qn280fy4zr26y","status":"running","query":"AI
        companies in San Francisco","entity":{"type":"company"},"criteria":[],"count":1,"behavior":"override","exclude":[],"scope":[],"progress":{"found":0,"analyzed":0,"completion":0,"timeLeft":null},"recall":null,"metadata":{},"canceledAt":null,"canceledReason":null,"createdAt":"2025-11-23T00:50:28.948Z","updatedAt":"2025-11-23T00:50:29.321Z"}],"imports":[],"enrichments":[],"monitors":[],"excludes":[],"metadata":{},"createdAt":"2025-11-23T00:50:28.563Z","updatedAt":"2025-11-23T00:50:29.321Z"}'
  recorded_at: Sun, 23 Nov 2025 00:50:29 GMT
- request:
    method: delete
    uri: https://api.exa.ai/websets/v0/websets/webset_01kaq31pjkk99qn280fy4zr26y
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Api-Key:
      - "<EXA_API_KEY>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Origin-Agent-Cluster:
      - "?1"
      Etag:
      - W/"3ed-D21cHSV2EDrrOggJXy7GP2CyrQo"
    body:
      encoding: ASCII-8BIT
      string: '{"id":"webset_01kaq31pjkk99qn280fy4zr26y","object":"webset","status":"idle","externalId":null,"title":"Companies:
        AI companies in San Francisco","searches":[{"id":"wsearch_01kaq31pymf5fk238rd193tb8m","object":"webset_search","websetId":"webset_01kaq31pjkk99qn280fy4zr26y","status":"canceled","query":"AI
        companies in San Francisco","entity":{"type":"company"},"criteria":[{"description":"Company
        operates in the artificial intelligence (AI) sector","successRate":100},{"description":"Company
        is headquartered in San Francisco, CA","successRate":100}],"count":1,"behavior":"override","exclude":[],"scope":[],"progress":{"found":1,"analyzed":1,"completion":100,"timeLeft":0},"recall":null,"metadata":{},"canceledAt":"2025-11-23T00:50:33.558Z","canceledReason":"webset_deleted","createdAt":"2025-11-23T00:50:28.948Z","updatedAt":"2025-11-23T00:50:33.821Z"}],"imports":[],"enrichments":[],"monitors":[],"excludes":[],"metadata":{},"createdAt":"2025-11-23T00:50:28.563Z","updatedAt":"2025-11-23T00:50:33.821Z"}'
  recorded_at: Sun, 23 Nov 2025 00:50:34 GMT
recorded_with: VCR 6.3.1
