---
http_interactions:
- request:
    method: post
    uri: https://api.exa.ai/websets/v0/websets
    body:
      encoding: UTF-8
      string: '{"search":{"query":"Fintech startups in New York","count":1},"metadata":{"test":"delete_test","purpose":"integration_testing"}}'
    headers:
      X-Api-Key:
      - "<EXA_API_KEY>"
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Origin-Agent-Cluster:
      - "?1"
      Etag:
      - W/"32a-b2w6+QYCjIkhKmMV92FoJR+M2mI"
    body:
      encoding: UTF-8
      string: '{"id":"webset_01kaq31ht0c48g0v81djkxw4ck","object":"webset","status":"running","externalId":null,"title":null,"searches":[{"id":"wsearch_01kaq31j6q68x32ncf3b2wqak9","object":"webset_search","websetId":"webset_01kaq31ht0c48g0v81djkxw4ck","status":"running","query":"Fintech
        startups in New York","entity":{"type":"company"},"criteria":[],"count":1,"behavior":"override","exclude":[],"scope":[],"progress":{"found":0,"analyzed":0,"completion":0,"timeLeft":null},"recall":null,"metadata":{},"canceledAt":null,"canceledReason":null,"createdAt":"2025-11-23T00:50:24.087Z","updatedAt":"2025-11-23T00:50:24.458Z"}],"imports":[],"enrichments":[],"monitors":[],"excludes":[],"metadata":{"test":"delete_test","purpose":"integration_testing"},"createdAt":"2025-11-23T00:50:23.680Z","updatedAt":"2025-11-23T00:50:24.458Z"}'
  recorded_at: Sun, 23 Nov 2025 00:50:25 GMT
- request:
    method: delete
    uri: https://api.exa.ai/websets/v0/websets/webset_01kaq31ht0c48g0v81djkxw4ck
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Api-Key:
      - "<EXA_API_KEY>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Origin-Agent-Cluster:
      - "?1"
      Etag:
      - W/"36e-BKzgIGI/eNBxbbuPYwBfFZDQ5Pc"
    body:
      encoding: ASCII-8BIT
      string: '{"id":"webset_01kaq31ht0c48g0v81djkxw4ck","object":"webset","status":"idle","externalId":null,"title":"Companies:
        Fintech startups in New York","searches":[{"id":"wsearch_01kaq31j6q68x32ncf3b2wqak9","object":"webset_search","websetId":"webset_01kaq31ht0c48g0v81djkxw4ck","status":"canceled","query":"Fintech
        startups in New York","entity":{"type":"company"},"criteria":[],"count":1,"behavior":"override","exclude":[],"scope":[],"progress":{"found":0,"analyzed":0,"completion":100,"timeLeft":0},"recall":null,"metadata":{},"canceledAt":"2025-11-23T00:50:26.400Z","canceledReason":"webset_deleted","createdAt":"2025-11-23T00:50:24.087Z","updatedAt":"2025-11-23T00:50:26.669Z"}],"imports":[],"enrichments":[],"monitors":[],"excludes":[],"metadata":{"test":"delete_test","purpose":"integration_testing"},"createdAt":"2025-11-23T00:50:23.680Z","updatedAt":"2025-11-23T00:50:26.669Z"}'
  recorded_at: Sun, 23 Nov 2025 00:50:27 GMT
recorded_with: VCR 6.3.1
