---
http_interactions:
- request:
    method: post
    uri: https://api.exa.ai/findSimilar
    body:
      encoding: UTF-8
      string: '{"url":"https://arxiv.org/abs/2307.06435"}'
    headers:
      Authorization:
      - Bearer <EXA_API_KEY>
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Origin-Agent-Cluster:
      - "?1"
      X-Ratelimit-Limit:
      - '9007199254740991'
      X-Ratelimit-Remaining:
      - '9007199254740990'
      X-Ratelimit-Reset:
      - '1760898063'
      Etag:
      - W/"e15-tobCQwIbXpMiDWsS8xm2rr8V64A"
    body:
      encoding: ASCII-8BIT
      string: '{"requestId":"09fdbe971614c4e6d96aa98dbeba9ce3","results":[{"id":"https://www.researchgate.net/publication/372341712_A_Comprehensive_Overview_of_Large_Language_Models","title":"(PDF)
        A Comprehensive Overview of Large Language Models","url":"https://www.researchgate.net/publication/372341712_A_Comprehensive_Overview_of_Large_Language_Models","publishedDate":"2023-07-12T00:00:00.000Z","author":null,"score":0.9479102492332458},{"id":"https://ar5iv.labs.arxiv.org/html/2307.06435","title":"A
        Comprehensive Overview of Large Language Models","url":"https://ar5iv.labs.arxiv.org/html/2307.06435","publishedDate":"2022-12-12T00:00:00.000Z","author":null,"score":0.9376184940338135},{"id":"https://arxiv.org/abs/2307.10188","title":"Several
        categories of Large Language Models (LLMs): A Short Survey","url":"https://arxiv.org/abs/2307.10188","publishedDate":"2023-07-05T00:00:00.000Z","author":"[[...]
