---
http_interactions:
- request:
    method: post
    uri: https://api.exa.ai/findSimilar
    body:
      encoding: UTF-8
      string: '{"url":"https://arxiv.org/abs/2307.06435"}'
    headers:
      X-Api-Key:
      - "<EXA_API_KEY>"
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Origin-Agent-Cluster:
      - "?1"
      X-Ratelimit-Limit:
      - '2250'
      X-Ratelimit-Remaining:
      - '2246'
      X-Ratelimit-Reset:
      - '1771962295'
      Etag:
      - W/"aeb-J6LaPudUw9Ts0w2TXq+R355b02s"
    body:
      encoding: ASCII-8BIT
      string: '{"requestId":"c361f236f7f523ac3db1c6120f51858a","results":[{"id":"https://arxiv.org/html/2307.06435v7","title":"A
        Comprehensive Overview of\n Large Language Models","url":"https://arxiv.org/html/2307.06435v7","author":null,"score":0.9649350643157959},{"id":"https://ui.adsabs.harvard.edu/abs/2023arXiv230706435N/abstract","title":"A
        Comprehensive Overview of Large Language Models","url":"https://ui.adsabs.harvard.edu/abs/2023arXiv230706435N/abstract","publishedDate":"2023-07-01T00:00:00.000Z","author":"Mian,
        Ajmal","score":0.9441059231758118},{"id":"https://spacefrontiers.org/r/10.48550/arxiv.2307.06435","title":"A
        Comprehensive Overview of Large Language Models","url":"https://spacefrontiers.org/r/10.48550/arxiv.2307.06435","publishedDate":"2024-04-11T00:00:00.000Z","author":null,"score":0.9425663948059082},{"id":"https://www.ablesci.com/scholar/paper?id=E1p5bJ6N3","title":"","url":"https://www.ablesci.com/scholar/paper?id=E1p5bJ6N3","autho[...]
