---
http_interactions:
- request:
    method: get
    uri: https://api.exa.ai/research/v1/r_01k7ywj6r2er4h7ff1cdf7y8c7
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <EXA_API_KEY>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Origin-Agent-Cluster:
      - "?1"
      Etag:
      - W/"b4-IIfYlpPIp4eBdZIYlkKyuryY8Bk"
    body:
      encoding: ASCII-8BIT
      string: '{"researchId":"r_01k7ywj6r2er4h7ff1cdf7y8c7","createdAt":1760899439363,"model":"exa-research","instructions":"What
        species of ant are similar to honeypot ants?","status":"running"}'
  recorded_at: Sun, 19 Oct 2025 18:52:37 GMT
recorded_with: VCR 6.3.1
