---
http_interactions:
- request:
    method: post
    uri: https://api.exa.ai/research/v1
    body:
      encoding: UTF-8
      string: '{"instructions":"What species of ant are similar to honeypot ants?","model":"exa-research"}'
    headers:
      x-api-key:
      - <EXA_API_KEY>
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Origin-Agent-Cluster:
      - "?1"
      Etag:
      - W/"b4-IIfYlpPIp4eBdZIYlkKyuryY8Bk"
    body:
      encoding: UTF-8
      string: '{"researchId":"r_01k7ywj6r2er4h7ff1cdf7y8c7","createdAt":1760899439363,"model":"exa-research","instructions":"What
        species of ant are similar to honeypot ants?","status":"running"}'
  recorded_at: Sun, 19 Oct 2025 18:43:59 GMT
recorded_with: VCR 6.3.1
