---
http_interactions:
- request:
    method: get
    uri: https://api.exa.ai/research/v1?limit=5
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <EXA_API_KEY>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Origin-Agent-Cluster:
      - "?1"
      Etag:
      - W/"2d-3W7LecE7NkDXwFAwADXR1xUtuSg"
    body:
      encoding: ASCII-8BIT
      string: '{"data":[],"hasMore":false,"nextCursor":null}'
  recorded_at: Sun, 19 Oct 2025 18:42:54 GMT
recorded_with: VCR 6.3.1
