---
http_interactions:
- request:
    method: post
    uri: https://api.exa.ai/search
    body:
      encoding: UTF-8
      string: '{"query":"Ruby programming language","includeDomains":["ruby-lang.org"],"numResults":5,"type":"auto"}'
    headers:
      X-Api-Key:
      - "<EXA_API_KEY>"
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Origin-Agent-Cluster:
      - "?1"
      X-Ratelimit-Limit:
      - '450'
      X-Ratelimit-Remaining:
      - '433'
      X-Ratelimit-Reset:
      - '1772811274'
      Etag:
      - W/"3f8-rHF7MQ/r+x2tauJ9kxFkxRbha5k"
    body:
      encoding: ASCII-8BIT
      string: '{"requestId":"126ed33fdd30e1831622e1b2b6a6bafb","resolvedSearchType":"neural","results":[{"id":"https://www.ruby-lang.org/en/news/2025/12/25/ruby-4-0-0-released/","title":"Ruby
        4.0.0 Released","url":"https://www.ruby-lang.org/en/news/2025/12/25/ruby-4-0-0-released/","author":null},{"id":"https://www.ruby-lang.org/en/","title":"Ruby
        Programming Language","url":"https://www.ruby-lang.org/en/","author":null},{"id":"https://www.ruby-lang.org/en/documentation/","title":"Documentation
        - Ruby","url":"https://www.ruby-lang.org/en/documentation/","author":null},{"id":"https://www.ruby-lang.org/en/documentation/ruby-from-other-languages/","title":"Ruby
        From Other Languages","url":"https://www.ruby-lang.org/en/documentation/ruby-from-other-languages/","author":null},{"id":"https://www.ruby-lang.org/en/documentation/quickstart/","title":"Ruby
        in Twenty Minutes","url":"https://www.ruby-lang.org/en/documentation/quickstart/","author":null}],"searchTime":950.4,"costDollars":{"total":0.005,"search":{"neural":0.005}}}'
  recorded_at: Fri, 06 Mar 2026 15:34:33 GMT
recorded_with: VCR 6.3.1
