---
http_interactions:
- request:
    method: post
    uri: https://api.exa.ai/search
    body:
      encoding: UTF-8
      string: '{"query":"web development","type":"auto","contents":{"extras":{"links":3,"imageLinks":2}}}'
    headers:
      X-Api-Key:
      - "<EXA_API_KEY>"
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Origin-Agent-Cluster:
      - "?1"
      X-Ratelimit-Limit:
      - '2250'
      X-Ratelimit-Remaining:
      - '1883'
      X-Ratelimit-Reset:
      - '1771962481'
      Etag:
      - W/"1925-9b9OMIEwHtwDlzEbmYtB1htAS78"
    body:
      encoding: ASCII-8BIT
      string: '{"requestId":"ec3c6cc2ffd8b8946bb168f0b02e4d4c","results":[{"id":"https://exa.ai/library/company/w3schools.com","title":"W3Schools.com","url":"https://w3schools.com/","publishedDate":"2026-01-21T00:00:00.000Z","author":"Exa","image":"https://www.w3schools.com/images/w3schools_logo_436_2.png","favicon":"https://www.w3schools.com/favicon-32x32.png","extras":{"links":["https://www.w3schools.com/","https://profile.w3schools.com/log-in","https://campus.w3schools.com/collections/course-catalog"],"imageLinks":["https://www.w3schools.com/images/colorpicker2000.png","https://www.w3schools.com/signup/lynxlogo.svg"]}},{"id":"https://exa.ai/library/company/google","title":"Google","url":"https://google.com/","publishedDate":"2026-01-22T00:00:00.000Z","author":"Exa","image":"https://media.licdn.com/dms/im[...]
