---
http_interactions:
- request:
    method: post
    uri: https://api.exa.ai/search
    body:
      encoding: UTF-8
      string: '{"query":"machine learning","includeText":["neural networks"],"excludeText":["cryptocurrency"]}'
    headers:
      x-api-key:
      - <EXA_API_KEY>
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Origin-Agent-Cluster:
      - "?1"
      X-Ratelimit-Limit:
      - '9007199254740991'
      X-Ratelimit-Remaining:
      - '9007199254740990'
      X-Ratelimit-Reset:
      - '1760931292'
      Etag:
      - W/"af4-lTkXXzgeMuZFcRQWTBTx9ln5Y4o"
    body:
      encoding: ASCII-8BIT
      string: '{"requestId":"66c83904b7cc1bd5f92f6c50e7ae5752","autopromptString":"machine
        learning","resolvedSearchType":"neural","results":[{"id":"https://en.wikipedia.org/wiki/Machine_learning","title":"Machine
        learning","url":"https://en.wikipedia.org/wiki/Machine_learning","publishedDate":"2025-06-09T00:00:00.000Z","author":"Contributors
        to Wikimedia projects"},{"id":"https://www.ibm.com/think/topics/machine-learning","title":"Machine
        Learning","url":"https://www.ibm.com/think/topics/machine-learning","publishedDate":"2021-09-22T00:00:00.000Z","author":"IBM"},{"id":"https://www.salesforce.com/ca/artificial-intelligence/what-is-machine-learning/?bc=HA","title":"What
        is Machine Learning?","url":"https://www.salesforce.com/ca/artificial-intelligence/what-is-machine-learning/?bc=HA","publishedDa[...]
