---
http_interactions:
- request:
    method: post
    uri: https://api.exa.ai/search
    body:
      encoding: UTF-8
      string: '{"query":"web development","contents":{"extras":{"links":3,"imageLinks":2}}}'
    headers:
      x-api-key:
      - <EXA_API_KEY>
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Origin-Agent-Cluster:
      - "?1"
      X-Ratelimit-Limit:
      - '9007199254740991'
      X-Ratelimit-Remaining:
      - '9007199254740990'
      X-Ratelimit-Reset:
      - '1760931306'
      Etag:
      - W/"177e-S0USZT6I2lKp5kSRETx+7XdPu8c"
    body:
      encoding: ASCII-8BIT
      string: '{"requestId":"cbb5bd921b187bf7ebb690761f2fa5df","autopromptString":"web
        development","resolvedSearchType":"neural","results":[{"id":"https://developer.mozilla.org/en-US/docs/Learn_web_development","title":"Learn
        web development - MDN - Mozilla","url":"https://developer.mozilla.org/en-US/docs/Learn_web_development","publishedDate":"2025-04-28T00:00:00.000Z","author":"","image":"https://developer.mozilla.org/mdn-social-share.d893525a4fb5fb1f67a2.png","extras":{"links":["https://developer.mozilla.org/en-US/docs/Learn_web_development#content","https://developer.mozilla.org/en-US/docs/Learn_web_development#top-nav-search-input","https://developer.mozilla.org/en-US/docs/Learn_web_development#languages-switcher-button"],"imageLinks":[]}},{"id":"https://developer.mozilla.org/en-US/docs/Learn","title":"Learn
        web development | MDN","url":"https://developer.mozilla.org/en-US/docs/Learn","publishedDate":"2024-09-07T00:00:00.000Z","author":"","image":"https://developer.mozilla.org/mdn-social-share.d893525a4fb5fb1f67a2.png","favicon":"https://developer.mozilla.org/favicon-48x48.bc390275e955dacb2e65.png","extras":{"links":["https://developer.mozilla.org/en-US/docs/Learn","https://developer.mozilla.org/en-US/docs/Learn","https://developer.mozilla.org/en-US/docs/Learn"],"imageLinks":[]}},{"id":"https://developer.mozilla.org/en-US/docs/Web","title":"Web
        technology for developers | MDN","url":"https://developer.mozilla.org/en-US/docs/Web","publishedDate":"2025-02-21T00:00:00.000Z","author":"","image":"https://developer.mo[...]
