---
http_interactions:
- request:
    method: post
    uri: https://api.exa.ai/search
    body:
      encoding: UTF-8
      string: '{"query":"web development","type":"auto","contents":{"extras":{"links":3,"imageLinks":2}}}'
    headers:
      X-Api-Key:
      - "<EXA_API_KEY>"
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Origin-Agent-Cluster:
      - "?1"
      X-Ratelimit-Limit:
      - '450'
      X-Ratelimit-Remaining:
      - '346'
      X-Ratelimit-Reset:
      - '1772811277'
      Etag:
      - W/"1849-Gysvp48Szs0fz8nBH+pNPgir3Yg"
    body:
      encoding: ASCII-8BIT
      string: '{"requestId":"d3b321578873e5c2293234e5d55e46e8","resolvedSearchType":"neural","results":[{"id":"https://exa.ai/library/company/skills-web-development","title":"Web
        Development","url":"https://linkedin.com/company/skills-web-development","publishedDate":"2026-01-23T00:00:00.000Z","author":"Exa","image":"https://media.licdn.com/dms/image/v2/C4E0BAQFaajynAioghw/company-logo_200_200/company-logo_200_200/0/1674601383024?e=2147483647&v=beta&t=JoE6NPKHLFAOxE3WRY-rStOPgGmUldR-UXugHgIx4Ds","extras":{"links":[],"imageLinks":[]}},{"id":"https://exa.ai/library/company/bay-area-web-development","title":"Bay
        Area Web Development","url":"https://bayareawebdevelopment.com/","publishedDate":"2026-01-24T00:00:00.000Z","author":"","image":"https://media.licdn.com/dms/image/v2/D560BAQEnZqFwi6KgVg/company-logo_200_200/B56ZXVUriAHQAU-/0/1743040723331/bay_area_web_development_logo?e=2147483647&v=beta&t=PmJ-5jUmwyjLMRoglyFFVzhWGCKnaFqsK18dQzDsmc0","favicon":"https://bayareawebdevelopment.com/wp-content/uploads/cropped-ico-500-inv-32x32.jpg","extras":{"links":["https://bayareawebdevelopment.com/","https://bayareawebdevelopment.com/about/","https://bayareawebdevelopment.com/websites/"],"imageLinks":["https://bayareawebdevelopment.com/wp-content/uploads/bawd-logo-w-250.png","https://bayareawebdevelopment.com/wp-content/uploads/logo1.png"]}},{"id":"https://exa.ai/library/company/w3schools.com","title":"W3Schools.com","url":"https://w3schools.com/","pub[...]
