---
http_interactions:
- request:
    method: post
    uri: https://api.exa.ai/search
    body:
      encoding: UTF-8
      string: '{"query":"Ruby programming language","numResults":3,"type":"auto"}'
    headers:
      X-Api-Key:
      - "<EXA_API_KEY>"
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Origin-Agent-Cluster:
      - "?1"
      X-Ratelimit-Limit:
      - '450'
      X-Ratelimit-Remaining:
      - '448'
      X-Ratelimit-Reset:
      - '1772811280'
      Etag:
      - W/"29e-Tqu4/KXyfGNTG8eoIkj0BBQ5UY0"
    body:
      encoding: ASCII-8BIT
      string: '{"requestId":"2340eaa254ebf9b5430ca869061a8423","resolvedSearchType":"neural","results":[{"id":"https://en.wikipedia.org/wiki/Ruby_(programming_language)","title":"Ruby
        (programming language)","url":"https://en.wikipedia.org/wiki/Ruby_(programming_language)","author":null},{"id":"https://www.geeksforgeeks.org/ruby/ruby-programming-language/","title":"Ruby
        Programming Language","url":"https://www.geeksforgeeks.org/ruby/ruby-programming-language/","author":null},{"id":"https://github.com/ruby/ruby","title":"The
        Ruby Programming Language","url":"https://github.com/ruby/ruby","author":null}],"searchTime":631.3,"costDollars":{"total":0.005,"search":{"neural":0.005}}}'
  recorded_at: Fri, 06 Mar 2026 15:34:38 GMT
recorded_with: VCR 6.3.1
