---
http_interactions:
- request:
    method: post
    uri: https://api.exa.ai/search
    body:
      encoding: UTF-8
      string: '{"query":"machine learning","includeText":["neural networks"],"excludeText":["cryptocurrency"],"type":"auto"}'
    headers:
      X-Api-Key:
      - "<EXA_API_KEY>"
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Origin-Agent-Cluster:
      - "?1"
      X-Ratelimit-Limit:
      - '450'
      X-Ratelimit-Remaining:
      - '428'
      X-Ratelimit-Reset:
      - '1772811291'
      Etag:
      - W/"9a6-bpK3q0c/QWNX2p+zhGLPN773ms0"
    body:
      encoding: ASCII-8BIT
      string: '{"requestId":"01c52c7e01157cc4ec6c3bd9ad411480","resolvedSearchType":"neural","results":[{"id":"https://en.wikipedia.org/wiki/Machine_learning","title":"Machine
        learning","url":"https://en.wikipedia.org/wiki/Machine_learning","author":null},{"id":"https://www.ibm.com/think/topics/machine-learning","title":"What
        is Machine Learning? | IBM","url":"https://www.ibm.com/think/topics/machine-learning","author":null},{"id":"https://www.coursera.org/articles/what-is-machine-learning","title":"What
        Is Machine Learning? Definition, Types, and Examples","url":"https://www.coursera.org/articles/what-is-machine-learning","author":null},{"id":"https://mitsloan.mit.edu/ideas-made-to-matter/machine-learning-explained","title":"Machine
        learning, explained","url":"https://mitsloan.mit.edu/ideas-made-to-matter/machine-learning-explained","author":null},{"id":"https://www.mckinsey.com/featured-insights/mckinsey-explainers/what-is-machine-learning","title":"What
        is machine learning (ML)?","url":"https://www.mckinsey.com/featured-insights/mckinsey-explainers/what-is-machine-learning","author":null},{"id":"https://www.oracle.com/business-analytics/machine-learning/","title":"Machine
        Learning and Analytics: An Expert Guide","url":"https://www.oracle.com/business-analytics/machine-learning/","publishedDate":"2024-10-18T00:00:00.000Z","author":""},{"id":"https://www.databricks.com/blog/what-are-machine-learning-models","title":"What
        are Machine Learning Models? Types","url":"https://www.databricks.com/blog/what-are-machine-learning-models","author":null},{"id":"https://www.coursera.org/learn/machine-learning-and-its-engineering-applications","title":"Machine
        Learning and its Applications | Coursera","url":"https://www.coursera.org/learn/machine-learning-and-its-engineering-applications","publishedDate":"2025-11-23T00:00:00.000Z","author":""},{"id":"https://www.mltut.com/machine-learning-roadmap-with-free-resources/","title":"Machine
        Learning Roadmap With Free Resources- Step-By-Step","url":"https://www.mltut.com/machine-learning-roadmap-with-free-resources/","publishedDate":"2025-12-04T00:00:00.000Z","author":"Aqsa
        Zafar"},{"id":"https://nature.com/articles/s44384-025-00021-w","title":"Machine
        Learning in Acoustics: A Review and Open-source Repository | npj Acoustics","url":"https://nature.com/articles/s44384-025-00021-w","publishedDate":"2025-09-09T00:00:00.000Z","author":""}],"searchTime":938.2,"costDollars":{"total":0.005,"search":{"neural":0.005}}}'
  recorded_at: Fri, 06 Mar 2026 15:34:50 GMT
recorded_with: VCR 6.3.1
