---
http_interactions:
- request:
    method: post
    uri: https://api.exa.ai/search
    body:
      encoding: UTF-8
      string: '{"query":"JavaScript framework","type":"auto","contents":{"subpages":1,"subpageTarget":["docs","documentation","guide"]}}'
    headers:
      X-Api-Key:
      - "<EXA_API_KEY>"
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Origin-Agent-Cluster:
      - "?1"
      X-Ratelimit-Limit:
      - '450'
      X-Ratelimit-Remaining:
      - '364'
      X-Ratelimit-Reset:
      - '1772811276'
      Etag:
      - W/"a1b-XsakdTkL2j1QcKJ1IhYZv7CdLHY"
    body:
      encoding: ASCII-8BIT
      string: '{"requestId":"f07d9b850a48cbc4e2125e306b05f306","resolvedSearchType":"neural","results":[{"id":"https://medium.com/%40hashbyt/react-vs-vue-vs-angular-2026-6f5e9b3f0e3e","title":"React
        vs Vue vs Angular 2026: Which JavaScript Framework Should You Choose? | Medium","url":"https://medium.com/%40hashbyt/react-vs-vue-vs-angular-2026-6f5e9b3f0e3e","publishedDate":"2026-02-19T00:00:00.000Z","author":"Hashbyt
        | AI-First Frontend & UI/UX SaaS Partner","subpages":[]},{"id":"https://strapi.io/blog/best-javascript-frameworks","title":"6
        Best Javascript Frameworks for 2025 - Strapi","url":"https://strapi.io/blog/best-javascript-frameworks","author":null,"subpages":[]},{"id":"https://www.testmuai.com/blog/best-javascript-frameworks/","title":"The
        17 Best JavaScript Frameworks for Web Development and Testing ...","url":"https://www.testmuai.com/blog/best-javascript-framework[...]
