---
http_interactions:
- request:
    method: post
    uri: https://api.exa.ai/search
    body:
      encoding: UTF-8
      string: '{"query":"JavaScript framework","type":"auto","contents":{"subpages":1,"subpageTarget":["docs","documentation","guide"]}}'
    headers:
      X-Api-Key:
      - "<EXA_API_KEY>"
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Origin-Agent-Cluster:
      - "?1"
      X-Ratelimit-Limit:
      - '2250'
      X-Ratelimit-Remaining:
      - '1899'
      X-Ratelimit-Reset:
      - '1771962481'
      Etag:
      - W/"c64-CGD8c2tbf3/0Dw9t72GzCvHujh4"
    body:
      encoding: ASCII-8BIT
      string: '{"requestId":"2d589ea1f5beba3b51a8cf12591919fa","results":[{"id":"https://developer.mozilla.org/en-US/docs/Learn_web_development/Core/Frameworks_libraries","title":"JavaScript
        frameworks and libraries - Learn web development | MDN","url":"https://developer.mozilla.org/en-US/docs/Learn_web_development/Core/Frameworks_libraries","publishedDate":"2025-10-02T00:00:00.000Z","author":null,"subpages":[]},{"id":"https://en.wikipedia.org/wiki/Comparison_of_JavaScript-based_web_frameworks","title":"Comparison
        of JavaScript-based web frameworks - Wikipedia","url":"https://en.wikipedia.org/wiki/Comparison_of_JavaScript-based_web_frameworks","author":null,"subpages":[]},{"id":"https://strapi.io/blog/best-javascript-frameworks","title":"6
        Best Javascript Frameworks for 2025 - Strapi","url":"https://strapi.io/blog/best-javascript-frameworks","publishedDate":"2026-01-2[...]
