---
http_interactions:
- request:
    method: post
    uri: https://api.exa.ai/search
    body:
      encoding: UTF-8
      string: '{"query":"JavaScript framework","contents":{"subpages":1,"subpageTarget":["docs","documentation","guide"]}}'
    headers:
      Authorization:
      - Bearer <EXA_API_KEY>
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Origin-Agent-Cluster:
      - "?1"
      X-Ratelimit-Limit:
      - '9007199254740991'
      X-Ratelimit-Remaining:
      - '9007199254740990'
      X-Ratelimit-Reset:
      - '1760931291'
      Etag:
      - W/"b77-fybnTipqHpsBMWQgn9dvFzW9FPQ"
    body:
      encoding: ASCII-8BIT
      string: '{"requestId":"fe98f2eb9d1432c3c669d34b90f0b197","autopromptString":"JavaScript
        framework","resolvedSearchType":"neural","results":[{"id":"https://www.lambdatest.com/blog/best-javascript-frameworks/","title":"27
        Best JavaScript Frameworks For 2025 | LambdaTest","url":"https://www.lambdatest.com/blog/best-javascript-frameworks/","publishedDate":"2025-01-03T00:00:00.000Z","author":null,"subpages":[]},{"id":"https://www.contentful.com/blog/best-javascript-frameworks/","title":"Building
        an app? These are the best JavaScript frameworks in 2025","url":"https://www.contentful.com/blog/best-javascript-frameworks/","publishedDate":"2025-01-30T00:00:00.000Z","author":null,"subpages":[]},{"id":"https://hackr.io/blog/best-javascript-frameworks","title":"10
        Best JavaScript Frameworks in 2025 [Updated] - Hackr.io","url":"https://hackr.io/blog/best-javascript-framework[...]
