---
http_interactions:
- request:
    method: post
    uri: https://api.exa.ai/search
    body:
      encoding: UTF-8
      string: '{"query":"Ruby programming","additionalQueries":["Rails framework","Ruby
        gems"],"numResults":3,"type":"auto"}'
    headers:
      X-Api-Key:
      - "<EXA_API_KEY>"
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Origin-Agent-Cluster:
      - "?1"
      X-Ratelimit-Limit:
      - '450'
      X-Ratelimit-Remaining:
      - '395'
      X-Ratelimit-Reset:
      - '1772811276'
      Etag:
      - W/"361-sijxJa4t6yXdNExH11zZXeBJDVg"
    body:
      encoding: ASCII-8BIT
      string: '{"requestId":"ccf846a0f035f470f0ea1198cab6b594","results":[{"id":"https://ironcoders.com/learn/ruby/","title":"Introduction
        to Programming in Ruby","url":"https://ironcoders.com/learn/ruby/","publishedDate":"2025-03-25T00:00:00.000Z","author":""},{"id":"https://reintech.io/blog/introduction-to-ruby-programming","title":"Introduction
        to Ruby Programming | Reintech media","url":"https://reintech.io/blog/introduction-to-ruby-programming","publishedDate":"2023-05-19T00:00:00.000Z","author":"Arthur
        C. Codex"},{"id":"https://www.masaischool.com/blog/ruby-programming-language-guide/","title":"What
        is the Ruby programming language?","url":"https://www.masaischool.com/blog/ruby-programming-language-guide/","publishedDate":"2023-09-09T00:00:00.000Z","author":""}],"searchTime":4,"resolvedSearchType":"neural","costDollars":{"total":0.005,"search":{"neural":0.005}}}'
  recorded_at: Fri, 06 Mar 2026 15:34:34 GMT
recorded_with: VCR 6.3.1
