---
http_interactions:
- request:
    method: post
    uri: https://api.exa.ai/search
    body:
      encoding: UTF-8
      string: '{"query":"What are the latest breakthroughs in quantum error correction?","type":"deep-reasoning"}'
    headers:
      X-Api-Key:
      - "<EXA_API_KEY>"
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Origin-Agent-Cluster:
      - "?1"
      X-Ratelimit-Limit:
      - '2'
      X-Ratelimit-Remaining:
      - '1'
      X-Ratelimit-Reset:
      - '1772775347'
      Etag:
      - W/"1295-Xqr5Tf1X0mRybd9w6D393eTYXAM"
    body:
      encoding: ASCII-8BIT
      string: '{"requestId":"6f683270666bb3e14cae5a8bdbcb7fe2","resolvedSearchType":"deep-reasoning","results":[{"id":"https://nature.com/articles/s41567-025-03157-4","title":"Demonstration
        of low-overhead quantum error correction codes | Nature Physics","url":"https://nature.com/articles/s41567-025-03157-4","publishedDate":"2026-01-22T00:00:00.000Z","author":"","image":"https://media.springernature.com/m685/springer-static/image/art%3A10.1038%2Fs41567-025-03157-4/MediaObjects/41567_2025_3157_Fig1_HTML.png","favicon":"http://nature.com/static/images/favicons/nature/favicon-32x32-3fe59ece92.png"},{"id":"https://arxiv.org/abs/2601.09921","title":"Quantum
        Physics","url":"https://arxiv.org/abs/2601.09921","author":""},{"id":"https://phys.org/news/2026-01-error-technology-quantum-real-world.html","title":"Error-correction
        technology to turn quantum computing into real-world power","url":"https://phys.org/news/2026-01-error-technology-quantum-real-world.html","author":null,"image":"https://scx2.b-c[...]
