---
http_interactions:
- request:
    method: post
    uri: https://api.exa.ai/websets/v0/websets
    body:
      encoding: UTF-8
      string: '{"search":{"query":"SaaS companies in Europe","count":1}}'
    headers:
      X-Api-Key:
      - "<EXA_API_KEY>"
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Origin-Agent-Cluster:
      - "?1"
      Etag:
      - W/"2f2-rlE0Hfr0bHr/1IzGF7b/vX1nDsQ"
    body:
      encoding: UTF-8
      string: '{"id":"webset_01kaq2x1x0dszn0gc8pg2jmv65","object":"webset","status":"running","externalId":null,"title":null,"searches":[{"id":"wsearch_01kaq2x29b24gxaxjv7ew9z5b9","object":"webset_search","websetId":"webset_01kaq2x1x0dszn0gc8pg2jmv65","status":"running","query":"SaaS
        companies in Europe","entity":{"type":"company"},"criteria":[],"count":1,"behavior":"override","exclude":[],"scope":[],"progress":{"found":0,"analyzed":0,"completion":0,"timeLeft":null},"recall":null,"metadata":{},"canceledAt":null,"canceledReason":null,"createdAt":"2025-11-23T00:47:56.715Z","updatedAt":"2025-11-23T00:47:57.088Z"}],"imports":[],"enrichments":[],"monitors":[],"excludes":[],"metadata":{},"createdAt":"2025-11-23T00:47:56.320Z","updatedAt":"2025-11-23T00:47:57.088Z"}'
  recorded_at: Sun, 23 Nov 2025 00:47:57 GMT
- request:
    method: post
    uri: https://api.exa.ai/websets/v0/websets/webset_01kaq2x1x0dszn0gc8pg2jmv65
    body:
      encoding: UTF-8
      string: '{"metadata":{"updated":"true"}}'
    headers:
      X-Api-Key:
      - "<EXA_API_KEY>"
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Origin-Agent-Cluster:
      - "?1"
      Etag:
      - W/"3cc-+j5fz+5tz5+75Vn8klNOwH+yUiI"
    body:
      encoding: ASCII-8BIT
      string: '{"id":"webset_01kaq2x1x0dszn0gc8pg2jmv65","object":"webset","status":"running","externalId":null,"title":"Companies:
        SaaS, Europe","searches":[{"id":"wsearch_01kaq2x29b24gxaxjv7ew9z5b9","object":"webset_search","websetId":"webset_01kaq2x1x0dszn0gc8pg2jmv65","status":"running","query":"SaaS
        companies in Europe","entity":{"type":"company"},"criteria":[{"description":"Company
        provides Software as a Service (SaaS) products or services","successRate":0},{"description":"Company
        is headquartered in a European country","successRate":0}],"count":1,"behavior":"override","exclude":[],"scope":[],"progress":{"found":0,"analyzed":0,"completion":0,"timeLeft":null},"recall":null,"metadata":{},"canceledAt":null,"canceledReason":null,"createdAt":"2025-11-23T00:47:56.715Z","updatedAt":"2025-11-23T00:47:57.798Z"}],"imports":[],"enrichments":[],"monitors":[],"excludes":[],"metadata":{"updated":"true"},"createdAt":"2025-11-23T00:47:56.320Z","updatedAt":"2025-11-23T00:47:58.288Z"}'
  recorded_at: Sun, 23 Nov 2025 00:47:58 GMT
recorded_with: VCR 6.3.1
