---
http_interactions:
- request:
    method: post
    uri: https://api.exa.ai/websets/v0/websets
    body:
      encoding: UTF-8
      string: '{"search":{"query":"Fintech companies in London","count":1},"metadata":{"team":"research","quarter":"Q1"}}'
    headers:
      X-Api-Key:
      - "<EXA_API_KEY>"
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Origin-Agent-Cluster:
      - "?1"
      Etag:
      - W/"315-DUiXB+okLCJIbXJHtxb1UhQUUJo"
    body:
      encoding: UTF-8
      string: '{"id":"webset_01kaq2x7n1jzbzt8b1ewgjs38b","object":"webset","status":"running","externalId":null,"title":null,"searches":[{"id":"wsearch_01kaq2x80j8g8g8s2t583dqtnw","object":"webset_search","websetId":"webset_01kaq2x7n1jzbzt8b1ewgjs38b","status":"running","query":"Fintech
        companies in London","entity":{"type":"company"},"criteria":[],"count":1,"behavior":"override","exclude":[],"scope":[],"progress":{"found":0,"analyzed":0,"completion":0,"timeLeft":null},"recall":null,"metadata":{},"canceledAt":null,"canceledReason":null,"createdAt":"2025-11-23T00:48:02.578Z","updatedAt":"2025-11-23T00:48:03.012Z"}],"imports":[],"enrichments":[],"monitors":[],"excludes":[],"metadata":{"team":"research","quarter":"Q1"},"createdAt":"2025-11-23T00:48:02.209Z","updatedAt":"2025-11-23T00:48:03.012Z"}'
  recorded_at: Sun, 23 Nov 2025 00:48:03 GMT
- request:
    method: post
    uri: https://api.exa.ai/websets/v0/websets/webset_01kaq2x7n1jzbzt8b1ewgjs38b
    body:
      encoding: UTF-8
      string: '{"metadata":{"team":"research","quarter":"Q2","year":"2025"}}'
    headers:
      X-Api-Key:
      - "<EXA_API_KEY>"
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Origin-Agent-Cluster:
      - "?1"
      Etag:
      - W/"3a8-YoReTzbAw6EkljMfEhd0hu6VxCM"
    body:
      encoding: ASCII-8BIT
      string: '{"id":"webset_01kaq2x7n1jzbzt8b1ewgjs38b","object":"webset","status":"running","externalId":null,"title":"Companies:
        Fintech, London","searches":[{"id":"wsearch_01kaq2x80j8g8g8s2t583dqtnw","object":"webset_search","websetId":"webset_01kaq2x7n1jzbzt8b1ewgjs38b","status":"running","query":"Fintech
        companies in London","entity":{"type":"company"},"criteria":[{"description":"Company
        operates in the fintech industry and is headquartered in London, UK","successRate":0}],"count":1,"behavior":"override","exclude":[],"scope":[],"progress":{"found":0,"analyzed":0,"completion":0,"timeLeft":null},"recall":null,"metadata":{},"canceledAt":null,"canceledReason":null,"createdAt":"2025-11-23T00:48:02.578Z","updatedAt":"2025-11-23T00:48:03.721Z"}],"imports":[],"enrichments":[],"monitors":[],"excludes":[],"metadata":{"team":"research","year":"2025","quarter":"Q2"},"createdAt":"2025-11-23T00:48:02.209Z","updatedAt":"2025-11-23T00:48:04.080Z"}'
  recorded_at: Sun, 23 Nov 2025 00:48:04 GMT
recorded_with: VCR 6.3.1
