---
http_interactions:
- request:
    method: post
    uri: https://api.exa.ai/websets/v0/websets
    body:
      encoding: UTF-8
      string: '{"search":{"query":"AI startups in Silicon Valley","count":1},"metadata":{"original_key":"original_value","project":"initial_project"}}'
    headers:
      X-Api-Key:
      - "<EXA_API_KEY>"
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Origin-Agent-Cluster:
      - "?1"
      Etag:
      - W/"332-ZHPjW1xUaTOZu7rPXPSH9gfx4yc"
    body:
      encoding: UTF-8
      string: '{"id":"webset_01kaq2xeczg1mgecgdr3774pf1","object":"webset","status":"running","externalId":null,"title":null,"searches":[{"id":"wsearch_01kaq2xer2526n2sx7p83ta488","object":"webset_search","websetId":"webset_01kaq2xeczg1mgecgdr3774pf1","status":"running","query":"AI
        startups in Silicon Valley","entity":{"type":"company"},"criteria":[],"count":1,"behavior":"override","exclude":[],"scope":[],"progress":{"found":0,"analyzed":0,"completion":0,"timeLeft":null},"recall":null,"metadata":{},"canceledAt":null,"canceledReason":null,"createdAt":"2025-11-23T00:48:09.474Z","updatedAt":"2025-11-23T00:48:09.856Z"}],"imports":[],"enrichments":[],"monitors":[],"excludes":[],"metadata":{"project":"initial_project","original_key":"original_value"},"createdAt":"2025-11-23T00:48:09.119Z","updatedAt":"2025-11-23T00:48:09.856Z"}'
  recorded_at: Sun, 23 Nov 2025 00:48:10 GMT
- request:
    method: post
    uri: https://api.exa.ai/websets/v0/websets/webset_01kaq2xeczg1mgecgdr3774pf1
    body:
      encoding: UTF-8
      string: '{"metadata":{"original_key":"updated_value","project":"updated_project","new_key":"new_value"}}'
    headers:
      X-Api-Key:
      - "<EXA_API_KEY>"
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Origin-Agent-Cluster:
      - "?1"
      Etag:
      - W/"347-LNMqOemNkCDnWOpUP4jlGbquNqo"
    body:
      encoding: ASCII-8BIT
      string: '{"id":"webset_01kaq2xeczg1mgecgdr3774pf1","object":"webset","status":"running","externalId":null,"title":null,"searches":[{"id":"wsearch_01kaq2xer2526n2sx7p83ta488","object":"webset_search","websetId":"webset_01kaq2xeczg1mgecgdr3774pf1","status":"running","query":"AI
        startups in Silicon Valley","entity":{"type":"company"},"criteria":[],"count":1,"behavior":"override","exclude":[],"scope":[],"progress":{"found":0,"analyzed":0,"completion":0,"timeLeft":null},"recall":null,"metadata":{},"canceledAt":null,"canceledReason":null,"createdAt":"2025-11-23T00:48:09.474Z","updatedAt":"2025-11-23T00:48:09.856Z"}],"imports":[],"enrichments":[],"monitors":[],"excludes":[],"metadata":{"new_key":"new_value","project":"updated_project","original_key":"updated_value"},"createdAt":"2025-11-23T00:48:09.119Z","updatedAt":"2025-11-23T00:48:11.072Z"}'
  recorded_at: Sun, 23 Nov 2025 00:48:11 GMT
recorded_with: VCR 6.3.1
