---
http_interactions:
- request:
    method: post
    uri: https://api.exa.ai/websets/v0/websets
    body:
      encoding: UTF-8
      string: '{"search":{"query":"B2B software companies in Austin","count":1}}'
    headers:
      X-Api-Key:
      - "<EXA_API_KEY>"
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Origin-Agent-Cluster:
      - "?1"
      Etag:
      - W/"2fa-f/qTz0+sErdEsUK4wZQ5uq85BMo"
    body:
      encoding: UTF-8
      string: '{"id":"webset_01kj8hzdkafst2qq2en5np4e26","object":"webset","status":"running","externalId":null,"title":null,"searches":[{"id":"wsearch_01kj8hzdvr8m12be1cwm30a1cc","object":"webset_search","websetId":"webset_01kj8hzdkafst2qq2en5np4e26","status":"running","query":"B2B
        software companies in Austin","entity":{"type":"company"},"criteria":[],"count":1,"behavior":"override","exclude":[],"scope":[],"progress":{"found":0,"analyzed":0,"completion":0,"timeLeft":null},"recall":null,"metadata":{},"canceledAt":null,"canceledReason":null,"createdAt":"2026-02-24T19:28:20.856Z","updatedAt":"2026-02-24T19:28:21.115Z"}],"imports":[],"enrichments":[],"monitors":[],"excludes":[],"metadata":{},"createdAt":"2026-02-24T19:28:20.586Z","updatedAt":"2026-02-24T19:28:21.115Z"}'
  recorded_at: Tue, 24 Feb 2026 19:28:21 GMT
- request:
    method: post
    uri: https://api.exa.ai/websets/v0/websets/webset_01kj8hzdkafst2qq2en5np4e26
    body:
      encoding: UTF-8
      string: '{"title":"Austin B2B Research"}'
    headers:
      X-Api-Key:
      - "<EXA_API_KEY>"
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Origin-Agent-Cluster:
      - "?1"
      Etag:
      - W/"30b-teyshCcO1V2I70wEjnzdsWSI7aI"
    body:
      encoding: ASCII-8BIT
      string: '{"id":"webset_01kj8hzdkafst2qq2en5np4e26","object":"webset","status":"running","externalId":null,"title":"Austin
        B2B Research","searches":[{"id":"wsearch_01kj8hzdvr8m12be1cwm30a1cc","object":"webset_search","websetId":"webset_01kj8hzdkafst2qq2en5np4e26","status":"running","query":"B2B
        software companies in Austin","entity":{"type":"company"},"criteria":[],"count":1,"behavior":"override","exclude":[],"scope":[],"progress":{"found":0,"analyzed":0,"completion":0,"timeLeft":null},"recall":null,"metadata":{},"canceledAt":null,"canceledReason":null,"createdAt":"2026-02-24T19:28:20.856Z","updatedAt":"2026-02-24T19:28:21.115Z"}],"imports":[],"enrichments":[],"monitors":[],"excludes":[],"metadata":{},"createdAt":"2026-02-24T19:28:20.586Z","updatedAt":"2026-02-24T19:28:22.584Z"}'
  recorded_at: Tue, 24 Feb 2026 19:28:22 GMT
recorded_with: VCR 6.3.1
