---
http_interactions:
- request:
    method: post
    uri: https://api.exa.ai/websets/v0/websets
    body:
      encoding: UTF-8
      string: '{"externalId":"test-override-searches","search":{"query":"Series A
        fintech startups in London","count":1}}'
    headers:
      X-Api-Key:
      - "<EXA_API_KEY>"
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Origin-Agent-Cluster:
      - "?1"
      Etag:
      - W/"311-2OJd8D4CfN9NNm4j+vTfzTFp/j4"
    body:
      encoding: UTF-8
      string: '{"id":"webset_01kaptnayt72jtd9x7hx99m38n","object":"webset","status":"running","externalId":"test-override-searches","title":null,"searches":[{"id":"wsearch_01kaptnbbdgqxkqz33bqaaqrgv","object":"webset_search","websetId":"webset_01kaptnayt72jtd9x7hx99m38n","status":"running","query":"Series
        A fintech startups in London","entity":{"type":"company"},"criteria":[],"count":1,"behavior":"override","exclude":[],"scope":[],"progress":{"found":0,"analyzed":0,"completion":0,"timeLeft":null},"recall":null,"metadata":{},"canceledAt":null,"canceledReason":null,"createdAt":"2025-11-22T22:23:55.245Z","updatedAt":"2025-11-22T22:23:55.630Z"}],"imports":[],"enrichments":[],"monitors":[],"excludes":[],"metadata":{},"createdAt":"2025-11-22T22:23:54.842Z","updatedAt":"2025-11-22T22:23:55.630Z"}'
  recorded_at: Sat, 22 Nov 2025 22:23:56 GMT
- request:
    method: post
    uri: https://api.exa.ai/websets/v0/websets/webset_01kaptnayt72jtd9x7hx99m38n/searches
    body:
      encoding: UTF-8
      string: '{"query":"European payment processing companies","count":2,"behavior":"override"}'
    headers:
      X-Api-Key:
      - "<EXA_API_KEY>"
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Origin-Agent-Cluster:
      - "?1"
      Etag:
      - W/"1ed-LW0Qx8ivb3cpheEGSmKAPPF46H4"
    body:
      encoding: UTF-8
      string: '{"id":"wsearch_01kaptnddbafhf1s6h8nq8bjam","object":"webset_search","websetId":"webset_01kaptnayt72jtd9x7hx99m38n","status":"running","query":"European
        payment processing companies","entity":{"type":"company"},"criteria":[],"count":2,"behavior":"override","exclude":[],"scope":[],"progress":{"found":0,"analyzed":0,"completion":0,"timeLeft":null},"recall":null,"metadata":{},"canceledAt":null,"canceledReason":null,"createdAt":"2025-11-22T22:23:57.355Z","updatedAt":"2025-11-22T22:23:57.743Z"}'
  recorded_at: Sat, 22 Nov 2025 22:23:57 GMT
recorded_with: VCR 6.3.1
