---
http_interactions:
- request:
    method: post
    uri: https://api.exa.ai/websets/v0/websets
    body:
      encoding: UTF-8
      string: '{"search":{"query":"CTOs at AI companies","count":1,"entity":{"type":"person"}}}'
    headers:
      X-Api-Key:
      - "<EXA_API_KEY>"
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Origin-Agent-Cluster:
      - "?1"
      Etag:
      - W/"2ed-bLRs8dFXj5URZfc6Iy7KPlde/oo"
    body:
      encoding: UTF-8
      string: '{"id":"webset_01kan949z9kqhgfrn386vkjqmz","object":"webset","status":"running","externalId":null,"title":null,"searches":[{"id":"wsearch_01kan94ab0ds8y9n7010rf5gg9","object":"webset_search","websetId":"webset_01kan949z9kqhgfrn386vkjqmz","status":"running","query":"CTOs
        at AI companies","entity":{"type":"person"},"criteria":[],"count":1,"behavior":"override","exclude":[],"scope":[],"progress":{"found":0,"analyzed":0,"completion":0,"timeLeft":null},"recall":null,"metadata":{},"canceledAt":null,"canceledReason":null,"createdAt":"2025-11-22T07:58:16.928Z","updatedAt":"2025-11-22T07:58:17.288Z"}],"imports":[],"enrichments":[],"monitors":[],"excludes":[],"metadata":{},"createdAt":"2025-11-22T07:58:16.553Z","updatedAt":"2025-11-22T07:58:17.288Z"}'
  recorded_at: Sat, 22 Nov 2025 07:58:17 GMT
recorded_with: VCR 6.3.1
