---
http_interactions:
- request:
    method: post
    uri: https://api.exa.ai/websets/v0/websets
    body:
      encoding: UTF-8
      string: '{"search":{"query":"Tech companies","count":1}}'
    headers:
      X-Api-Key:
      - "<EXA_API_KEY>"
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Origin-Agent-Cluster:
      - "?1"
      Etag:
      - W/"2e8-b5fIoMntycam42LO68EZ20Frjok"
    body:
      encoding: UTF-8
      string: '{"id":"webset_01kapw3jabm26x9yx1vda2cxs5","object":"webset","status":"running","externalId":null,"title":null,"searches":[{"id":"wsearch_01kapw3jpt2mpba5sqs6fstvhr","object":"webset_search","websetId":"webset_01kapw3jabm26x9yx1vda2cxs5","status":"running","query":"Tech
        companies","entity":{"type":"company"},"criteria":[],"count":1,"behavior":"override","exclude":[],"scope":[],"progress":{"found":0,"analyzed":0,"completion":0,"timeLeft":null},"recall":null,"metadata":{},"canceledAt":null,"canceledReason":null,"createdAt":"2025-11-22T22:49:10.106Z","updatedAt":"2025-11-22T22:49:10.497Z"}],"imports":[],"enrichments":[],"monitors":[],"excludes":[],"metadata":{},"createdAt":"2025-11-22T22:49:09.707Z","updatedAt":"2025-11-22T22:49:10.497Z"}'
  recorded_at: Sat, 22 Nov 2025 22:49:11 GMT
- request:
    method: post
    uri: https://api.exa.ai/websets/v0/websets/webset_01kapw3jabm26x9yx1vda2cxs5/searches
    body:
      encoding: UTF-8
      string: '{"query":"AI companies","count":2}'
    headers:
      X-Api-Key:
      - "<EXA_API_KEY>"
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Origin-Agent-Cluster:
      - "?1"
      Etag:
      - W/"1d4-PwI89KsPpfrNh/YAzV32vPx5PuY"
    body:
      encoding: UTF-8
      string: '{"id":"wsearch_01kapw45b8krrcfa6cm4z8acpy","object":"webset_search","websetId":"webset_01kapw3jabm26x9yx1vda2cxs5","status":"running","query":"AI
        companies","entity":{"type":"company"},"criteria":[],"count":2,"behavior":"override","exclude":[],"scope":[],"progress":{"found":0,"analyzed":0,"completion":0,"timeLeft":null},"recall":null,"metadata":{},"canceledAt":null,"canceledReason":null,"createdAt":"2025-11-22T22:49:29.192Z","updatedAt":"2025-11-22T22:49:29.564Z"}'
  recorded_at: Sat, 22 Nov 2025 22:49:29 GMT
- request:
    method: get
    uri: https://api.exa.ai/websets/v0/websets/webset_01kapw3jabm26x9yx1vda2cxs5/searches/wsearch_01kapw45b8krrcfa6cm4z8acpy
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Api-Key:
      - "<EXA_API_KEY>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Origin-Agent-Cluster:
      - "?1"
      Etag:
      - W/"1d4-PwI89KsPpfrNh/YAzV32vPx5PuY"
    body:
      encoding: ASCII-8BIT
      string: '{"id":"wsearch_01kapw45b8krrcfa6cm4z8acpy","object":"webset_search","websetId":"webset_01kapw3jabm26x9yx1vda2cxs5","status":"running","query":"AI
        companies","entity":{"type":"company"},"criteria":[],"count":2,"behavior":"override","exclude":[],"scope":[],"progress":{"found":0,"analyzed":0,"completion":0,"timeLeft":null},"recall":null,"metadata":{},"canceledAt":null,"canceledReason":null,"createdAt":"2025-11-22T22:49:29.192Z","updatedAt":"2025-11-22T22:49:29.564Z"}'
  recorded_at: Sat, 22 Nov 2025 22:49:30 GMT
recorded_with: VCR 6.3.1
