---
http_interactions:
- request:
    method: post
    uri: https://api.exa.ai/websets/v0/websets
    body:
      encoding: UTF-8
      string: '{"search":{"query":"Tech startups in NYC","count":1},"enrichments":[{"description":"Find
        the company''s primary contact email address","format":"text"},{"description":"Determine
        the company size category","format":"options","options":[{"label":"1-10 employees"},{"label":"11-50
        employees"},{"label":"51-200 employees"},{"label":"201+ employees"}]}]}'
    headers:
      X-Api-Key:
      - "<EXA_API_KEY>"
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Origin-Agent-Cluster:
      - "?1"
      Etag:
      - W/"61d-fFdeS/2PJo7xPLyrZV2+13Q14CE"
    body:
      encoding: UTF-8
      string: '{"id":"webset_01kapwhh4v52znt68pvbtxtdmj","object":"webset","status":"running","externalId":null,"title":null,"searches":[{"id":"wsearch_01kapwhhhmyf5d32cr86k7w0wd","object":"webset_search","websetId":"webset_01kapwhh4v52znt68pvbtxtdmj","status":"running","query":"Tech
        startups in NYC","entity":{"type":"company"},"criteria":[],"count":1,"behavior":"override","exclude":[],"scope":[],"progress":{"found":0,"analyzed":0,"completion":0,"timeLeft":null},"recall":null,"metadata":{},"canceledAt":null,"canceledReason":null,"createdAt":"2025-11-22T22:56:47.668Z","updatedAt":"2025-11-22T22:56:48.080Z"}],"imports":[],"enrichments":[{"id":"wenrich_cmiaw29s8002sge1sxkxocpku","object":"webset_enrichment","status":"pending","websetId":"webset_01kapwhh4v52znt68pvbtxtdmj","title":null,"description":"Find
        the company''s primary contact email address","format":"text","options":null,"instructions":null,"metadata":{},"createdAt":"2025-11-22T22:56:47.624Z","updatedAt":"2025-11-22T22:56:47.624Z"},{"id":"wenrich_cmiaw29s8002tge1sudxbr226","object":"webset_enrichment","status":"pending","websetId":"webset_01kapwhh4v52znt68pvbtxtdmj","title":null,"description":"Determine
        the company size category","format":"options","options":[{"label":"1-10 employees"},{"label":"11-50
        employees"},{"label":"51-200 employees"},{"label":"201+ employees"}],"instructions":null,"metadata":{},"createdAt":"2025-11-22T22:56:47.624Z","updatedAt":"2025-11-22T22:56:47.624Z"}],"monitors":[],"excludes":[],"metadata":{},"createdAt":"2025-11-22T22:56:47.259Z","updatedAt":"2025-11-22T22:56:48.080Z"}'
  recorded_at: Sat, 22 Nov 2025 22:56:48 GMT
- request:
    method: get
    uri: https://api.exa.ai/websets/v0/websets/webset_01kapwhh4v52znt68pvbtxtdmj
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Api-Key:
      - "<EXA_API_KEY>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Origin-Agent-Cluster:
      - "?1"
      Etag:
      - W/"628-1cSXYf7sMz+rcasu6HGDEkM9k4U"
    body:
      encoding: ASCII-8BIT
      string: '{"id":[...]
- request:
    method: get
    uri: https://api.exa.ai/websets/v0/websets/webset_01kapwhh4v52znt68pvbtxtdmj
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Api-Key:
      - "<EXA_API_KEY>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Origin-Agent-Cluster:
      - "?1"
      Etag:
      - W/"6b3-2zTBG25Z1w5nLofTYWUUvvstO9U"
    body:
      encoding: ASCII-8BIT
      string: '{"id":"webset_01kapwhh4v52znt68pvbtxtdmj","object":"webset","status":"running","externalId":null,"title":"Companies:
        Tech startups in NYC","searches":[{"id":"wsearch_01kapwhhhmyf5d32cr86k7w0wd","object":"webset_search","websetId":"webset_01kapwhh4v52znt68pvbtxtdmj","status":"running","query":"Tech
        startups in NYC","entity":{"type":"company"},"criteria":[{"description":"Company
        is a technology-focused startup headquartered in New York City (NYC)","successRate":0}],"count":1,"behavior":"override","exclude":[],"scope":[],"progress":{"found":0,"analyzed":0,"completion":0,"timeLeft":null},"recall":null,"metadata":{},"canceledAt":null,"canceledReason":null,"createdAt":"2025-11-22T22:56:47.668Z","updatedAt":"2025-11-22T22:56:49.586Z"}],"imports":[],"enrichments":[{"id":"wenrich_cmiaw29s8002sge1sxkxocpku","object":"webset_enrichment","status":"pending","websetId":"webset_01kapwhh4v52znt68pvbtxtdmj","title":null,"description":"Find
        the company''s primary contact email address","format":"text","options":null,"instructions":null,"metadata":{},"createdAt":"2025-11-22T22:56:47.624Z","updatedAt":"2025-11-22T22:56:47.624Z"},{"id":"wenrich_cmiaw29s8002tge1sudxbr226","object":"webset_enrichment","status":"pending","websetId":"webset_01kapwhh4v52znt68pvbtxtdmj","title":null,"description":"Determine
        the company size category","format":"options","options":[{"label":"1-10 employees"},{"label":"11-50
        employees"},{"label":"51-200 employees"},{"label":"201+ employees"}],"instructions":null,"metadata":{},"createdAt":"2025-11-22T22:56:47.624Z","updatedAt":"2025-11-22T22:56:47.624Z"}],"monitors":[],"excludes":[],"metadata":{},"createdAt":"2025-11-22T22:56:47.259Z","updatedAt":"2025-11-22T22:56:49.586Z","items":[]}'
  recorded_at: Sat, 22 Nov 2025 22:56:51 GMT
[...]
