---
http_interactions:
- request:
    method: post
    uri: https://api.exa.ai/websets/v0/websets
    body:
      encoding: UTF-8
      string: '{"search":{"query":"SaaS companies in Europe","count":1},"externalId":"test-external-static-id"}'
    headers:
      X-Api-Key:
      - "<EXA_API_KEY>"
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Origin-Agent-Cluster:
      - "?1"
      Etag:
      - W/"307-siIIezE8XnPnJ3yIm9DM/N9P4rE"
    body:
      encoding: UTF-8
      string: '{"id":"webset_01kap3kwb1b4cw9e3k1t8h6xh7","object":"webset","status":"running","externalId":"test-external-static-id","title":null,"searches":[{"id":"wsearch_01kap3kwrb8tf2k7qmstv71q9k","object":"webset_search","websetId":"webset_01kap3kwb1b4cw9e3k1t8h6xh7","status":"running","query":"SaaS
        companies in Europe","entity":{"type":"company"},"criteria":[],"count":1,"behavior":"override","exclude":[],"scope":[],"progress":{"found":0,"analyzed":0,"completion":0,"timeLeft":null},"recall":null,"metadata":{},"canceledAt":null,"canceledReason":null,"createdAt":"2025-11-22T15:41:10.283Z","updatedAt":"2025-11-22T15:41:10.749Z"}],"imports":[],"enrichments":[],"monitors":[],"excludes":[],"metadata":{},"createdAt":"2025-11-22T15:41:09.857Z","updatedAt":"2025-11-22T15:41:10.749Z"}'
  recorded_at: Sat, 22 Nov 2025 15:41:11 GMT
recorded_with: VCR 6.3.1
