---
http_interactions:
- request:
    method: post
    uri: https://api.exa.ai/websets/v0/websets
    body:
      encoding: UTF-8
      string: '{"search":{"query":"Fintech companies in London","count":1}}'
    headers:
      X-Api-Key:
      - "<EXA_API_KEY>"
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Origin-Agent-Cluster:
      - "?1"
      Etag:
      - W/"2f5-UqtiHosC1wNhdq23icKCG79DyZY"
    body:
      encoding: UTF-8
      string: '{"id":"webset_01kaq2am3vy2ec7pbp2qq9jg1q","object":"webset","status":"running","externalId":null,"title":null,"searches":[{"id":"wsearch_01kaq2amgmj2tt7r4sm13v6eg0","object":"webset_search","websetId":"webset_01kaq2am3vy2ec7pbp2qq9jg1q","status":"running","query":"Fintech
        companies in London","entity":{"type":"company"},"criteria":[],"count":1,"behavior":"override","exclude":[],"scope":[],"progress":{"found":0,"analyzed":0,"completion":0,"timeLeft":null},"recall":null,"metadata":{},"canceledAt":null,"canceledReason":null,"createdAt":"2025-11-23T00:37:52.788Z","updatedAt":"2025-11-23T00:37:53.151Z"}],"imports":[],"enrichments":[],"monitors":[],"excludes":[],"metadata":{},"createdAt":"2025-11-23T00:37:52.379Z","updatedAt":"2025-11-23T00:37:53.151Z"}'
  recorded_at: Sun, 23 Nov 2025 00:37:53 GMT
- request:
    method: post
    uri: https://api.exa.ai/websets/v0/websets/webset_01kaq2am3vy2ec7pbp2qq9jg1q/enrichments
    body:
      encoding: UTF-8
      string: '{"description":"Find the CEO''s name","format":"text"}'
    headers:
      X-Api-Key:
      - "<EXA_API_KEY>"
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Origin-Agent-Cluster:
      - "?1"
      Etag:
      - W/"14a-MMaqxCIzBQ7fPymhfBgmrcSGme8"
    body:
      encoding: UTF-8
      string: '{"id":"wenrich_01kaq2apr3pjm2yqp4veswayxj","object":"webset_enrichment","status":"pending","websetId":"webset_01kaq2am3vy2ec7pbp2qq9jg1q","title":null,"description":"Find
        the CEO''s name","format":"text","options":null,"instructions":null,"metadata":{},"createdAt":"2025-11-23T00:37:55.075Z","updatedAt":"2025-11-23T00:37:55.460Z"}'
  recorded_at: Sun, 23 Nov 2025 00:37:55 GMT
- request:
    method: get
    uri: https://api.exa.ai/websets/v0/websets/webset_01kaq2am3vy2ec7pbp2qq9jg1q/enrichments/wenrich_01kaq2apr3pjm2yqp4veswayxj
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Api-Key:
      - "<EXA_API_KEY>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Origin-Agent-Cluster:
      - "?1"
      Etag:
      - W/"14a-MMaqxCIzBQ7fPymhfBgmrcSGme8"
    body:
      encoding: ASCII-8BIT
      string: '{"id":"wenrich_01kaq2apr3pjm2yqp4veswayxj","object":"webset_enrichment","status":"pending","websetId":"webset_01kaq2am3vy2ec7pbp2qq9jg1q","title":null,"description":"Find
        the CEO''s name","format":"text","options":null,"instructions":null,"metadata":{},"createdAt":"2025-11-23T00:37:55.075Z","updatedAt":"2025-11-23T00:37:55.460Z"}'
  recorded_at: Sun, 23 Nov 2025 00:37:56 GMT
recorded_with: VCR 6.3.1
