---
http_interactions:
- request:
    method: post
    uri: https://api.exa.ai/websets/v0/websets
    body:
      encoding: UTF-8
      string: '{"search":{"query":"Open source sustainability projects","count":1,"entity":{"type":"custom","description":"environmental
        conservation initiatives"}}}'
    headers:
      X-Api-Key:
      - "<EXA_API_KEY>"
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Origin-Agent-Cluster:
      - "?1"
      Etag:
      - W/"333-4LuahusNcY2ZZwKyrXNicvEfKd4"
    body:
      encoding: UTF-8
      string: '{"id":"webset_01kaqq70g3wgfsk1wnfngrm2e4","object":"webset","status":"running","externalId":null,"title":null,"searches":[{"id":"wsearch_01kaqq70wgthafn6tf8xgdssen","object":"webset_search","websetId":"webset_01kaqq70g3wgfsk1wnfngrm2e4","status":"running","query":"Open
        source sustainability projects","entity":{"type":"custom","description":"environmental
        conservation initiatives"},"criteria":[],"count":1,"behavior":"override","exclude":[],"scope":[],"progress":{"found":0,"analyzed":0,"completion":0,"timeLeft":null},"recall":null,"metadata":{},"canceledAt":null,"canceledReason":null,"createdAt":"2025-11-23T06:42:54.480Z","updatedAt":"2025-11-23T06:42:54.854Z"}],"imports":[],"enrichments":[],"monitors":[],"excludes":[],"metadata":{},"createdAt":"2025-11-23T06:42:54.083Z","updatedAt":"2025-11-23T06:42:54.854Z"}'
  recorded_at: Sun, 23 Nov 2025 06:42:55 GMT
- request:
    method: post
    uri: https://api.exa.ai/websets/v0/websets/webset_01kaqq70g3wgfsk1wnfngrm2e4/searches
    body:
      encoding: UTF-8
      string: '{"query":"Community-led climate action programs","count":2,"entity":{"type":"custom","description":"grassroots
        environmental organizations"}}'
    headers:
      X-Api-Key:
      - "<EXA_API_KEY>"
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Origin-Agent-Cluster:
      - "?1"
      Etag:
      - W/"223-dCo9orxTevBX5BboeqY9/BDl2e4"
    body:
      encoding: UTF-8
      string: '{"id":"wsearch_01kaqq72vc5m70g7dvqm7n4nwm","object":"webset_search","websetId":"webset_01kaqq70g3wgfsk1wnfngrm2e4","status":"running","query":"Community-led
        climate action programs","entity":{"type":"custom","description":"grassroots
        environmental organizations"},"criteria":[],"count":2,"behavior":"override","exclude":[],"scope":[],"progress":{"found":0,"analyzed":0,"completion":0,"timeLeft":null},"recall":null,"metadata":{},"canceledAt":null,"canceledReason":null,"createdAt":"2025-11-23T06:42:56.492Z","updatedAt":"2025-11-23T06:42:56.871Z"}'
  recorded_at: Sun, 23 Nov 2025 06:42:57 GMT
recorded_with: VCR 6.3.1
