---
http_interactions:
- request:
    method: post
    uri: https://api.exa.ai/websets/v0/websets
    body:
      encoding: UTF-8
      string: '{"search":{"query":"Marketing agencies in the US","count":1,"criteria":[{"description":"focused
        on consumer products"},{"description":"at least 50 employees"}]}}'
    headers:
      X-Api-Key:
      - "<EXA_API_KEY>"
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Origin-Agent-Cluster:
      - "?1"
      Etag:
      - W/"36c-HcaXsQalXP0iLsdjs+CYuKWZBjQ"
    body:
      encoding: UTF-8
      string: '{"id":"webset_01kap3d8zpbq5bfjteemjwrhrq","object":"webset","status":"running","externalId":null,"title":null,"searches":[{"id":"wsearch_01kap3d9cwvcv5whb2xygpvbr1","object":"webset_search","websetId":"webset_01kap3d8zpbq5bfjteemjwrhrq","status":"running","query":"Marketing
        agencies in the US","entity":{"type":"company"},"criteria":[{"description":"focused
        on consumer products","successRate":0},{"description":"at least 50 employees","successRate":0}],"count":1,"behavior":"override","exclude":[],"scope":[],"progress":{"found":0,"analyzed":0,"completion":0,"timeLeft":null},"recall":null,"metadata":{},"canceledAt":null,"canceledReason":null,"createdAt":"2025-11-22T15:37:33.852Z","updatedAt":"2025-11-22T15:37:34.255Z"}],"imports":[],"enrichments":[],"monitors":[],"excludes":[],"metadata":{},"createdAt":"2025-11-22T15:37:33.430Z","updatedAt":"2025-11-22T15:37:34.255Z"}'
  recorded_at: Sat, 22 Nov 2025 15:37:34 GMT
- request:
    method: get
    uri: https://api.exa.ai/websets/v0/websets/webset_01kap3d8zpbq5bfjteemjwrhrq
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Api-Key:
      - "<EXA_API_KEY>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Origin-Agent-Cluster:
      - "?1"
      Etag:
      - W/"377-75dEbI7QDHZgFyGIhoIpat2VYpo"
    body:
      encoding: ASCII-8BIT
      string: '{"id":"webset_01kap3d8zpbq5bfjteemjwrhrq","object":"webset","status":"running","externalId":null,"title":null,"searches":[{"id":"wsearch_01kap3d9cwvcv5whb2xygpvbr1","object":"webset_search","websetId":"webset_01kap3d8zpbq5bfjteemjwrhrq","status":"running","query":"Marketing
        agencies in the US","entity":{"type":"company"},"criteria":[{"description":"focused
        on consumer products","successRate":0},{"description":"at least 50 employees","successRate":0}],"count":1,"behavior":"override","exclude":[],"scope":[],"progress":{"found":0,"analyzed":0,"completion":0,"timeLeft":null},"recall":null,"metadata":{},"canceledAt":null,"canceledReason":null,"createdAt":"2025-11-22T15:37:33.852Z","updatedAt":"2025-11-22T15:37:34.255Z"}],"imports":[],"enrichments":[],"monitors":[],"excludes":[],"metadata":{},"createdAt":"2025-11-22T15:37:33.430Z","updatedAt":"2025-11-22T15:37:34.255Z","items":[]}'
  recorded_at: Sat, 22 Nov 2025 15:37:35 GMT
[...]
- request:
    method: get
    uri: https://api.exa.ai/websets/v0/websets/webset_01kap3d8zpbq5bfjteemjwrhrq
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Api-Key:
      - "<EXA_API_KEY>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Origin-Agent-Cluster:
      - "?1"
      Etag:
      - W/"3a2-EkrZh/3R6khNZz/mvGEWKK3cgcg"
    body:
      encoding: ASCII-8BIT
      string: '{"id":"webset_01kap3d8zpbq5bfjteemjwrhrq","object":"webset","status":"idle","externalId":null,"title":"Companies:
        marketing agencies in the US","searches":[{"id":"wsearch_01kap3d9cwvcv5whb2xygpvbr1","object":"webset_search","websetId":"webset_01kap3d8zpbq5bfjteemjwrhrq","status":"completed","query":"Marketing
        agencies in the US","entity":{"type":"company"},"criteria":[{"description":"focused
        on consumer products","successRate":7.69},{"description":"at least 50 employees","successRate":38.46}],"count":1,"behavior":"override","exclude":[],"scope":[],"progress":{"found":1,"analyzed":27,"completion":100,"timeLeft":0},"recall":null,"metadata":{},"canceledAt":null,"canceledReason":null,"createdAt":"2025-11-22T15:37:33.852Z","updatedAt":"2025-11-22T15:37:53.650Z"}],"imports":[],"enrichments":[],"monitors":[],"excludes":[],"metadata":{},"createdAt":"2025-11-22T15:37:33.430Z","updatedAt":"2025-11-22T15:37:53.650Z","items":[]}'
  recorded_at: Sat, 22 Nov 2025 15:37:55 GMT
recorded_with: VCR 6.3.1
