---
http_interactions:
- request:
    method: post
    uri: https://api.exa.ai/websets/v0/websets
    body:
      encoding: UTF-8
      string: '{"search":{"query":"B2B SaaS","count":1}}'
    headers:
      X-Api-Key:
      - "<EXA_API_KEY>"
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Origin-Agent-Cluster:
      - "?1"
      Etag:
      - W/"2e2-E9AD0HgMk8af019fcnIVFXGB9bk"
    body:
      encoding: UTF-8
      string: '{"id":"webset_01kapqhej540yzp54csgk28jz9","object":"webset","status":"running","externalId":null,"title":null,"searches":[{"id":"wsearch_01kapqheypcccznys6yvdrtw98","object":"webset_search","websetId":"webset_01kapqhej540yzp54csgk28jz9","status":"running","query":"B2B
        SaaS","entity":{"type":"company"},"criteria":[],"count":1,"behavior":"override","exclude":[],"scope":[],"progress":{"found":0,"analyzed":0,"completion":0,"timeLeft":null},"recall":null,"metadata":{},"canceledAt":null,"canceledReason":null,"createdAt":"2025-11-22T21:29:22.134Z","updatedAt":"2025-11-22T21:29:22.516Z"}],"imports":[],"enrichments":[],"monitors":[],"excludes":[],"metadata":{},"createdAt":"2025-11-22T21:29:21.733Z","updatedAt":"2025-11-22T21:29:22.516Z"}'
  recorded_at: Sat, 22 Nov 2025 21:29:23 GMT
recorded_with: VCR 6.3.1
