---
http_interactions:
- request:
    method: post
    uri: https://api.exa.ai/websets/v0/websets
    body:
      encoding: UTF-8
      string: '{"search":{"query":"Tech startups in NYC","count":1}}'
    headers:
      X-Api-Key:
      - "<EXA_API_KEY>"
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Origin-Agent-Cluster:
      - "?1"
      Etag:
      - W/"2ee-aRctRzCU48tOBkLrDm9hN/am5OI"
    body:
      encoding: UTF-8
      string: '{"id":"webset_01kaq29g99w4wgdvrarpezg61x","object":"webset","status":"running","externalId":null,"title":null,"searches":[{"id":"wsearch_01kaq29gn0w5h3ddd20n4yr46w","object":"webset_search","websetId":"webset_01kaq29g99w4wgdvrarpezg61x","status":"running","query":"Tech
        startups in NYC","entity":{"type":"company"},"criteria":[],"count":1,"behavior":"override","exclude":[],"scope":[],"progress":{"found":0,"analyzed":0,"completion":0,"timeLeft":null},"recall":null,"metadata":{},"canceledAt":null,"canceledReason":null,"createdAt":"2025-11-23T00:37:16.064Z","updatedAt":"2025-11-23T00:37:16.438Z"}],"imports":[],"enrichments":[],"monitors":[],"excludes":[],"metadata":{},"createdAt":"2025-11-23T00:37:15.689Z","updatedAt":"2025-11-23T00:37:16.438Z"}'
  recorded_at: Sun, 23 Nov 2025 00:37:16 GMT
- request:
    method: post
    uri: https://api.exa.ai/websets/v0/websets/webset_01kaq29g99w4wgdvrarpezg61x/enrichments
    body:
      encoding: UTF-8
      string: '{"description":"Find the company''s LinkedIn profile URL","format":"url"}'
    headers:
      X-Api-Key:
      - "<EXA_API_KEY>"
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Origin-Agent-Cluster:
      - "?1"
      Etag:
      - W/"15d-tfHoUhsdQnReE7bILsslwHFH2Zk"
    body:
      encoding: UTF-8
      string: '{"id":"wenrich_01kaq29jmbdazpk90k431hmmmb","object":"webset_enrichment","status":"pending","websetId":"webset_01kaq29g99w4wgdvrarpezg61x","title":null,"description":"Find
        the company''s LinkedIn profile URL","format":"url","options":null,"instructions":null,"metadata":{},"createdAt":"2025-11-23T00:37:18.091Z","updatedAt":"2025-11-23T00:37:18.313Z"}'
  recorded_at: Sun, 23 Nov 2025 00:37:18 GMT
recorded_with: VCR 6.3.1
