---
http_interactions:
- request:
    method: post
    uri: https://api.exa.ai/websets/v0/websets
    body:
      encoding: UTF-8
      string: '{"search":{"query":"Biotech companies","count":1}}'
    headers:
      X-Api-Key:
      - "<EXA_API_KEY>"
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Origin-Agent-Cluster:
      - "?1"
      Etag:
      - W/"2eb-/wvpjjxudL2VZOrp4+Xj9t//3Gk"
    body:
      encoding: UTF-8
      string: '{"id":"webset_01kapqfch380aq83cyqpdp3ed4","object":"webset","status":"running","externalId":null,"title":null,"searches":[{"id":"wsearch_01kapqfcxc4nf9dckzbnxrhee3","object":"webset_search","websetId":"webset_01kapqfch380aq83cyqpdp3ed4","status":"running","query":"Biotech
        companies","entity":{"type":"company"},"criteria":[],"count":1,"behavior":"override","exclude":[],"scope":[],"progress":{"found":0,"analyzed":0,"completion":0,"timeLeft":null},"recall":null,"metadata":{},"canceledAt":null,"canceledReason":null,"createdAt":"2025-11-22T21:28:14.508Z","updatedAt":"2025-11-22T21:28:14.891Z"}],"imports":[],"enrichments":[],"monitors":[],"excludes":[],"metadata":{},"createdAt":"2025-11-22T21:28:14.115Z","updatedAt":"2025-11-22T21:28:14.891Z"}'
  recorded_at: Sat, 22 Nov 2025 21:28:15 GMT
recorded_with: VCR 6.3.1
