---
http_interactions:
- request:
    method: post
    uri: https://api.exa.ai/websets/v0/websets
    body:
      encoding: UTF-8
      string: '{"search":{"query":"Healthcare companies in Seattle","count":1}}'
    headers:
      X-Api-Key:
      - "<EXA_API_KEY>"
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Origin-Agent-Cluster:
      - "?1"
      Etag:
      - W/"2f9-PD6K4+YwM2thUP1lSDwrKwzecWY"
    body:
      encoding: UTF-8
      string: '{"id":"webset_01kaq2c171ttfh7qa2w1fg54x1","object":"webset","status":"running","externalId":null,"title":null,"searches":[{"id":"wsearch_01kaq2c1m2q4wamgkb2b539q6w","object":"webset_search","websetId":"webset_01kaq2c171ttfh7qa2w1fg54x1","status":"running","query":"Healthcare
        companies in Seattle","entity":{"type":"company"},"criteria":[],"count":1,"behavior":"override","exclude":[],"scope":[],"progress":{"found":0,"analyzed":0,"completion":0,"timeLeft":null},"recall":null,"metadata":{},"canceledAt":null,"canceledReason":null,"createdAt":"2025-11-23T00:38:38.978Z","updatedAt":"2025-11-23T00:38:39.365Z"}],"imports":[],"enrichments":[],"monitors":[],"excludes":[],"metadata":{},"createdAt":"2025-11-23T00:38:38.561Z","updatedAt":"2025-11-23T00:38:39.365Z"}'
  recorded_at: Sun, 23 Nov 2025 00:38:39 GMT
- request:
    method: post
    uri: https://api.exa.ai/websets/v0/websets/webset_01kaq2c171ttfh7qa2w1fg54x1/enrichments
    body:
      encoding: UTF-8
      string: '{"description":"Original description","format":"text"}'
    headers:
      X-Api-Key:
      - "<EXA_API_KEY>"
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Origin-Agent-Cluster:
      - "?1"
      Etag:
      - W/"14b-hVc8TNoyPC3glyTQ2e4XQu2pc9k"
    body:
      encoding: UTF-8
      string: '{"id":"wenrich_01kaq2c3q4mh4v4e28wph2tp4p","object":"webset_enrichment","status":"pending","websetId":"webset_01kaq2c171ttfh7qa2w1fg54x1","title":null,"description":"Original
        description","format":"text","options":null,"instructions":null,"metadata":{},"createdAt":"2025-11-23T00:38:41.124Z","updatedAt":"2025-11-23T00:38:41.273Z"}'
  recorded_at: Sun, 23 Nov 2025 00:38:41 GMT
- request:
    method: patch
    uri: https://api.exa.ai/websets/v0/websets/webset_01kaq2c171ttfh7qa2w1fg54x1/enrichments/wenrich_01kaq2c3q4mh4v4e28wph2tp4p
    body:
      encoding: UTF-8
      string: '{"description":"Updated description for company contact"}'
    headers:
      X-Api-Key:
      - "<EXA_API_KEY>"
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Origin-Agent-Cluster:
      - "?1"
      Etag:
      - W/"15e-9pjup/E4WcZyvwQWJlS01APUuLk"
    body:
      encoding: ASCII-8BIT
      string: '{"id":"wenrich_01kaq2c3q4mh4v4e28wph2tp4p","object":"webset_enrichment","status":"pending","websetId":"webset_01kaq2c171ttfh7qa2w1fg54x1","title":null,"description":"Updated
        description for company contact","format":"text","options":null,"instructions":null,"metadata":{},"createdAt":"2025-11-23T00:38:41.124Z","updatedAt":"2025-11-23T00:38:42.374Z"}'
  recorded_at: Sun, 23 Nov 2025 00:38:42 GMT
recorded_with: VCR 6.3.1
