---
http_interactions:
- request:
    method: post
    uri: https://api.exa.ai/websets/v0/websets
    body:
      encoding: UTF-8
      string: '{"search":{"query":"EdTech companies","count":1}}'
    headers:
      X-Api-Key:
      - "<EXA_API_KEY>"
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Origin-Agent-Cluster:
      - "?1"
      Etag:
      - W/"2ea-vqbNoexLaD67Y7UZFCEcgHX5thw"
    body:
      encoding: UTF-8
      string: '{"id":"webset_01kapw4de7a9rjwkf2vhfkkdbz","object":"webset","status":"running","externalId":null,"title":null,"searches":[{"id":"wsearch_01kapw4dv05gndy32k4xbme7r1","object":"webset_search","websetId":"webset_01kapw4de7a9rjwkf2vhfkkdbz","status":"running","query":"EdTech
        companies","entity":{"type":"company"},"criteria":[],"count":1,"behavior":"override","exclude":[],"scope":[],"progress":{"found":0,"analyzed":0,"completion":0,"timeLeft":null},"recall":null,"metadata":{},"canceledAt":null,"canceledReason":null,"createdAt":"2025-11-22T22:49:37.888Z","updatedAt":"2025-11-22T22:49:38.279Z"}],"imports":[],"enrichments":[],"monitors":[],"excludes":[],"metadata":{},"createdAt":"2025-11-22T22:49:37.479Z","updatedAt":"2025-11-22T22:49:38.279Z"}'
  recorded_at: Sat, 22 Nov 2025 22:49:38 GMT
- request:
    method: post
    uri: https://api.exa.ai/websets/v0/websets/webset_01kapw4de7a9rjwkf2vhfkkdbz/searches
    body:
      encoding: UTF-8
      string: '{"query":"Online learning platforms for corporate training","count":2,"behavior":"override"}'
    headers:
      X-Api-Key:
      - "<EXA_API_KEY>"
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Origin-Agent-Cluster:
      - "?1"
      Etag:
      - W/"1f8-KUu6AzaQRcVmLLph8hsxeVAPz+k"
    body:
      encoding: UTF-8
      string: '{"id":"wsearch_01kapw50wp650jfkspzzbadmgh","object":"webset_search","websetId":"webset_01kapw4de7a9rjwkf2vhfkkdbz","status":"running","query":"Online
        learning platforms for corporate training","entity":{"type":"company"},"criteria":[],"count":2,"behavior":"override","exclude":[],"scope":[],"progress":{"found":0,"analyzed":0,"completion":0,"timeLeft":null},"recall":null,"metadata":{},"canceledAt":null,"canceledReason":null,"createdAt":"2025-11-22T22:49:57.398Z","updatedAt":"2025-11-22T22:49:57.777Z"}'
  recorded_at: Sat, 22 Nov 2025 22:49:58 GMT
recorded_with: VCR 6.3.1
