---
http_interactions:
- request:
    method: post
    uri: https://api.exa.ai/websets/v0/websets
    body:
      encoding: UTF-8
      string: '{"search":{"query":"SaaS companies in San Francisco","count":1}}'
    headers:
      X-Api-Key:
      - "<EXA_API_KEY>"
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Origin-Agent-Cluster:
      - "?1"
      Etag:
      - W/"2f9-it6jj5x9n6sGzGi4grTsHp3loc8"
    body:
      encoding: UTF-8
      string: '{"id":"webset_01kaq290dhswnp27dy706xmp0d","object":"webset","status":"running","externalId":null,"title":null,"searches":[{"id":"wsearch_01kaq290t2jpvx16cac9a4bad8","object":"webset_search","websetId":"webset_01kaq290dhswnp27dy706xmp0d","status":"running","query":"SaaS
        companies in San Francisco","entity":{"type":"company"},"criteria":[],"count":1,"behavior":"override","exclude":[],"scope":[],"progress":{"found":0,"analyzed":0,"completion":0,"timeLeft":null},"recall":null,"metadata":{},"canceledAt":null,"canceledReason":null,"createdAt":"2025-11-23T00:36:59.842Z","updatedAt":"2025-11-23T00:37:00.233Z"}],"imports":[],"enrichments":[],"monitors":[],"excludes":[],"metadata":{},"createdAt":"2025-11-23T00:36:59.441Z","updatedAt":"2025-11-23T00:37:00.233Z"}'
  recorded_at: Sun, 23 Nov 2025 00:37:00 GMT
- request:
    method: post
    uri: https://api.exa.ai/websets/v0/websets/webset_01kaq290dhswnp27dy706xmp0d/enrichments
    body:
      encoding: UTF-8
      string: '{"description":"Find the company''s primary contact email address","format":"text"}'
    headers:
      X-Api-Key:
      - "<EXA_API_KEY>"
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Origin-Agent-Cluster:
      - "?1"
      Etag:
      - W/"167-GT5+hFTcOAsR1TXoEogk+BSC6nk"
    body:
      encoding: UTF-8
      string: '{"id":"wenrich_01kaq295jbk9btna3j8hq1cqec","object":"webset_enrichment","status":"pending","websetId":"webset_01kaq290dhswnp27dy706xmp0d","title":null,"description":"Find
        the company''s primary contact email address","format":"text","options":null,"instructions":null,"metadata":{},"createdAt":"2025-11-23T00:37:04.715Z","updatedAt":"2025-11-23T00:37:04.954Z"}'
  recorded_at: Sun, 23 Nov 2025 00:37:05 GMT
recorded_with: VCR 6.3.1
