---
http_interactions:
- request:
    method: post
    uri: https://api.exa.ai/websets/v0/websets
    body:
      encoding: UTF-8
      string: '{"search":{"query":"AI startups","count":1}}'
    headers:
      X-Api-Key:
      - "<EXA_API_KEY>"
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Origin-Agent-Cluster:
      - "?1"
      Etag:
      - W/"2e5-nNfkQUFhimHsxYAJWtD8ktt5grw"
    body:
      encoding: UTF-8
      string: '{"id":"webset_01kapw9h312rswy19q1ybmeac7","object":"webset","status":"running","externalId":null,"title":null,"searches":[{"id":"wsearch_01kapw9hjk9r57qe0dmwa6gb62","object":"webset_search","websetId":"webset_01kapw9h312rswy19q1ybmeac7","status":"running","query":"AI
        startups","entity":{"type":"company"},"criteria":[],"count":1,"behavior":"override","exclude":[],"scope":[],"progress":{"found":0,"analyzed":0,"completion":0,"timeLeft":null},"recall":null,"metadata":{},"canceledAt":null,"canceledReason":null,"createdAt":"2025-11-22T22:52:25.555Z","updatedAt":"2025-11-22T22:52:26.390Z"}],"imports":[],"enrichments":[],"monitors":[],"excludes":[],"metadata":{},"createdAt":"2025-11-22T22:52:25.057Z","updatedAt":"2025-11-22T22:52:26.390Z"}'
  recorded_at: Sat, 22 Nov 2025 22:52:27 GMT
- request:
    method: post
    uri: https://api.exa.ai/websets/v0/websets/webset_01kapw9h312rswy19q1ybmeac7/searches
    body:
      encoding: UTF-8
      string: '{"query":"Machine learning companies","count":2}'
    headers:
      X-Api-Key:
      - "<EXA_API_KEY>"
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Origin-Agent-Cluster:
      - "?1"
      Etag:
      - W/"1e2-YV8U3bLoJv4r/NPoTgUk/U80n9E"
    body:
      encoding: UTF-8
      string: '{"id":"wsearch_01kapwa5a25fph7gc16avtna42","object":"webset_search","websetId":"webset_01kapw9h312rswy19q1ybmeac7","status":"running","query":"Machine
        learning companies","entity":{"type":"company"},"criteria":[],"count":2,"behavior":"override","exclude":[],"scope":[],"progress":{"found":0,"analyzed":0,"completion":0,"timeLeft":null},"recall":null,"metadata":{},"canceledAt":null,"canceledReason":null,"createdAt":"2025-11-22T22:52:45.762Z","updatedAt":"2025-11-22T22:52:46.135Z"}'
  recorded_at: Sat, 22 Nov 2025 22:52:46 GMT
recorded_with: VCR 6.3.1
