---
http_interactions:
- request:
    method: post
    uri: https://api.exa.ai/websets/v0/websets
    body:
      encoding: UTF-8
      string: '{"search":{"query":"B2B SaaS","count":1}}'
    headers:
      X-Api-Key:
      - "<EXA_API_KEY>"
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Origin-Agent-Cluster:
      - "?1"
      Etag:
      - W/"2e2-Pwf2bpkubcD2ITCtUdYo3r9sfcY"
    body:
      encoding: UTF-8
      string: '{"id":"webset_01kapmak87gnq9ykz1psfyevyh","object":"webset","status":"running","externalId":null,"title":null,"searches":[{"id":"wsearch_01kapmakm3h5425va8g2fspekw","object":"webset_search","websetId":"webset_01kapmak87gnq9ykz1psfyevyh","status":"running","query":"B2B
        SaaS","entity":{"type":"company"},"criteria":[],"count":1,"behavior":"override","exclude":[],"scope":[],"progress":{"found":0,"analyzed":0,"completion":0,"timeLeft":null},"recall":null,"metadata":{},"canceledAt":null,"canceledReason":null,"createdAt":"2025-11-22T20:33:11.811Z","updatedAt":"2025-11-22T20:33:12.192Z"}],"imports":[],"enrichments":[],"monitors":[],"excludes":[],"metadata":{},"createdAt":"2025-11-22T20:33:11.431Z","updatedAt":"2025-11-22T20:33:12.192Z"}'
  recorded_at: Sat, 22 Nov 2025 20:33:12 GMT
- request:
    method: post
    uri: https://api.exa.ai/websets/v0/websets/webset_01kapmak87gnq9ykz1psfyevyh/searches
    body:
      encoding: UTF-8
      string: '{"query":"SaaS companies","count":20,"criteria":[{"description":"focused
        on enterprise customers"},{"description":"raised Series A or later"}]}'
    headers:
      X-Api-Key:
      - "<EXA_API_KEY>"
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Origin-Agent-Cluster:
      - "?1"
      Etag:
      - W/"253-itQdNYmrGm3KO7ddr02eSVLI9qw"
    body:
      encoding: UTF-8
      string: '{"id":"wsearch_01kapmekjgmpd19jw7neaj3fep","object":"webset_search","websetId":"webset_01kapmak87gnq9ykz1psfyevyh","status":"running","query":"SaaS
        companies","entity":{"type":"company"},"criteria":[{"description":"focused
        on enterprise customers","successRate":0},{"description":"raised Series A
        or later","successRate":0}],"count":20,"behavior":"override","exclude":[],"scope":[],"progress":{"found":0,"analyzed":0,"completion":0,"timeLeft":null},"recall":null,"metadata":{},"canceledAt":null,"canceledReason":null,"createdAt":"2025-11-22T20:35:22.832Z","updatedAt":"2025-11-22T20:35:23.270Z"}'
  recorded_at: Sat, 22 Nov 2025 20:35:23 GMT
recorded_with: VCR 6.3.1
