---
http_interactions:
- request:
    method: post
    uri: https://api.exa.ai/websets/v0/websets
    body:
      encoding: UTF-8
      string: '{"search":{"query":"Companies for metadata test","count":1}}'
    headers:
      X-Api-Key:
      - "<EXA_API_KEY>"
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Origin-Agent-Cluster:
      - "?1"
      Etag:
      - W/"2f5-NdZ2P6zqnzpBB+91rMpht5/2rCk"
    body:
      encoding: UTF-8
      string: '{"id":"webset_01kapqev98gfm5vza0atq11eyh","object":"webset","status":"running","externalId":null,"title":null,"searches":[{"id":"wsearch_01kapqevn549bta9gkpy79mr6q","object":"webset_search","websetId":"webset_01kapqev98gfm5vza0atq11eyh","status":"running","query":"Companies
        for metadata test","entity":{"type":"company"},"criteria":[],"count":1,"behavior":"override","exclude":[],"scope":[],"progress":{"found":0,"analyzed":0,"completion":0,"timeLeft":null},"recall":null,"metadata":{},"canceledAt":null,"canceledReason":null,"createdAt":"2025-11-22T21:27:56.837Z","updatedAt":"2025-11-22T21:27:57.248Z"}],"imports":[],"enrichments":[],"monitors":[],"excludes":[],"metadata":{},"createdAt":"2025-11-22T21:27:56.456Z","updatedAt":"2025-11-22T21:27:57.248Z"}'
  recorded_at: Sat, 22 Nov 2025 21:27:57 GMT
recorded_with: VCR 6.3.1
