---
http_interactions:
- request:
    method: post
    uri: https://api.exa.ai/websets/v0/websets
    body:
      encoding: UTF-8
      string: '{"search":{"query":"Tech founders","count":1,"entity":{"type":"person"}}}'
    headers:
      X-Api-Key:
      - "<EXA_API_KEY>"
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Origin-Agent-Cluster:
      - "?1"
      Etag:
      - W/"2e6-wDzK32Jko+vmK+5gxOvnWZ1/uvs"
    body:
      encoding: UTF-8
      string: '{"id":"webset_01kapqj6ax9y1haa06w26pyv9d","object":"webset","status":"running","externalId":null,"title":null,"searches":[{"id":"wsearch_01kapqj6nf12tjjf6hfncypz2h","object":"webset_search","websetId":"webset_01kapqj6ax9y1haa06w26pyv9d","status":"running","query":"Tech
        founders","entity":{"type":"person"},"criteria":[],"count":1,"behavior":"override","exclude":[],"scope":[],"progress":{"found":0,"analyzed":0,"completion":0,"timeLeft":null},"recall":null,"metadata":{},"canceledAt":null,"canceledReason":null,"createdAt":"2025-11-22T21:29:46.415Z","updatedAt":"2025-11-22T21:29:46.765Z"}],"imports":[],"enrichments":[],"monitors":[],"excludes":[],"metadata":{},"createdAt":"2025-11-22T21:29:46.077Z","updatedAt":"2025-11-22T21:29:46.765Z"}'
  recorded_at: Sat, 22 Nov 2025 21:29:47 GMT
recorded_with: VCR 6.3.1
