---
http_interactions:
- request:
    method: post
    uri: https://api.exa.ai/websets/v0/websets
    body:
      encoding: UTF-8
      string: '{"search":{"query":"E-commerce companies in California with recent
        funding","count":1,"entity":{"type":"company"},"criteria":[{"description":"raised
        funding in the last 12 months"},{"description":"focused on direct-to-consumer
        products"}]},"enrichments":[{"description":"Recent funding amount","format":"text"},{"description":"LinkedIn
        URL","format":"url"}],"metadata":{"project":"Q1-2024-research","team":"growth"}}'
    headers:
      X-Api-Key:
      - "<EXA_API_KEY>"
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Origin-Agent-Cluster:
      - "?1"
      Etag:
      - W/"658-zW3QyalsPqx/8O2lSCmeA5NBD38"
    body:
      encoding: UTF-8
      string: '{"id":"webset_01kaq264xhj1h28r5x0xnvdt3r","object":"webset","status":"running","externalId":null,"title":null,"searches":[{"id":"wsearch_01kaq267v95bhgva289ytxzpnv","object":"webset_search","websetId":"webset_01kaq264xhj1h28r5x0xnvdt3r","status":"running","query":"E-commerce
        companies in California with recent funding","entity":{"type":"company"},"criteria":[{"description":"raised
        funding in the last 12 months","successRate":0},{"description":"focused on
        direct-to-consumer products","successRate":0}],"count":1,"behavior":"override","exclude":[],"scope":[],"progress":{"found":0,"analyzed":0,"completion":0,"timeLeft":null},"recall":null,"metadata":{},"canceledAt":null,"canceledReason":null,"createdAt":"2025-11-23T00:35:28.745Z","updatedAt":"2025-11-23T00:35:29.099Z"}],"imports":[],"enrichments":[{"id":"wenrich_cmiazl6hg000gj01sdk5vkw46","object":"webset_enrichment","status":"pending","websetId":"webset_01kaq264xhj1h28r5x0xnvdt3r","title":null,"description":"Recent
        funding amount","format":"text","options":null,"instructions":null,"metadata":{},"createdAt":"2025-11-23T00:35:28.660Z","updatedAt":"2025-11-23T00:35:28.660Z"},{"id":"wenrich_cmiazl6hg000hj01sc68j39cd","object":"webset_enrichment","status":"pending","websetId":"webset_01kaq264xhj1h28r5x0xnvdt3r","title":null,"description":"LinkedIn
        URL","format":"url","options":null,"instructions":null,"metadata":{},"createdAt":"2025-11-23T00:35:28.660Z","updatedAt":"2025-11-23T00:35:28.660Z"}],"monitors":[],"excludes":[],"metadata":{"team":"growth","project":"Q1-2024-research"},"createdAt":"2025-11-23T00:35:25.745Z","updatedAt":"2025-11-23T00:35:29.099Z"}'
  recorded_at: Sun, 23 Nov 2025 00:35:30 GMT
- request:
    method: get
    uri: https://api.exa.ai/websets/v0/websets/webset_01kaq264xhj1h28r5x0xnvdt3r
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Api-Key:
      - "<EXA_API_KEY>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Origin-Agent-Cluster:
      - "?1"
      Etag:
      - W/"663-hTs+QhQLn5yHUqs9RtLN0XVojaw"
    body:
      encoding: ASCII-8BIT
      string: '{"id":[...]
[...]
- request:
    method: get
    uri: https://api.exa.ai/websets/v0/websets?limit=10
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Api-Key:
      - "<EXA_API_KEY>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Origin-Agent-Cluster:
      - "?1"
      Etag:
      - W/"3255-Jqpc8CA9/NVYIX42IjoFIUMLbgE"
    body:
      encoding: ASCII-8BIT
      string: '{"data":[{"id":"webset_01kaq264xhj1h28r5x0xnvdt3r","object":"webset","status":"idle","externalId":null,"title":"Companies:
        E-commerce, California, recent funding","searches":[{"id":"wsearch_01kaq267v95bhgva289ytxzpnv","object":"webset_search","websetId":"webset_01kaq264xhj1h28r5x0xnvdt3r","status":"completed","query":"E-commerce
        companies in California with recent funding","entity":{"type":"company"},"criteria":[{"description":"raised
        funding in the last 12 months","successRate":[...]
