---
http_interactions:
- request:
    method: post
    uri: https://api.exa.ai/websets/v0/websets
    body:
      encoding: UTF-8
      string: '{"search":{"query":"AI companies in San Francisco with 10-50 employees","count":1},"metadata":{"test":"integration_test","created_by":"exa-ruby"}}'
    headers:
      X-Api-Key:
      - "<EXA_API_KEY>"
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Origin-Agent-Cluster:
      - "?1"
      Etag:
      - W/"33d-E8UIa8ny9dGiNwMKQaq1E2fa4f8"
    body:
      encoding: UTF-8
      string: '{"id":"webset_01kap3k75j2bkjgpq6vqhavc31","object":"webset","status":"running","externalId":null,"title":null,"searches":[{"id":"wsearch_01kap3k7j3cpe5t439zhh0fjca","object":"webset_search","websetId":"webset_01kap3k75j2bkjgpq6vqhavc31","status":"running","query":"AI
        companies in San Francisco with 10-50 employees","entity":{"type":"company"},"criteria":[],"count":1,"behavior":"override","exclude":[],"scope":[],"progress":{"found":0,"analyzed":0,"completion":0,"timeLeft":null},"recall":null,"metadata":{},"canceledAt":null,"canceledReason":null,"createdAt":"2025-11-22T15:40:48.579Z","updatedAt":"2025-11-22T15:40:49.020Z"}],"imports":[],"enrichments":[],"monitors":[],"excludes":[],"metadata":{"test":"integration_test","created_by":"exa-ruby"},"createdAt":"2025-11-22T15:40:48.178Z","updatedAt":"2025-11-22T15:40:49.020Z"}'
  recorded_at: Sat, 22 Nov 2025 15:40:49 GMT
recorded_with: VCR 6.3.1
