---
http_interactions:
- request:
    method: post
    uri: https://api.exa.ai/websets/v0/websets
    body:
      encoding: UTF-8
      string: '{"search":{"query":"venture-backed SaaS companies","count":1}}'
    headers:
      X-Api-Key:
      - "<EXA_API_KEY>"
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Origin-Agent-Cluster:
      - "?1"
      Etag:
      - W/"2f7-I6/EnPQa8DYizbQT5Dlu0gKM2IM"
    body:
      encoding: UTF-8
      string: '{"id":"webset_01kapw1wqtrq3wzz9h8jbmj0cm","object":"webset","status":"running","externalId":null,"title":null,"searches":[{"id":"wsearch_01kapw1x371d0t3fatnsj6ws3v","object":"webset_search","websetId":"webset_01kapw1wqtrq3wzz9h8jbmj0cm","status":"running","query":"venture-backed
        SaaS companies","entity":{"type":"company"},"criteria":[],"count":1,"behavior":"override","exclude":[],"scope":[],"progress":{"found":0,"analyzed":0,"completion":0,"timeLeft":null},"recall":null,"metadata":{},"canceledAt":null,"canceledReason":null,"createdAt":"2025-11-22T22:48:15.207Z","updatedAt":"2025-11-22T22:48:15.563Z"}],"imports":[],"enrichments":[],"monitors":[],"excludes":[],"metadata":{},"createdAt":"2025-11-22T22:48:14.842Z","updatedAt":"2025-11-22T22:48:15.563Z"}'
  recorded_at: Sat, 22 Nov 2025 22:48:16 GMT
- request:
    method: post
    uri: https://api.exa.ai/websets/v0/websets/webset_01kapw1wqtrq3wzz9h8jbmj0cm/searches
    body:
      encoding: UTF-8
      string: '{"query":"E-commerce platforms with international shipping","count":2}'
    headers:
      X-Api-Key:
      - "<EXA_API_KEY>"
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Origin-Agent-Cluster:
      - "?1"
      Etag:
      - W/"1f8-SoPNoq7sxf3uim+4aoZ7PJKdIqU"
    body:
      encoding: UTF-8
      string: '{"id":"wsearch_01kapw2gyen002q77hn21gfhkx","object":"webset_search","websetId":"webset_01kapw1wqtrq3wzz9h8jbmj0cm","status":"running","query":"E-commerce
        platforms with international shipping","entity":{"type":"company"},"criteria":[],"count":2,"behavior":"override","exclude":[],"scope":[],"progress":{"found":0,"analyzed":0,"completion":0,"timeLeft":null},"recall":null,"metadata":{},"canceledAt":null,"canceledReason":null,"createdAt":"2025-11-22T22:48:35.534Z","updatedAt":"2025-11-22T22:48:35.903Z"}'
  recorded_at: Sat, 22 Nov 2025 22:48:36 GMT
- request:
    method: post
    uri: https://api.exa.ai/websets/v0/websets/webset_01kapw1wqtrq3wzz9h8jbmj0cm/searches
    body:
      encoding: UTF-8
      string: '{"query":"Direct-to-consumer brands in fashion","count":2}'
    headers:
      X-Api-Key:
      - "<EXA_API_KEY>"
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Origin-Agent-Cluster:
      - "?1"
      Etag:
      - W/"1ec-Ux9NfFAbli7Jd7iqKlakAf2vKdI"
    body:
      encoding: UTF-8
      string: '{"id":"wsearch_01kapw2jjy3af87emqav3fjnf9","object":"webset_search","websetId":"webset_01kapw1wqtrq3wzz9h8jbmj0cm","status":"running","query":"Direct-to-consumer
        brands in fashion","entity":{"type":"company"},"criteria":[],"count":2,"behavior":"override","exclude":[],"scope":[],"progress":{"found":0,"analyzed":0,"completion":0,"timeLeft":null},"recall":null,"metadata":{},"canceledAt":null,"canceledReason":null,"createdAt":"2025-11-22T22:48:37.214Z","updatedAt":"2025-11-22T22:48:37.649Z"}'
  recorded_at: Sat, 22 Nov 2025 22:48:37 GMT
recorded_with: VCR 6.3.1
