---
http_interactions:
- request:
    method: post
    uri: https://api.exa.ai/websets/v0/websets
    body:
      encoding: UTF-8
      string: '{"search":{"query":"Companies for status test","count":1}}'
    headers:
      X-Api-Key:
      - "<EXA_API_KEY>"
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Origin-Agent-Cluster:
      - "?1"
      Etag:
      - W/"2f3-k68QGHS/0ixV9FumfwtDy5LN6og"
    body:
      encoding: UTF-8
      string: '{"id":"webset_01kapmesahz1km4z3krb81h8sq","object":"webset","status":"running","externalId":null,"title":null,"searches":[{"id":"wsearch_01kapmesp2pmp4gr3ssvz67q9p","object":"webset_search","websetId":"webset_01kapmesahz1km4z3krb81h8sq","status":"running","query":"Companies
        for status test","entity":{"type":"company"},"criteria":[],"count":1,"behavior":"override","exclude":[],"scope":[],"progress":{"found":0,"analyzed":0,"completion":0,"timeLeft":null},"recall":null,"metadata":{},"canceledAt":null,"canceledReason":null,"createdAt":"2025-11-22T20:35:29.090Z","updatedAt":"2025-11-22T20:35:29.467Z"}],"imports":[],"enrichments":[],"monitors":[],"excludes":[],"metadata":{},"createdAt":"2025-11-22T20:35:28.721Z","updatedAt":"2025-11-22T20:35:29.467Z"}'
  recorded_at: Sat, 22 Nov 2025 20:35:30 GMT
- request:
    method: post
    uri: https://api.exa.ai/websets/v0/websets/webset_01kapmesahz1km4z3krb81h8sq/searches
    body:
      encoding: UTF-8
      string: '{"query":"Status tracking test","count":5}'
    headers:
      X-Api-Key:
      - "<EXA_API_KEY>"
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Origin-Agent-Cluster:
      - "?1"
      Etag:
      - W/"1dc-q4xWDcYIGhjIbzdGjPq0PnOE6uk"
    body:
      encoding: UTF-8
      string: '{"id":"wsearch_01kapmfg1a7k731w2f55pq8yw4","object":"webset_search","websetId":"webset_01kapmesahz1km4z3krb81h8sq","status":"running","query":"Status
        tracking test","entity":{"type":"company"},"criteria":[],"count":5,"behavior":"override","exclude":[],"scope":[],"progress":{"found":0,"analyzed":0,"completion":0,"timeLeft":null},"recall":null,"metadata":{},"canceledAt":null,"canceledReason":null,"createdAt":"2025-11-22T20:35:51.978Z","updatedAt":"2025-11-22T20:35:52.316Z"}'
  recorded_at: Sat, 22 Nov 2025 20:35:52 GMT
- request:
    method: get
    uri: https://api.exa.ai/websets/v0/websets/webset_01kapmesahz1km4z3krb81h8sq/searches/wsearch_01kapmfg1a7k731w2f55pq8yw4
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Api-Key:
      - "<EXA_API_KEY>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Origin-Agent-Cluster:
      - "?1"
      Etag:
      - W/"1dc-q4xWDcYIGhjIbzdGjPq0PnOE6uk"
    body:
      encoding: ASCII-8BIT
      string: '{"id":"wsearch_01kapmfg1a7k731w2f55pq8yw4","object":"webset_search","websetId":"webset_01kapmesahz1km4z3krb81h8sq","status":"running","query":"Status
        tracking test","entity":{"type":"company"},"criteria":[],"count":5,"behavior":"override","exclude":[],"scope":[],"progress":{"found":0,"analyzed":0,"completion":0,"timeLeft":null},"recall":null,"metadata":{},"canceledAt":null,"canceledReason":null,"createdAt":"2025-11-22T20:35:51.978Z","updatedAt":"2025-11-22T20:35:52.316Z"}'
  recorded_at: Sat, 22 Nov 2025 20:35:53 GMT
recorded_with: VCR 6.3.1
