---
http_interactions:
- request:
    method: post
    uri: https://api.exa.ai/websets/v0/websets
    body:
      encoding: UTF-8
      string: '{"search":{"query":"Biotech companies","count":1}}'
    headers:
      X-Api-Key:
      - "<EXA_API_KEY>"
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Origin-Agent-Cluster:
      - "?1"
      Etag:
      - W/"2eb-il+RKZ06q3ReL+wKYYkHWTC7ogQ"
    body:
      encoding: UTF-8
      string: '{"id":"webset_01kapmh2a0hdxt5qvjb4mdxdsx","object":"webset","status":"running","externalId":null,"title":null,"searches":[{"id":"wsearch_01kapmh2nq4p2w7bgkz5szbh5a","object":"webset_search","websetId":"webset_01kapmh2a0hdxt5qvjb4mdxdsx","status":"running","query":"Biotech
        companies","entity":{"type":"company"},"criteria":[],"count":1,"behavior":"override","exclude":[],"scope":[],"progress":{"found":0,"analyzed":0,"completion":0,"timeLeft":null},"recall":null,"metadata":{},"canceledAt":null,"canceledReason":null,"createdAt":"2025-11-22T20:36:43.831Z","updatedAt":"2025-11-22T20:36:44.208Z"}],"imports":[],"enrichments":[],"monitors":[],"excludes":[],"metadata":{},"createdAt":"2025-11-22T20:36:43.456Z","updatedAt":"2025-11-22T20:36:44.208Z"}'
  recorded_at: Sat, 22 Nov 2025 20:36:44 GMT
- request:
    method: post
    uri: https://api.exa.ai/websets/v0/websets/webset_01kapmh2a0hdxt5qvjb4mdxdsx/searches
    body:
      encoding: UTF-8
      string: '{"query":"Pharmaceutical startups","count":50,"recall":true}'
    headers:
      X-Api-Key:
      - "<EXA_API_KEY>"
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Origin-Agent-Cluster:
      - "?1"
      Etag:
      - W/"1e0-4U74KKBcRP9GkBBpQ2xWFMRT8n8"
    body:
      encoding: UTF-8
      string: '{"id":"wsearch_01kapmhn62wwttn44ysy2svgn7","object":"webset_search","websetId":"webset_01kapmh2a0hdxt5qvjb4mdxdsx","status":"running","query":"Pharmaceutical
        startups","entity":{"type":"company"},"criteria":[],"count":50,"behavior":"override","exclude":[],"scope":[],"progress":{"found":0,"analyzed":0,"completion":0,"timeLeft":null},"recall":null,"metadata":{},"canceledAt":null,"canceledReason":null,"createdAt":"2025-11-22T20:37:02.786Z","updatedAt":"2025-11-22T20:37:03.154Z"}'
  recorded_at: Sat, 22 Nov 2025 20:37:03 GMT
recorded_with: VCR 6.3.1
