---
http_interactions:
- request:
    method: post
    uri: https://api.exa.ai/websets/v0/websets
    body:
      encoding: UTF-8
      string: '{"search":{"query":"Companies for metadata test","count":1}}'
    headers:
      X-Api-Key:
      - "<EXA_API_KEY>"
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Origin-Agent-Cluster:
      - "?1"
      Etag:
      - W/"2f5-qnZWhgoaezrpDd4s6CV1nwZBixM"
    body:
      encoding: UTF-8
      string: '{"id":"webset_01kapmdvtkscps1y2kh9snkp1k","object":"webset","status":"running","externalId":null,"title":null,"searches":[{"id":"wsearch_01kapmdw56szz82e564j9803z3","object":"webset_search","websetId":"webset_01kapmdvtkscps1y2kh9snkp1k","status":"running","query":"Companies
        for metadata test","entity":{"type":"company"},"criteria":[],"count":1,"behavior":"override","exclude":[],"scope":[],"progress":{"found":0,"analyzed":0,"completion":0,"timeLeft":null},"recall":null,"metadata":{},"canceledAt":null,"canceledReason":null,"createdAt":"2025-11-22T20:34:58.854Z","updatedAt":"2025-11-22T20:34:59.217Z"}],"imports":[],"enrichments":[],"monitors":[],"excludes":[],"metadata":{},"createdAt":"2025-11-22T20:34:58.515Z","updatedAt":"2025-11-22T20:34:59.217Z"}'
  recorded_at: Sat, 22 Nov 2025 20:34:59 GMT
- request:
    method: post
    uri: https://api.exa.ai/websets/v0/websets/webset_01kapmdvtkscps1y2kh9snkp1k/searches
    body:
      encoding: UTF-8
      string: '{"query":"Metadata test search","count":10,"metadata":{"test_key":"test_value","project":"integration_test"}}'
    headers:
      X-Api-Key:
      - "<EXA_API_KEY>"
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Origin-Agent-Cluster:
      - "?1"
      Etag:
      - W/"1dd-yfrcusOkyu7hceGnwGR8M65gClg"
    body:
      encoding: UTF-8
      string: '{"id":"wsearch_01kapmech72mx2z0r4dqyq31n3","object":"webset_search","websetId":"webset_01kapmdvtkscps1y2kh9snkp1k","status":"running","query":"Metadata
        test search","entity":{"type":"company"},"criteria":[],"count":10,"behavior":"override","exclude":[],"scope":[],"progress":{"found":0,"analyzed":0,"completion":0,"timeLeft":null},"recall":null,"metadata":{},"canceledAt":null,"canceledReason":null,"createdAt":"2025-11-22T20:35:15.623Z","updatedAt":"2025-11-22T20:35:16.073Z"}'
  recorded_at: Sat, 22 Nov 2025 20:35:16 GMT
recorded_with: VCR 6.3.1
