---
http_interactions:
- request:
    method: post
    uri: https://api.exa.ai/websets/v0/websets
    body:
      encoding: UTF-8
      string: '{"search":{"query":"Tech companies","count":1}}'
    headers:
      X-Api-Key:
      - "<EXA_API_KEY>"
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Origin-Agent-Cluster:
      - "?1"
      Etag:
      - W/"2e8-PLqMZ/lD/bszJBsO1FkIlUYZMho"
    body:
      encoding: UTF-8
      string: '{"id":"webset_01kapqat1ey1ttyr0de7eb4ctc","object":"webset","status":"running","externalId":null,"title":null,"searches":[{"id":"wsearch_01kapqatcqd581rc4j2gvyscfz","object":"webset_search","websetId":"webset_01kapqat1ey1ttyr0de7eb4ctc","status":"running","query":"Tech
        companies","entity":{"type":"company"},"criteria":[],"count":1,"behavior":"override","exclude":[],"scope":[],"progress":{"found":0,"analyzed":0,"completion":0,"timeLeft":null},"recall":null,"metadata":{},"canceledAt":null,"canceledReason":null,"createdAt":"2025-11-22T21:25:44.471Z","updatedAt":"2025-11-22T21:25:44.817Z"}],"imports":[],"enrichments":[],"monitors":[],"excludes":[],"metadata":{},"createdAt":"2025-11-22T21:25:44.110Z","updatedAt":"2025-11-22T21:25:44.817Z"}'
  recorded_at: Sat, 22 Nov 2025 21:25:45 GMT
recorded_with: VCR 6.3.1
