---
http_interactions:
- request:
    method: post
    uri: https://api.exa.ai/websets/v0/websets
    body:
      encoding: UTF-8
      string: '{"search":{"query":"B2B SaaS","count":1}}'
    headers:
      X-Api-Key:
      - "<EXA_API_KEY>"
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Origin-Agent-Cluster:
      - "?1"
      Etag:
      - W/"2e2-XjJNrHnuxiW+9BEeMs3vdJK81Hw"
    body:
      encoding: UTF-8
      string: '{"id":"webset_01kapw6vk9vqyqe1df215wrwh6","object":"webset","status":"running","externalId":null,"title":null,"searches":[{"id":"wsearch_01kapw6vy824pe0byxnet066ve","object":"webset_search","websetId":"webset_01kapw6vk9vqyqe1df215wrwh6","status":"running","query":"B2B
        SaaS","entity":{"type":"company"},"criteria":[],"count":1,"behavior":"override","exclude":[],"scope":[],"progress":{"found":0,"analyzed":0,"completion":0,"timeLeft":null},"recall":null,"metadata":{},"canceledAt":null,"canceledReason":null,"createdAt":"2025-11-22T22:50:57.864Z","updatedAt":"2025-11-22T22:50:58.212Z"}],"imports":[],"enrichments":[],"monitors":[],"excludes":[],"metadata":{},"createdAt":"2025-11-22T22:50:57.513Z","updatedAt":"2025-11-22T22:50:58.212Z"}'
  recorded_at: Sat, 22 Nov 2025 22:50:59 GMT
- request:
    method: post
    uri: https://api.exa.ai/websets/v0/websets/webset_01kapw6vk9vqyqe1df215wrwh6/searches
    body:
      encoding: UTF-8
      string: '{"query":"SaaS companies","count":2,"criteria":[{"description":"focused
        on enterprise customers"},{"description":"raised Series A or later"}]}'
    headers:
      X-Api-Key:
      - "<EXA_API_KEY>"
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Origin-Agent-Cluster:
      - "?1"
      Etag:
      - W/"252-TEqILv53LvOzXZSf1yVmOmcP1Z8"
    body:
      encoding: UTF-8
      string: '{"id":"wsearch_01kapw7kpqdk933c345pde83j3","object":"webset_search","websetId":"webset_01kapw6vk9vqyqe1df215wrwh6","status":"running","query":"SaaS
        companies","entity":{"type":"company"},"criteria":[{"description":"focused
        on enterprise customers","successRate":0},{"description":"raised Series A
        or later","successRate":0}],"count":2,"behavior":"override","exclude":[],"scope":[],"progress":{"found":0,"analyzed":0,"completion":0,"timeLeft":null},"recall":null,"metadata":{},"canceledAt":null,"canceledReason":null,"createdAt":"2025-11-22T22:51:22.199Z","updatedAt":"2025-11-22T22:51:22.566Z"}'
  recorded_at: Sat, 22 Nov 2025 22:51:22 GMT
recorded_with: VCR 6.3.1
