---
http_interactions:
- request:
    method: post
    uri: https://api.exa.ai/websets/v0/websets
    body:
      encoding: UTF-8
      string: '{"search":{"query":"Initial companies","count":1}}'
    headers:
      X-Api-Key:
      - "<EXA_API_KEY>"
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Origin-Agent-Cluster:
      - "?1"
      Etag:
      - W/"2eb-z+x41zs2+74pqE+jffKqP/fALVM"
    body:
      encoding: UTF-8
      string: '{"id":"webset_01kapqbcx1c5d11hxttqyq2ny8","object":"webset","status":"running","externalId":null,"title":null,"searches":[{"id":"wsearch_01kapqbd92cqq3gnkpssk1vvkj","object":"webset_search","websetId":"webset_01kapqbcx1c5d11hxttqyq2ny8","status":"running","query":"Initial
        companies","entity":{"type":"company"},"criteria":[],"count":1,"behavior":"override","exclude":[],"scope":[],"progress":{"found":0,"analyzed":0,"completion":0,"timeLeft":null},"recall":null,"metadata":{},"canceledAt":null,"canceledReason":null,"createdAt":"2025-11-22T21:26:03.810Z","updatedAt":"2025-11-22T21:26:04.229Z"}],"imports":[],"enrichments":[],"monitors":[],"excludes":[],"metadata":{},"createdAt":"2025-11-22T21:26:03.425Z","updatedAt":"2025-11-22T21:26:04.229Z"}'
  recorded_at: Sat, 22 Nov 2025 21:26:04 GMT
recorded_with: VCR 6.3.1
