---
http_interactions:
- request:
    method: post
    uri: https://api.exa.ai/websets/v0/websets
    body:
      encoding: UTF-8
      string: '{"search":{"query":"B2B SaaS companies with recent funding rounds","count":1}}'
    headers:
      X-Api-Key:
      - "<EXA_API_KEY>"
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Origin-Agent-Cluster:
      - "?1"
      Etag:
      - W/"307-S7PVyR2gKdbXEFMr11EpI3l+CPc"
    body:
      encoding: UTF-8
      string: '{"id":"webset_01kapqa0978d4y9egrwraddyts","object":"webset","status":"running","externalId":null,"title":null,"searches":[{"id":"wsearch_01kapqa0krhnz2akrbsqabj3ve","object":"webset_search","websetId":"webset_01kapqa0978d4y9egrwraddyts","status":"running","query":"B2B
        SaaS companies with recent funding rounds","entity":{"type":"company"},"criteria":[],"count":1,"behavior":"override","exclude":[],"scope":[],"progress":{"found":0,"analyzed":0,"completion":0,"timeLeft":null},"recall":null,"metadata":{},"canceledAt":null,"canceledReason":null,"createdAt":"2025-11-22T21:25:18.072Z","updatedAt":"2025-11-22T21:25:18.469Z"}],"imports":[],"enrichments":[],"monitors":[],"excludes":[],"metadata":{},"createdAt":"2025-11-22T21:25:17.735Z","updatedAt":"2025-11-22T21:25:18.469Z"}'
  recorded_at: Sat, 22 Nov 2025 21:25:18 GMT
- request:
    method: get
    uri: https://api.exa.ai/websets/v0/websets/webset_01kapqa0978d4y9egrwraddyts
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Api-Key:
      - "<EXA_API_KEY>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Origin-Agent-Cluster:
      - "?1"
      Etag:
      - W/"312-htGxsUBvQ6aX9fjV+Wkg/oknxfg"
    body:
      encoding: ASCII-8BIT
      string: '{"id":"webset_01kapqa0978d4y9egrwraddyts","object":"webset","status":"running","externalId":null,"title":null,"searches":[{"id":"wsearch_01kapqa0krhnz2akrbsqabj3ve","object":"webset_search","websetId":"webset_01kapqa0978d4y9egrwraddyts","status":"running","query":"B2B
        SaaS companies with recent funding rounds","entity":{"type":"company"},"criteria":[],"count":1,"behavior":"override","exclude":[],"scope":[],"progress":{"found":0,"analyzed":0,"completion":0,"timeLeft":null},"recall":null,"metadata":{},"canceledAt":null,"canceledReason":null,"createdAt":"2025-11-22T21:25:18.072Z","updatedAt":"2025-11-22T21:25:18.469Z"}],"imports":[],"enrichments":[],"monitors":[],"excludes":[],"metadata":{},"createdAt":"2025-11-22T21:25:17.735Z","updatedAt":"2025-11-22T21:25:18.469Z","items":[]}'
  recorded_at: Sat, 22 Nov 2025 21:25:19 GMT
- request:
    method: get
    uri: https://api.exa.ai/websets/v0/websets/webset_01kapqa0978d4y9egrwraddyts
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Api-Key:
      - "<EXA_API_KEY>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Origin-Agent-Cluster:
      - "?1"
      Etag:
      - W/"409-yQqGI264rtKfGL5yhocGeduSXHo"
    body:
      encoding: ASCII-8BIT
      string: '{"id":"webset_01kapqa0978d4y9egrwraddyts","object":"webset","status":"running","externalId":null,"title":"Companies:
        B2B SaaS, recent funding rounds","searches":[{"id":"wsearch_01kapqa0krhnz2akrbsqabj3ve","object":"webset_search","websetId":"webset_01kapqa0978d4y9egrwraddyts","status":"running","query":"B2B
        SaaS companies with recent funding rounds","entity":{"type":"company"},"criteria":[{"description":"Company
        provides B2B (business-to-business) SaaS (software-as-a-service) products
        or services","successRate":0},{"description":"Company has completed a funding
        round in 2025","successRate":0}],"count":1,"behavior":"override","exclude":[],"scope":[],"progress":{"found":0,"analyzed":0,"completion":0,"timeLeft":null},"recall":null,"metadata":{},"canceledAt":null,"canceledReason":null,"createdAt":"2025-11-22T21:25:18.072Z","updatedAt":"2025-11-22T21:25:21.050Z"}],"imports":[],"enrichments":[],"monitors":[],"excludes":[],"metadata":{},"createdAt":"2025-11-22T21:25:17.735Z","updatedAt":"2025-11-22T21:25:21.050Z","items":[]}'
  recorded_at: Sat, 22 Nov 2025 21:25:22 GMT
[...]
