---
http_interactions:
- request:
    method: post
    uri: https://api.exa.ai/websets/v0/websets
    body:
      encoding: UTF-8
      string: '{"search":{"query":"Tech startups in NYC","count":1},"enrichments":[{"description":"Find
        the company''s primary contact email address","format":"email"},{"description":"Determine
        the company size category","format":"options","options":[{"label":"1-10 employees"},{"label":"11-50
        employees"},{"label":"51-200 employees"},{"label":"201+ employees"}]}]}'
    headers:
      X-Api-Key:
      - "<EXA_API_KEY>"
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Origin-Agent-Cluster:
      - "?1"
      Etag:
      - W/"61d-xwb06T7L7as+JxeItivtCjRbjTo"
    body:
      encoding: UTF-8
      string: '{"id":"webset_01kap3qtcg6vefhfqwv3b4xf6f","object":"webset","status":"running","externalId":null,"title":null,"searches":[{"id":"wsearch_01kap3qts33yb88z6sw13trq1c","object":"webset_search","websetId":"webset_01kap3qtcg6vefhfqwv3b4xf6f","status":"running","query":"Tech
        startups in NYC","entity":{"type":"company"},"criteria":[],"count":1,"behavior":"override","exclude":[],"scope":[],"progress":{"found":0,"analyzed":0,"completion":0,"timeLeft":null},"recall":null,"metadata":{},"canceledAt":null,"canceledReason":null,"createdAt":"2025-11-22T15:43:19.331Z","updatedAt":"2025-11-22T15:43:19.702Z"}],"imports":[],"enrichments":[{"id":"wenrich_cmiagktmj005hg91t9o1eph2o","object":"webset_enrichment","status":"pending","websetId":"webset_01kap3qtcg6vefhfqwv3b4xf6f","title":null,"description":"Find
        the company''s primary contact email address","format":"text","options":null,"instructions":null,"metadata":{},"createdAt":"2025-11-22T15:43:19.291Z","updatedAt":"2025-11-22T15:43:19.291Z"},{"id":"wenrich_cmiagktmj005ig91twokutwzc","object":"webset_enrichment","status":"pending","websetId":"webset_01kap3qtcg6vefhfqwv3b4xf6f","title":null,"description":"Determine
        the company size category","format":"options","options":[{"label":"1-10 employees"},{"label":"11-50
        employees"},{"label":"51-200 employees"},{"label":"201+ employees"}],"instructions":null,"metadata":{},"createdAt":"2025-11-22T15:43:19.291Z","updatedAt":"2025-11-22T15:43:19.291Z"}],"monitors":[],"excludes":[],"metadata":{},"createdAt":"2025-11-22T15:43:18.928Z","updatedAt":"2025-11-22T15:43:19.702Z"}'
  recorded_at: Sat, 22 Nov 2025 15:43:20 GMT
- request:
    method: get
    uri: https://api.exa.ai/websets/v0/websets/webset_01kap3qtcg6vefhfqwv3b4xf6f
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Api-Key:
      - "<EXA_API_KEY>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Origin-Agent-Cluster:
      - "?1"
      Etag:
      - W/"628-lmw0r9qvmW8d3MuAksSzLzztua0"
    body:
      encoding: ASCII-8BIT
      string: '{"id":[...]
- request:
    method: get
    uri: https://api.exa.ai/websets/v0/websets/webset_01kap3qtcg6vefhfqwv3b4xf6f
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Api-Key:
      - "<EXA_API_KEY>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Origin-Agent-Cluster:
      - "?1"
      Etag:
      - W/"6b3-ihCqmWSEy3f9n8cb3cujmr3GhC0"
    body:
      encoding: ASCII-8BIT
      string: '{"id":"webset_01kap3qtcg6vefhfqwv3b4xf6f","object":"webset","status":"running","externalId":null,"title":"Companies:
        Tech startups in NYC","searches":[{"id":"wsearch_01kap3qts33yb88z6sw13trq1c","object":"webset_search","websetId":"webset_01kap3qtcg6vefhfqwv3b4xf6f","status":"running","query":"Tech
        startups in NYC","entity":{"type":"company"},"criteria":[{"description":"Company
        is a technology-focused startup headquartered in New York City (NYC)","successRate":0}],"count":1,"behavior":"override","exclude":[],"scope":[],"progress":{"found":0,"analyzed":0,"completion":0,"timeLeft":null},"recall":null,"metadata":{},"canceledAt":null,"canceledReason":null,"createdAt":"2025-11-22T15:43:19.331Z","updatedAt":"2025-11-22T15:43:21.375Z"}],"imports":[],"enrichments":[{"id":"wenrich_cmiagktmj005hg91t9o1eph2o","object":"webset_enrichment","status":"pending","websetId":"webset_01kap3qtcg6vefhfqwv3b4xf6f","title":null,"description":"Find
        the company''s primary contact email address","format":"text","options":null,"instructions":null,"metadata":{},"createdAt":"2025-11-22T15:43:19.291Z","updatedAt":"2025-11-22T15:43:19.291Z"},{"id":"wenrich_cmiagktmj005ig91twokutwzc","object":"webset_enrichment","status":"pending","websetId":"webset_01kap3qtcg6vefhfqwv3b4xf6f","title":null,"description":"Determine
        the company size category","format":"options","options":[{"label":"1-10 employees"},{"label":"11-50
        employees"},{"label":"51-200 employees"},{"label":"201+ employees"}],"instructions":null,"metadata":{},"createdAt":"2025-11-22T15:43:19.291Z","updatedAt":"2025-11-22T15:43:19.291Z"}],"monitors":[],"excludes":[],"metadata":{},"createdAt":"2025-11-22T15:43:18.928Z","updatedAt":"2025-11-22T15:43:21.375Z","items":[]}'
  recorded_at: Sat, 22 Nov 2025 15:43:23 GMT
[...]
