---
http_interactions:
- request:
    method: post
    uri: https://api.exa.ai/websets/v0/websets
    body:
      encoding: UTF-8
      string: '{"search":{"query":"Long running search","count":1}}'
    headers:
      X-Api-Key:
      - "<EXA_API_KEY>"
      Content-Type:
      - application/json
  response:
    status:
      code: 500
      message: Internal Server Error
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Origin-Agent-Cluster:
      - "?1"
      Etag:
      - W/"a2-CJG248gt68OYjSmNBCdzX9XZeLw"
    body:
      encoding: UTF-8
      string: '{"statusCode":500,"timestamp":"2025-11-22T20:38:27.900Z","message":"Something
        went wrong. Please try again.","error":"Internal Server Error","path":"/v0/websets"}'
  recorded_at: Sat, 22 Nov 2025 20:38:28 GMT
recorded_with: VCR 6.3.1
