---
http_interactions:
- request:
    method: post
    uri: https://api.exa.ai/websets/v0/websets
    body:
      encoding: UTF-8
      string: '{"search":{"query":"AI/ML infrastructure startups with Series A funding","count":1}}'
    headers:
      X-Api-Key:
      - "<EXA_API_KEY>"
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Origin-Agent-Cluster:
      - "?1"
      Etag:
      - W/"30d-A44bSAFYg5VzDP7FHv7BAgho+Ng"
    body:
      encoding: UTF-8
      string: '{"id":"webset_01kapq8phv0v9zqt3gqh1j69w4","object":"webset","status":"running","externalId":null,"title":null,"searches":[{"id":"wsearch_01kapq8py516v5tyq88vqweegh","object":"webset_search","websetId":"webset_01kapq8phv0v9zqt3gqh1j69w4","status":"running","query":"AI/ML
        infrastructure startups with Series A funding","entity":{"type":"company"},"criteria":[],"count":1,"behavior":"override","exclude":[],"scope":[],"progress":{"found":0,"analyzed":0,"completion":0,"timeLeft":null},"recall":null,"metadata":{},"canceledAt":null,"canceledReason":null,"createdAt":"2025-11-22T21:24:35.397Z","updatedAt":"2025-11-22T21:24:35.797Z"}],"imports":[],"enrichments":[],"monitors":[],"excludes":[],"metadata":{},"createdAt":"2025-11-22T21:24:35.003Z","updatedAt":"2025-11-22T21:24:35.797Z"}'
  recorded_at: Sat, 22 Nov 2025 21:24:36 GMT
- request:
    method: get
    uri: https://api.exa.ai/websets/v0/websets/webset_01kapq8phv0v9zqt3gqh1j69w4
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Api-Key:
      - "<EXA_API_KEY>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Origin-Agent-Cluster:
      - "?1"
      Etag:
      - W/"3e4-6okUsvHMJXJnYg3TdiV2a92AaMI"
    body:
      encoding: ASCII-8BIT
      string: '{"id":"webset_01kapq8phv0v9zqt3gqh1j69w4","object":"webset","status":"running","externalId":null,"title":"Companies:
        AI/ML infrastructure startups, Series A funding","searches":[{"id":"wsearch_01kapq8py516v5tyq88vqweegh","object":"webset_search","websetId":"webset_01kapq8phv0v9zqt3gqh1j69w4","status":"running","query":"AI/ML
        infrastructure startups with Series A funding","entity":{"type":"company"},"criteria":[{"description":"Early-stage
        company (startup) providing AI/ML infrastructure products or services that
        has raised Series A funding","successRate":0}],"count":1,"behavior":"override","exclude":[],"scope":[],"progress":{"found":0,"analyzed":0,"completion":0,"timeLeft":null},"recall":null,"metadata":{},"canceledAt":null,"canceledReason":null,"createdAt":"2025-11-22T21:24:35.397Z","updatedAt":"2025-11-22T21:24:36.792Z"}],"imports":[],"enrichments":[],"monitors":[],"excludes":[],"metadata":{},"createdAt":"2025-11-22T21:24:35.003Z","updatedAt":"2025-11-22T21:24:37.015Z","items":[]}'
  recorded_at: Sat, 22 Nov 2025 21:24:38 GMT
[...]
