---
http_interactions:
- request:
    method: post
    uri: https://api.exa.ai/websets/v0/websets
    body:
      encoding: UTF-8
      string: '{"search":{"query":"Healthcare technology startups","count":1}}'
    headers:
      X-Api-Key:
      - "<EXA_API_KEY>"
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Origin-Agent-Cluster:
      - "?1"
      Etag:
      - W/"2f8-Dn+Rdo33UAg8d9NBMQG4RY2CLzo"
    body:
      encoding: UTF-8
      string: '{"id":"webset_01kapw5zyg7rw10nkc799hch93","object":"webset","status":"running","externalId":null,"title":null,"searches":[{"id":"wsearch_01kapw60an9qed26zq6ad846tb","object":"webset_search","websetId":"webset_01kapw5zyg7rw10nkc799hch93","status":"running","query":"Healthcare
        technology startups","entity":{"type":"company"},"criteria":[],"count":1,"behavior":"override","exclude":[],"scope":[],"progress":{"found":0,"analyzed":0,"completion":0,"timeLeft":null},"recall":null,"metadata":{},"canceledAt":null,"canceledReason":null,"createdAt":"2025-11-22T22:50:29.589Z","updatedAt":"2025-11-22T22:50:29.946Z"}],"imports":[],"enrichments":[],"monitors":[],"excludes":[],"metadata":{},"createdAt":"2025-11-22T22:50:29.200Z","updatedAt":"2025-11-22T22:50:29.946Z"}'
  recorded_at: Sat, 22 Nov 2025 22:50:30 GMT
- request:
    method: post
    uri: https://api.exa.ai/websets/v0/websets/webset_01kapw5zyg7rw10nkc799hch93/searches
    body:
      encoding: UTF-8
      string: '{"query":"Digital health platforms with FDA approval","count":2}'
    headers:
      X-Api-Key:
      - "<EXA_API_KEY>"
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Origin-Agent-Cluster:
      - "?1"
      Etag:
      - W/"1f2-LLZGGeuXx4OaiHxrvJTvlr4byQc"
    body:
      encoding: UTF-8
      string: '{"id":"wsearch_01kapw6r33r6wqg2x6j02934xc","object":"webset_search","websetId":"webset_01kapw5zyg7rw10nkc799hch93","status":"running","query":"Digital
        health platforms with FDA approval","entity":{"type":"company"},"criteria":[],"count":2,"behavior":"override","exclude":[],"scope":[],"progress":{"found":0,"analyzed":0,"completion":0,"timeLeft":null},"recall":null,"metadata":{},"canceledAt":null,"canceledReason":null,"createdAt":"2025-11-22T22:50:53.923Z","updatedAt":"2025-11-22T22:50:54.346Z"}'
  recorded_at: Sat, 22 Nov 2025 22:50:54 GMT
- request:
    method: get
    uri: https://api.exa.ai/websets/v0/websets/webset_01kapw5zyg7rw10nkc799hch93/searches/wsearch_01kapw6r33r6wqg2x6j02934xc
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Api-Key:
      - "<EXA_API_KEY>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Origin-Agent-Cluster:
      - "?1"
      Etag:
      - W/"1f2-LLZGGeuXx4OaiHxrvJTvlr4byQc"
    body:
      encoding: ASCII-8BIT
      string: '{"id":"wsearch_01kapw6r33r6wqg2x6j02934xc","object":"webset_search","websetId":"webset_01kapw5zyg7rw10nkc799hch93","status":"running","query":"Digital
        health platforms with FDA approval","entity":{"type":"company"},"criteria":[],"count":2,"behavior":"override","exclude":[],"scope":[],"progress":{"found":0,"analyzed":0,"completion":0,"timeLeft":null},"recall":null,"metadata":{},"canceledAt":null,"canceledReason":null,"createdAt":"2025-11-22T22:50:53.923Z","updatedAt":"2025-11-22T22:50:54.346Z"}'
  recorded_at: Sat, 22 Nov 2025 22:50:54 GMT
recorded_with: VCR 6.3.1
