---
http_interactions:
- request:
    method: post
    uri: https://api.exa.ai/websets/v0/websets
    body:
      encoding: UTF-8
      string: '{"search":{"query":"Tech founders","count":1,"entity":{"type":"person"}}}'
    headers:
      X-Api-Key:
      - "<EXA_API_KEY>"
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Origin-Agent-Cluster:
      - "?1"
      Etag:
      - W/"2e6-/oVQReS0WgCuk6JqCuW+h5M3a3U"
    body:
      encoding: UTF-8
      string: '{"id":"webset_01kapmg8s8vsc750snny3qf6s6","object":"webset","status":"running","externalId":null,"title":null,"searches":[{"id":"wsearch_01kapmg963csbcy2dq1k5dps1k","object":"webset_search","websetId":"webset_01kapmg8s8vsc750snny3qf6s6","status":"running","query":"Tech
        founders","entity":{"type":"person"},"criteria":[],"count":1,"behavior":"override","exclude":[],"scope":[],"progress":{"found":0,"analyzed":0,"completion":0,"timeLeft":null},"recall":null,"metadata":{},"canceledAt":null,"canceledReason":null,"createdAt":"2025-11-22T20:36:17.731Z","updatedAt":"2025-11-22T20:36:18.080Z"}],"imports":[],"enrichments":[],"monitors":[],"excludes":[],"metadata":{},"createdAt":"2025-11-22T20:36:17.320Z","updatedAt":"2025-11-22T20:36:18.080Z"}'
  recorded_at: Sat, 22 Nov 2025 20:36:18 GMT
- request:
    method: post
    uri: https://api.exa.ai/websets/v0/websets/webset_01kapmg8s8vsc750snny3qf6s6/searches
    body:
      encoding: UTF-8
      string: '{"query":"AI researchers","count":10,"entity":{"type":"person"}}'
    headers:
      X-Api-Key:
      - "<EXA_API_KEY>"
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Origin-Agent-Cluster:
      - "?1"
      Etag:
      - W/"1d6-ROUciHwkBsJbTJDHg2Y6AWkGf2c"
    body:
      encoding: UTF-8
      string: '{"id":"wsearch_01kapmgxfeaextcqtx5w4msq7h","object":"webset_search","websetId":"webset_01kapmg8s8vsc750snny3qf6s6","status":"running","query":"AI
        researchers","entity":{"type":"person"},"criteria":[],"count":10,"behavior":"override","exclude":[],"scope":[],"progress":{"found":0,"analyzed":0,"completion":0,"timeLeft":null},"recall":null,"metadata":{},"canceledAt":null,"canceledReason":null,"createdAt":"2025-11-22T20:36:38.510Z","updatedAt":"2025-11-22T20:36:38.897Z"}'
  recorded_at: Sat, 22 Nov 2025 20:36:39 GMT
recorded_with: VCR 6.3.1
