---
http_interactions:
- request:
    method: post
    uri: https://api.exa.ai/websets/v0/websets
    body:
      encoding: UTF-8
      string: '{"search":{"query":"B2B SaaS companies with recent funding rounds","count":1}}'
    headers:
      X-Api-Key:
      - "<EXA_API_KEY>"
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Origin-Agent-Cluster:
      - "?1"
      Etag:
      - W/"307-fghTccADe5bB6nb5LKICBMLe008"
    body:
      encoding: UTF-8
      string: '{"id":"webset_01kapnt8cywv30yfpsa3r7k1cz","object":"webset","status":"running","externalId":null,"title":null,"searches":[{"id":"wsearch_01kapnt8ws3126k645c7vyxk4g","object":"webset_search","websetId":"webset_01kapnt8cywv30yfpsa3r7k1cz","status":"running","query":"B2B
        SaaS companies with recent funding rounds","entity":{"type":"company"},"criteria":[],"count":1,"behavior":"override","exclude":[],"scope":[],"progress":{"found":0,"analyzed":0,"completion":0,"timeLeft":null},"recall":null,"metadata":{},"canceledAt":null,"canceledReason":null,"createdAt":"2025-11-22T20:59:13.689Z","updatedAt":"2025-11-22T20:59:14.018Z"}],"imports":[],"enrichments":[],"monitors":[],"excludes":[],"metadata":{},"createdAt":"2025-11-22T20:59:13.182Z","updatedAt":"2025-11-22T20:59:14.018Z"}'
  recorded_at: Sat, 22 Nov 2025 20:59:14 GMT
- request:
    method: get
    uri: https://api.exa.ai/websets/v0/websets/webset_01kapnt8cywv30yfpsa3r7k1cz
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Api-Key:
      - "<EXA_API_KEY>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Origin-Agent-Cluster:
      - "?1"
      Etag:
      - W/"312-2PfiuKSuunNHiW5r2eTMKdn58aI"
    body:
      encoding: ASCII-8BIT
      string: '{"id":"webset_01kapnt8cywv30yfpsa3r7k1cz","object":"webset","status":"running","externalId":null,"title":null,"searches":[{"id":"wsearch_01kapnt8ws3126k645c7vyxk4g","object":"webset_search","websetId":"webset_01kapnt8cywv30yfpsa3r7k1cz","status":"running","query":"B2B
        SaaS companies with recent funding rounds","entity":{"type":"company"},"criteria":[],"count":1,"behavior":"override","exclude":[],"scope":[],"progress":{"found":0,"analyzed":0,"completion":0,"timeLeft":null},"recall":null,"metadata":{},"canceledAt":null,"canceledReason":null,"createdAt":"2025-11-22T20:59:13.689Z","updatedAt":"2025-11-22T20:59:14.018Z"}],"imports":[],"enrichments":[],"monitors":[],"excludes":[],"metadata":{},"createdAt":"2025-11-22T20:59:13.182Z","updatedAt":"2025-11-22T20:59:14.018Z","items":[]}'
  recorded_at: Sat, 22 Nov 2025 20:59:15 GMT
- request:
    method: get
    uri: https://api.exa.ai/websets/v0/websets/webset_01kapnt8cywv30yfpsa3r7k1cz
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Api-Key:
      - "<EXA_API_KEY>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Origin-Agent-Cluster:
      - "?1"
      Etag:
      - W/"409-asEvidml6F97b556UIhEi7aUBCY"
    body:
      encoding: ASCII-8BIT
      string: '{"id":"webset_01kapnt8cywv30yfpsa3r7k1cz","object":"webset","status":"running","externalId":null,"title":"Companies:
        B2B SaaS, recent funding rounds","searches":[{"id":"wsearch_01kapnt8ws3126k645c7vyxk4g","object":"webset_search","websetId":"webset_01kapnt8cywv30yfpsa3r7k1cz","status":"running","query":"B2B
        SaaS companies with recent funding rounds","entity":{"type":"company"},"criteria":[{"description":"Company
        provides B2B (business-to-business) SaaS (software-as-a-service) products
        or services","successRate":0},{"description":"Company has completed a funding
        round in 2025","successRate":0}],"count":1,"behavior":"override","exclude":[],"scope":[],"progress":{"found":0,"analyzed":0,"completion":0,"timeLeft":null},"recall":null,"metadata":{},"canceledAt":null,"canceledReason":null,"createdAt":"2025-11-22T20:59:13.689Z","updatedAt":"2025-11-22T20:59:17.092Z"}],"imports":[],"enrichments":[],"monitors":[],"excludes":[],"metadata":{},"createdAt":"2025-11-22T20:59:13.182Z","updatedAt":"2025-11-22T20:59:17.092Z","items":[]}'
  recorded_at: Sat, 22 Nov 2025 20:59:18 GMT
[...]
