---
http_interactions:
- request:
    method: post
    uri: https://api.exa.ai/websets/v0/websets
    body:
      encoding: UTF-8
      string: '{"search":{"query":"Initial companies","count":1}}'
    headers:
      X-Api-Key:
      - "<EXA_API_KEY>"
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Origin-Agent-Cluster:
      - "?1"
      Etag:
      - W/"2eb-ejhP05qpquMm5Xsx8Na0r58ZFRM"
    body:
      encoding: UTF-8
      string: '{"id":"webset_01kapqdhvar0d80ggfsf88sg6g","object":"webset","status":"running","externalId":null,"title":null,"searches":[{"id":"wsearch_01kapqdj5qcq5w0sffaqf23b3x","object":"webset_search","websetId":"webset_01kapqdhvar0d80ggfsf88sg6g","status":"running","query":"Initial
        companies","entity":{"type":"company"},"criteria":[],"count":1,"behavior":"override","exclude":[],"scope":[],"progress":{"found":0,"analyzed":0,"completion":0,"timeLeft":null},"recall":null,"metadata":{},"canceledAt":null,"canceledReason":null,"createdAt":"2025-11-22T21:27:14.359Z","updatedAt":"2025-11-22T21:27:14.701Z"}],"imports":[],"enrichments":[],"monitors":[],"excludes":[],"metadata":{},"createdAt":"2025-11-22T21:27:14.026Z","updatedAt":"2025-11-22T21:27:14.701Z"}'
  recorded_at: Sat, 22 Nov 2025 21:27:15 GMT
recorded_with: VCR 6.3.1
