---
http_interactions:
- request:
    method: post
    uri: https://api.exa.ai/websets/v0/websets
    body:
      encoding: UTF-8
      string: '{"search":{"query":"AI/ML infrastructure startups with Series A funding","count":1}}'
    headers:
      X-Api-Key:
      - "<EXA_API_KEY>"
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Origin-Agent-Cluster:
      - "?1"
      Etag:
      - W/"30d-B1FwCFjpL4Fof46Mjb6D9C6XKmM"
    body:
      encoding: UTF-8
      string: '{"id":"webset_01kapnen8q5xt9gj5wqy5v8y83","object":"webset","status":"running","externalId":null,"title":null,"searches":[{"id":"wsearch_01kapnenwsmxsd55m295j67efa","object":"webset_search","websetId":"webset_01kapnen8q5xt9gj5wqy5v8y83","status":"running","query":"AI/ML
        infrastructure startups with Series A funding","entity":{"type":"company"},"criteria":[],"count":1,"behavior":"override","exclude":[],"scope":[],"progress":{"found":0,"analyzed":0,"completion":0,"timeLeft":null},"recall":null,"metadata":{},"canceledAt":null,"canceledReason":null,"createdAt":"2025-11-22T20:52:53.785Z","updatedAt":"2025-11-22T20:52:54.256Z"}],"imports":[],"enrichments":[],"monitors":[],"excludes":[],"metadata":{},"createdAt":"2025-11-22T20:52:53.143Z","updatedAt":"2025-11-22T20:52:54.256Z"}'
  recorded_at: Sat, 22 Nov 2025 20:52:54 GMT
- request:
    method: get
    uri: https://api.exa.ai/websets/v0/websets/webset_01kapnen8q5xt9gj5wqy5v8y83
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Api-Key:
      - "<EXA_API_KEY>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Origin-Agent-Cluster:
      - "?1"
      Etag:
      - W/"318-KJ/9X3ah3wQPlPUrAnu98br1kts"
    body:
      encoding: ASCII-8BIT
      string: '{"id":"webset_01kapnen8q5xt9gj5wqy5v8y83","object":"webset","status":"running","externalId":null,"title":null,"searches":[{"id":"wsearch_01kapnenwsmxsd55m295j67efa","object":"webset_search","websetId":"webset_01kapnen8q5xt9gj5wqy5v8y83","status":"running","query":"AI/ML
        infrastructure startups with Series A funding","entity":{"type":"company"},"criteria":[],"count":1,"behavior":"override","exclude":[],"scope":[],"progress":{"found":0,"analyzed":0,"completion":0,"timeLeft":null},"recall":null,"metadata":{},"canceledAt":null,"canceledReason":null,"createdAt":"2025-11-22T20:52:53.785Z","updatedAt":"2025-11-22T20:52:54.256Z"}],"imports":[],"enrichments":[],"monitors":[],"excludes":[],"metadata":{},"createdAt":"2025-11-22T20:52:53.143Z","updatedAt":"2025-11-22T20:52:54.256Z","items":[]}'
  recorded_at: Sat, 22 Nov 2025 20:52:55 GMT
- request:
    method: get
    uri: https://api.exa.ai/websets/v0/websets/webset_01kapnen8q5xt9gj5wqy5v8y83
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Api-Key:
      - "<EXA_API_KEY>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Origin-Agent-Cluster:
      - "?1"
      Etag:
      - W/"3e4-Pma/vXdGouzvmDzdqmxvTYRkBIQ"
    body:
      encoding: ASCII-8BIT
      string: '{"id":"webset_01kapnen8q5xt9gj5wqy5v8y83","object":"webset","status":"running","externalId":null,"title":"Companies:
        AI/ML infrastructure startups, Series A funding","searches":[{"id":"wsearch_01kapnenwsmxsd55m295j67efa","object":"webset_search","websetId":"webset_01kapnen8q5xt9gj5wqy5v8y83","status":"running","query":"AI/ML
        infrastructure startups with Series A funding","entity":{"type":"company"},"criteria":[{"description":"Early-stage
        company (startup) providing AI/ML infrastructure products or services that
        has raised Series A funding","successRate":0}],"count":1,"behavior":"override","exclude":[],"scope":[],"progress":{"found":0,"analyzed":0,"completion":0,"timeLeft":null},"recall":null,"metadata":{},"canceledAt":null,"canceledReason":null,"createdAt":"2025-11-22T20:52:53.785Z","updatedAt":"2025-11-22T20:52:56.975Z"}],"imports":[],"enrichments":[],"monitors":[],"excludes":[],"metadata":{},"createdAt":"2025-11-22T20:52:53.143Z","updatedAt":"2025-11-22T20:52:56.975Z","items":[]}'
  recorded_at: Sat, 22 Nov 2025 20:52:58 GMT
[...]
