---
http_interactions:
- request:
    method: post
    uri: https://api.exa.ai/websets/v0/websets
    body:
      encoding: UTF-8
      string: '{"search":{"query":"Initial companies","count":1}}'
    headers:
      X-Api-Key:
      - "<EXA_API_KEY>"
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Origin-Agent-Cluster:
      - "?1"
      Etag:
      - W/"2eb-aLyaELpZPjdP4d5Tc0/KGBzShE4"
    body:
      encoding: UTF-8
      string: '{"id":"webset_01kapmcvxxv68s5nvzspw54q3h","object":"webset","status":"running","externalId":null,"title":null,"searches":[{"id":"wsearch_01kapmcw9n4g9nkdh17cfpyykn","object":"webset_search","websetId":"webset_01kapmcvxxv68s5nvzspw54q3h","status":"running","query":"Initial
        companies","entity":{"type":"company"},"criteria":[],"count":1,"behavior":"override","exclude":[],"scope":[],"progress":{"found":0,"analyzed":0,"completion":0,"timeLeft":null},"recall":null,"metadata":{},"canceledAt":null,"canceledReason":null,"createdAt":"2025-11-22T20:34:26.229Z","updatedAt":"2025-11-22T20:34:26.725Z"}],"imports":[],"enrichments":[],"monitors":[],"excludes":[],"metadata":{},"createdAt":"2025-11-22T20:34:25.853Z","updatedAt":"2025-11-22T20:34:26.725Z"}'
  recorded_at: Sat, 22 Nov 2025 20:34:27 GMT
- request:
    method: post
    uri: https://api.exa.ai/websets/v0/websets/webset_01kapmcvxxv68s5nvzspw54q3h/searches
    body:
      encoding: UTF-8
      string: '{"query":"New search query","count":10,"behavior":"override"}'
    headers:
      X-Api-Key:
      - "<EXA_API_KEY>"
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Origin-Agent-Cluster:
      - "?1"
      Etag:
      - W/"1d9-kB2cz1aebw4HE2zfvUL0b2IVlHE"
    body:
      encoding: UTF-8
      string: '{"id":"wsearch_01kapmdrk4ak938xap46fewmr8","object":"webset_search","websetId":"webset_01kapmcvxxv68s5nvzspw54q3h","status":"running","query":"New
        search query","entity":{"type":"company"},"criteria":[],"count":10,"behavior":"override","exclude":[],"scope":[],"progress":{"found":0,"analyzed":0,"completion":0,"timeLeft":null},"recall":null,"metadata":{},"canceledAt":null,"canceledReason":null,"createdAt":"2025-11-22T20:34:55.204Z","updatedAt":"2025-11-22T20:34:55.647Z"}'
  recorded_at: Sat, 22 Nov 2025 20:34:55 GMT
recorded_with: VCR 6.3.1
