---
http_interactions:
- request:
    method: post
    uri: https://api.exa.ai/websets/v0/websets
    body:
      encoding: UTF-8
      string: '{"search":{"query":"Fintech companies in London","count":1},"metadata":{"purpose":"integration_test"}}'
    headers:
      X-Api-Key:
      - "<EXA_API_KEY>"
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Origin-Agent-Cluster:
      - "?1"
      Etag:
      - W/"311-S7KepIFiGtDg8+Vp5b7zmGYFhcU"
    body:
      encoding: UTF-8
      string: '{"id":"webset_01kan9452kvts7jrs6vmwqrr0k","object":"webset","status":"running","externalId":null,"title":null,"searches":[{"id":"wsearch_01kan945etkwjqff1kkjr8w7j1","object":"webset_search","websetId":"webset_01kan9452kvts7jrs6vmwqrr0k","status":"running","query":"Fintech
        companies in London","entity":{"type":"company"},"criteria":[],"count":1,"behavior":"override","exclude":[],"scope":[],"progress":{"found":0,"analyzed":0,"completion":0,"timeLeft":null},"recall":null,"metadata":{},"canceledAt":null,"canceledReason":null,"createdAt":"2025-11-22T07:58:11.930Z","updatedAt":"2025-11-22T07:58:12.289Z"}],"imports":[],"enrichments":[],"monitors":[],"excludes":[],"metadata":{"purpose":"integration_test"},"createdAt":"2025-11-22T07:58:11.539Z","updatedAt":"2025-11-22T07:58:12.289Z"}'
  recorded_at: Sat, 22 Nov 2025 07:58:12 GMT
- request:
    method: get
    uri: https://api.exa.ai/websets/v0/websets/webset_01kan9452kvts7jrs6vmwqrr0k
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Api-Key:
      - "<EXA_API_KEY>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Origin-Agent-Cluster:
      - "?1"
      Etag:
      - W/"31c-zPzk4Vplvfz1etXrlM9UlzK/X1k"
    body:
      encoding: ASCII-8BIT
      string: '{"id":"webset_01kan9452kvts7jrs6vmwqrr0k","object":"webset","status":"running","externalId":null,"title":null,"searches":[{"id":"wsearch_01kan945etkwjqff1kkjr8w7j1","object":"webset_search","websetId":"webset_01kan9452kvts7jrs6vmwqrr0k","status":"running","query":"Fintech
        companies in London","entity":{"type":"company"},"criteria":[],"count":1,"behavior":"override","exclude":[],"scope":[],"progress":{"found":0,"analyzed":0,"completion":0,"timeLeft":null},"recall":null,"metadata":{},"canceledAt":null,"canceledReason":null,"createdAt":"2025-11-22T07:58:11.930Z","updatedAt":"2025-11-22T07:58:12.289Z"}],"imports":[],"enrichments":[],"monitors":[],"excludes":[],"metadata":{"purpose":"integration_test"},"createdAt":"2025-11-22T07:58:11.539Z","updatedAt":"2025-11-22T07:58:12.289Z","items":[]}'
  recorded_at: Sat, 22 Nov 2025 07:58:13 GMT
recorded_with: VCR 6.3.1
