---
http_interactions:
- request:
    method: post
    uri: https://api.exa.ai/websets/v0/websets
    body:
      encoding: UTF-8
      string: '{"search":{"query":"London Fintechs","count":1}}'
    headers:
      X-Api-Key:
      - "<EXA_API_KEY>"
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Origin-Agent-Cluster:
      - "?1"
      Etag:
      - W/"2e9-ws518m4RRb7ez0LdWHe5sX3hxCY"
    body:
      encoding: UTF-8
      string: '{"id":"webset_01kapw7px5gf22fwd9pyphf977","object":"webset","status":"running","externalId":null,"title":null,"searches":[{"id":"wsearch_01kapw7q9bv49rg613k9vm9esy","object":"webset_search","websetId":"webset_01kapw7px5gf22fwd9pyphf977","status":"running","query":"London
        Fintechs","entity":{"type":"company"},"criteria":[],"count":1,"behavior":"override","exclude":[],"scope":[],"progress":{"found":0,"analyzed":0,"completion":0,"timeLeft":null},"recall":null,"metadata":{},"canceledAt":null,"canceledReason":null,"createdAt":"2025-11-22T22:51:25.867Z","updatedAt":"2025-11-22T22:51:26.349Z"}],"imports":[],"enrichments":[],"monitors":[],"excludes":[],"metadata":{},"createdAt":"2025-11-22T22:51:25.477Z","updatedAt":"2025-11-22T22:51:26.349Z"}'
  recorded_at: Sat, 22 Nov 2025 22:51:26 GMT
- request:
    method: post
    uri: https://api.exa.ai/websets/v0/websets/webset_01kapw7px5gf22fwd9pyphf977/searches
    body:
      encoding: UTF-8
      string: '{"query":"Paris Fintechs","count":2,"behavior":"append"}'
    headers:
      X-Api-Key:
      - "<EXA_API_KEY>"
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Origin-Agent-Cluster:
      - "?1"
      Etag:
      - W/"1d4-o44nYc6gjgmBweT7ih4hmCatci4"
    body:
      encoding: UTF-8
      string: '{"id":"wsearch_01kapw8fzvmgqj6c30vexhkds2","object":"webset_search","websetId":"webset_01kapw7px5gf22fwd9pyphf977","status":"running","query":"Paris
        Fintechs","entity":{"type":"company"},"criteria":[],"count":2,"behavior":"append","exclude":[],"scope":[],"progress":{"found":0,"analyzed":0,"completion":0,"timeLeft":null},"recall":null,"metadata":{},"canceledAt":null,"canceledReason":null,"createdAt":"2025-11-22T22:51:51.163Z","updatedAt":"2025-11-22T22:51:52.301Z"}'
  recorded_at: Sat, 22 Nov 2025 22:51:52 GMT
recorded_with: VCR 6.3.1
