---
http_interactions:
- request:
    method: post
    uri: https://api.exa.ai/websets/v0/websets
    body:
      encoding: UTF-8
      string: '{"search":{"query":"Biotech companies","count":1}}'
    headers:
      X-Api-Key:
      - "<EXA_API_KEY>"
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Origin-Agent-Cluster:
      - "?1"
      Etag:
      - W/"2eb-ge3nOrg5hXDWNEsmZC67JEWWs10"
    body:
      encoding: UTF-8
      string: '{"id":"webset_01kapw11kt2bhj7tzp2kda0ge5","object":"webset","status":"running","externalId":null,"title":null,"searches":[{"id":"wsearch_01kapw11zvm738f36mc4fq4p2v","object":"webset_search","websetId":"webset_01kapw11kt2bhj7tzp2kda0ge5","status":"running","query":"Biotech
        companies","entity":{"type":"company"},"criteria":[],"count":1,"behavior":"override","exclude":[],"scope":[],"progress":{"found":0,"analyzed":0,"completion":0,"timeLeft":null},"recall":null,"metadata":{},"canceledAt":null,"canceledReason":null,"createdAt":"2025-11-22T22:47:47.451Z","updatedAt":"2025-11-22T22:47:47.817Z"}],"imports":[],"enrichments":[],"monitors":[],"excludes":[],"metadata":{},"createdAt":"2025-11-22T22:47:47.066Z","updatedAt":"2025-11-22T22:47:47.817Z"}'
  recorded_at: Sat, 22 Nov 2025 22:47:48 GMT
- request:
    method: post
    uri: https://api.exa.ai/websets/v0/websets/webset_01kapw11kt2bhj7tzp2kda0ge5/searches
    body:
      encoding: UTF-8
      string: '{"query":"Pharmaceutical startups","count":2,"recall":true}'
    headers:
      X-Api-Key:
      - "<EXA_API_KEY>"
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Origin-Agent-Cluster:
      - "?1"
      Etag:
      - W/"1df-YwJQ6k+V2zNusJv0uDIkdN0UA9w"
    body:
      encoding: UTF-8
      string: '{"id":"wsearch_01kapw1psejsft7yxmw8w78krd","object":"webset_search","websetId":"webset_01kapw11kt2bhj7tzp2kda0ge5","status":"running","query":"Pharmaceutical
        startups","entity":{"type":"company"},"criteria":[],"count":2,"behavior":"override","exclude":[],"scope":[],"progress":{"found":0,"analyzed":0,"completion":0,"timeLeft":null},"recall":null,"metadata":{},"canceledAt":null,"canceledReason":null,"createdAt":"2025-11-22T22:48:08.750Z","updatedAt":"2025-11-22T22:48:09.146Z"}'
  recorded_at: Sat, 22 Nov 2025 22:48:09 GMT
recorded_with: VCR 6.3.1
