---
http_interactions:
- request:
    method: post
    uri: https://api.exa.ai/websets/v0/websets
    body:
      encoding: UTF-8
      string: '{"search":{"query":"Marketing agencies in Boston","count":1}}'
    headers:
      X-Api-Key:
      - "<EXA_API_KEY>"
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Origin-Agent-Cluster:
      - "?1"
      Etag:
      - W/"2f6-eJmkCp8H+qEp8IaFwUPxEAU6AZE"
    body:
      encoding: UTF-8
      string: '{"id":"webset_01kaq2b5rh09xw806kev22nw3g","object":"webset","status":"running","externalId":null,"title":null,"searches":[{"id":"wsearch_01kaq2b634j77dxyhaz41f8vs2","object":"webset_search","websetId":"webset_01kaq2b5rh09xw806kev22nw3g","status":"running","query":"Marketing
        agencies in Boston","entity":{"type":"company"},"criteria":[],"count":1,"behavior":"override","exclude":[],"scope":[],"progress":{"found":0,"analyzed":0,"completion":0,"timeLeft":null},"recall":null,"metadata":{},"canceledAt":null,"canceledReason":null,"createdAt":"2025-11-23T00:38:10.788Z","updatedAt":"2025-11-23T00:38:11.181Z"}],"imports":[],"enrichments":[],"monitors":[],"excludes":[],"metadata":{},"createdAt":"2025-11-23T00:38:10.449Z","updatedAt":"2025-11-23T00:38:11.181Z"}'
  recorded_at: Sun, 23 Nov 2025 00:38:11 GMT
- request:
    method: post
    uri: https://api.exa.ai/websets/v0/websets/webset_01kaq2b5rh09xw806kev22nw3g/enrichments
    body:
      encoding: UTF-8
      string: '{"description":"Find company email","format":"text"}'
    headers:
      X-Api-Key:
      - "<EXA_API_KEY>"
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Origin-Agent-Cluster:
      - "?1"
      Etag:
      - W/"149-OUw9NFga8Q5fXNaWUOczazjWhn4"
    body:
      encoding: UTF-8
      string: '{"id":"wenrich_01kaq2b8812dkd78cdj34ryv49","object":"webset_enrichment","status":"pending","websetId":"webset_01kaq2b5rh09xw806kev22nw3g","title":null,"description":"Find
        company email","format":"text","options":null,"instructions":null,"metadata":{},"createdAt":"2025-11-23T00:38:12.993Z","updatedAt":"2025-11-23T00:38:13.183Z"}'
  recorded_at: Sun, 23 Nov 2025 00:38:13 GMT
[...]
- request:
    method: get
    uri: https://api.exa.ai/websets/v0/websets/webset_01kaq2b5rh09xw806kev22nw3g
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Api-Key:
      - "<EXA_API_KEY>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Origin-Agent-Cluster:
      - "?1"
      Etag:
      - W/"6ad-bKq5lwNrPhMl+RL+iQNzm8BtRvA"
    body:
      encoding: ASCII-8BIT
      string: '{"id":"webset_01kaq2b5rh09xw806kev22nw3g","object":"webset","status":"running","externalId":null,"title":"Companies:
        marketing agencies in Boston","searches":[{"id":"wsearch_01kaq2b634j77dxyhaz41f8vs2","object":"webset_search","websetId":"webset_01kaq2b5rh09xw806kev22nw3g","status":"running","query":"Marketing
        agencies in Boston","entity":{"type":"company"},"criteria":[{"description":"Company
        provides marketing agency services and is headquartered or has a significant
        office presence in Boston, MA","successRate":100}],"count":1,"behavior":"override","exclude":[],"scope":[],"progress":{"found":1,"analyzed":1,"completion":100,"timeLeft":0},"recall":null,"metadata":{},"canceledAt":null,"canceledReason":null,"createdAt":"2025-11-23T00:38:10.788Z","updatedAt":"2025-11-23T00:38:14.887Z"}],"imports":[],"enrichments":[{"id":"wenrich_01kaq2b8812dkd78cdj34ryv49","object":"webset_enrichment","status":"pending","websetId":"webset_01kaq2b5rh09xw806kev22nw3g","title":"Company
        Email","description":"Find company email","format":"text","options":null,"instructions":"Find
        the company''s main email address in lowercase format (e.g., ''info@company.com'').","metadata":{},"createdAt":"2025-11-23T00:38:12.993Z","updatedAt":"2025-11-23T00:38:18.052Z"},{"id":"wenrich_01kaq2b9vr1rjzevczwjst6f99","object":"webset_enrichment","status":"pending","websetId":"webset_01kaq2b5rh09xw806kev22nw3g","title":null,"description":"Find
        company website","format":"url","options":null,"instructions":null,"metadata":{},"createdAt":"2025-11-23T00:38:14.648Z","updatedAt":"2025-11-23T00:38:14.875Z"}],"monitors":[],"excludes":[],"metadata":{},"createdAt":"2025-11-23T00:38:10.449Z","updatedAt":"2025-11-23T00:38:14.887Z","items":[]}'
  recorded_at: Sun, 23 Nov 2025 00:38:19 GMT
recorded_with: VCR 6.3.1
