---
http_interactions:
- request:
    method: post
    uri: https://api.exa.ai/websets/v0/websets
    body:
      encoding: UTF-8
      string: '{"search":{"query":"Retail companies in Chicago","count":1}}'
    headers:
      X-Api-Key:
      - "<EXA_API_KEY>"
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Origin-Agent-Cluster:
      - "?1"
      Etag:
      - W/"2f5-3ofAnNQTfyDnE73K5RV1Kyh3eIo"
    body:
      encoding: UTF-8
      string: '{"id":"webset_01kaq2cjttpx9wz9qe778pzgvv","object":"webset","status":"running","externalId":null,"title":null,"searches":[{"id":"wsearch_01kaq2ck6m34mz6p7x4y1ngjj2","object":"webset_search","websetId":"webset_01kaq2cjttpx9wz9qe778pzgvv","status":"running","query":"Retail
        companies in Chicago","entity":{"type":"company"},"criteria":[],"count":1,"behavior":"override","exclude":[],"scope":[],"progress":{"found":0,"analyzed":0,"completion":0,"timeLeft":null},"recall":null,"metadata":{},"canceledAt":null,"canceledReason":null,"createdAt":"2025-11-23T00:38:56.980Z","updatedAt":"2025-11-23T00:38:57.435Z"}],"imports":[],"enrichments":[],"monitors":[],"excludes":[],"metadata":{},"createdAt":"2025-11-23T00:38:56.602Z","updatedAt":"2025-11-23T00:38:57.435Z"}'
  recorded_at: Sun, 23 Nov 2025 00:38:57 GMT
- request:
    method: post
    uri: https://api.exa.ai/websets/v0/websets/webset_01kaq2cjttpx9wz9qe778pzgvv/enrichments
    body:
      encoding: UTF-8
      string: '{"description":"To be deleted","format":"text"}'
    headers:
      X-Api-Key:
      - "<EXA_API_KEY>"
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Origin-Agent-Cluster:
      - "?1"
      Etag:
      - W/"144-p4bKzCx05QJb9oJzPXASsSPXfD8"
    body:
      encoding: UTF-8
      string: '{"id":"wenrich_01kaq2cn7v1s7ta27haqdfpb4s","object":"webset_enrichment","status":"pending","websetId":"webset_01kaq2cjttpx9wz9qe778pzgvv","title":null,"description":"To
        be deleted","format":"text","options":null,"instructions":null,"metadata":{},"createdAt":"2025-11-23T00:38:59.067Z","updatedAt":"2025-11-23T00:38:59.256Z"}'
  recorded_at: Sun, 23 Nov 2025 00:38:59 GMT
- request:
    method: delete
    uri: https://api.exa.ai/websets/v0/websets/webset_01kaq2cjttpx9wz9qe778pzgvv/enrichments/wenrich_01kaq2cn7v1s7ta27haqdfpb4s
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Api-Key:
      - "<EXA_API_KEY>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Origin-Agent-Cluster:
      - "?1"
      Etag:
      - W/"145-dWkat/Sw1jrYbo0t7v9kAIcdGyw"
    body:
      encoding: ASCII-8BIT
      string: '{"id":"wenrich_01kaq2cn7v1s7ta27haqdfpb4s","object":"webset_enrichment","status":"canceled","websetId":"webset_01kaq2cjttpx9wz9qe778pzgvv","title":null,"description":"To
        be deleted","format":"text","options":null,"instructions":null,"metadata":{},"createdAt":"2025-11-23T00:38:59.067Z","updatedAt":"2025-11-23T00:39:00.305Z"}'
  recorded_at: Sun, 23 Nov 2025 00:39:00 GMT
recorded_with: VCR 6.3.1
