---
http_interactions:
- request:
    method: post
    uri: https://api.exa.ai/websets/v0/websets
    body:
      encoding: UTF-8
      string: '{"search":{"query":"Test helper methods","count":1}}'
    headers:
      X-Api-Key:
      - "<EXA_API_KEY>"
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Origin-Agent-Cluster:
      - "?1"
      Etag:
      - W/"2f4-JYbOdtsiSSP/D0nGSWjv+1yn1rQ"
    body:
      encoding: UTF-8
      string: '{"id":"webset_01kapm9dj6xahjn1snvrbtrp1p","object":"webset","status":"running","externalId":null,"title":null,"searches":[{"id":"wsearch_01kapm9dynevkmg5hn587v6rts","object":"webset_search","websetId":"webset_01kapm9dj6xahjn1snvrbtrp1p","status":"running","query":"Test
        helper methods","entity":{"type":"research_paper"},"criteria":[],"count":1,"behavior":"override","exclude":[],"scope":[],"progress":{"found":0,"analyzed":0,"completion":0,"timeLeft":null},"recall":null,"metadata":{},"canceledAt":null,"canceledReason":null,"createdAt":"2025-11-22T20:32:33.237Z","updatedAt":"2025-11-22T20:32:39.263Z"}],"imports":[],"enrichments":[],"monitors":[],"excludes":[],"metadata":{},"createdAt":"2025-11-22T20:32:32.838Z","updatedAt":"2025-11-22T20:32:39.263Z"}'
  recorded_at: Sat, 22 Nov 2025 20:32:40 GMT
- request:
    method: post
    uri: https://api.exa.ai/websets/v0/websets/webset_01kapm9dj6xahjn1snvrbtrp1p/searches
    body:
      encoding: UTF-8
      string: '{"query":"Helper method test","count":5,"behavior":"override"}'
    headers:
      X-Api-Key:
      - "<EXA_API_KEY>"
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Origin-Agent-Cluster:
      - "?1"
      Etag:
      - W/"1e1-gvg4CVv8/DntFhGYHoIz84Iano4"
    body:
      encoding: UTF-8
      string: '{"id":"wsearch_01kapmaea027c21appd24j8wea","object":"webset_search","websetId":"webset_01kapm9dj6xahjn1snvrbtrp1p","status":"running","query":"Helper
        method test","entity":{"type":"research_paper"},"criteria":[],"count":5,"behavior":"override","exclude":[],"scope":[],"progress":{"found":0,"analyzed":0,"completion":0,"timeLeft":null},"recall":null,"metadata":{},"canceledAt":null,"canceledReason":null,"createdAt":"2025-11-22T20:33:06.368Z","updatedAt":"2025-11-22T20:33:06.763Z"}'
  recorded_at: Sat, 22 Nov 2025 20:33:06 GMT
recorded_with: VCR 6.3.1
