---
http_interactions:
- request:
    method: post
    uri: https://api.exa.ai/websets/v0/websets
    body:
      encoding: UTF-8
      string: '{"search":{"query":"Tech founders","count":1,"entity":{"type":"person"}}}'
    headers:
      X-Api-Key:
      - "<EXA_API_KEY>"
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Origin-Agent-Cluster:
      - "?1"
      Etag:
      - W/"2e6-FG8LF1RKOyV6YTDDEAZI3KT6I/o"
    body:
      encoding: UTF-8
      string: '{"id":"webset_01kapw56jwxybj4gv8696vxnds","object":"webset","status":"running","externalId":null,"title":null,"searches":[{"id":"wsearch_01kapw570s5e90k1jfhc1xwnf2","object":"webset_search","websetId":"webset_01kapw56jwxybj4gv8696vxnds","status":"running","query":"Tech
        founders","entity":{"type":"person"},"criteria":[],"count":1,"behavior":"override","exclude":[],"scope":[],"progress":{"found":0,"analyzed":0,"completion":0,"timeLeft":null},"recall":null,"metadata":{},"canceledAt":null,"canceledReason":null,"createdAt":"2025-11-22T22:50:03.673Z","updatedAt":"2025-11-22T22:50:04.105Z"}],"imports":[],"enrichments":[],"monitors":[],"excludes":[],"metadata":{},"createdAt":"2025-11-22T22:50:03.228Z","updatedAt":"2025-11-22T22:50:04.105Z"}'
  recorded_at: Sat, 22 Nov 2025 22:50:04 GMT
- request:
    method: post
    uri: https://api.exa.ai/websets/v0/websets/webset_01kapw56jwxybj4gv8696vxnds/searches
    body:
      encoding: UTF-8
      string: '{"query":"AI researchers","count":2,"entity":{"type":"person"}}'
    headers:
      X-Api-Key:
      - "<EXA_API_KEY>"
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Origin-Agent-Cluster:
      - "?1"
      Etag:
      - W/"1d5-JREOE6hXAn13jEs68c5aumCPry4"
    body:
      encoding: UTF-8
      string: '{"id":"wsearch_01kapw5vp3dz0f2rgy36metghg","object":"webset_search","websetId":"webset_01kapw56jwxybj4gv8696vxnds","status":"running","query":"AI
        researchers","entity":{"type":"person"},"criteria":[],"count":2,"behavior":"override","exclude":[],"scope":[],"progress":{"found":0,"analyzed":0,"completion":0,"timeLeft":null},"recall":null,"metadata":{},"canceledAt":null,"canceledReason":null,"createdAt":"2025-11-22T22:50:24.835Z","updatedAt":"2025-11-22T22:50:25.202Z"}'
  recorded_at: Sat, 22 Nov 2025 22:50:25 GMT
recorded_with: VCR 6.3.1
