---
http_interactions:
- request:
    method: post
    uri: https://api.exa.ai/websets/v0/websets
    body:
      encoding: UTF-8
      string: '{"search":{"query":"AI startups","count":1}}'
    headers:
      X-Api-Key:
      - "<EXA_API_KEY>"
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Origin-Agent-Cluster:
      - "?1"
      Etag:
      - W/"2e5-uk+v+KdqXZEjnwmC+ki6YUTJwsk"
    body:
      encoding: UTF-8
      string: '{"id":"webset_01kapqc253hqzh7ytf5hycmg63","object":"webset","status":"running","externalId":null,"title":null,"searches":[{"id":"wsearch_01kapqc2h9bpyww6te0eyvb50a","object":"webset_search","websetId":"webset_01kapqc253hqzh7ytf5hycmg63","status":"running","query":"AI
        startups","entity":{"type":"company"},"criteria":[],"count":1,"behavior":"override","exclude":[],"scope":[],"progress":{"found":0,"analyzed":0,"completion":0,"timeLeft":null},"recall":null,"metadata":{},"canceledAt":null,"canceledReason":null,"createdAt":"2025-11-22T21:26:25.577Z","updatedAt":"2025-11-22T21:26:25.960Z"}],"imports":[],"enrichments":[],"monitors":[],"excludes":[],"metadata":{},"createdAt":"2025-11-22T21:26:25.187Z","updatedAt":"2025-11-22T21:26:25.960Z"}'
  recorded_at: Sat, 22 Nov 2025 21:26:26 GMT
recorded_with: VCR 6.3.1
