---
http_interactions:
- request:
    method: post
    uri: https://api.exa.ai/websets/v0/websets
    body:
      encoding: UTF-8
      string: '{"search":{"query":"enterprise AI/ML infrastructure startups with Series
        A funding","count":2}}'
    headers:
      X-Api-Key:
      - "<EXA_API_KEY>"
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Origin-Agent-Cluster:
      - "?1"
      Etag:
      - W/"318-koQwbwLYDdUFLgJBWh4iVth0y68"
    body:
      encoding: UTF-8
      string: '{"id":"webset_01kapqcrfvce3b1aybnwg4wgs0","object":"webset","status":"running","externalId":null,"title":null,"searches":[{"id":"wsearch_01kapqcrw8rxsm8je6s5kkcrwq","object":"webset_search","websetId":"webset_01kapqcrfvce3b1aybnwg4wgs0","status":"running","query":"enterprise
        AI/ML infrastructure startups with Series A funding","entity":{"type":"company"},"criteria":[],"count":2,"behavior":"override","exclude":[],"scope":[],"progress":{"found":0,"analyzed":0,"completion":0,"timeLeft":null},"recall":null,"metadata":{},"canceledAt":null,"canceledReason":null,"createdAt":"2025-11-22T21:26:48.456Z","updatedAt":"2025-11-22T21:26:48.849Z"}],"imports":[],"enrichments":[],"monitors":[],"excludes":[],"metadata":{},"createdAt":"2025-11-22T21:26:48.059Z","updatedAt":"2025-11-22T21:26:48.849Z"}'
  recorded_at: Sat, 22 Nov 2025 21:26:49 GMT
recorded_with: VCR 6.3.1
