---
http_interactions:
- request:
    method: post
    uri: https://api.exa.ai/websets/v0/websets
    body:
      encoding: UTF-8
      string: '{"search":{"query":"enterprise AI/ML infrastructure startups with Series
        A funding","count":2}}'
    headers:
      X-Api-Key:
      - "<EXA_API_KEY>"
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Origin-Agent-Cluster:
      - "?1"
      Etag:
      - W/"318-utAltH0mBHbEp/QOfabR5blPCxU"
    body:
      encoding: UTF-8
      string: '{"id":"webset_01kapw2pc4ctnq2e1py5s4mf6n","object":"webset","status":"running","externalId":null,"title":null,"searches":[{"id":"wsearch_01kapw2ppt8d88a2w8rqce9ge0","object":"webset_search","websetId":"webset_01kapw2pc4ctnq2e1py5s4mf6n","status":"running","query":"enterprise
        AI/ML infrastructure startups with Series A funding","entity":{"type":"company"},"criteria":[],"count":2,"behavior":"override","exclude":[],"scope":[],"progress":{"found":0,"analyzed":0,"completion":0,"timeLeft":null},"recall":null,"metadata":{},"canceledAt":null,"canceledReason":null,"createdAt":"2025-11-22T22:48:41.434Z","updatedAt":"2025-11-22T22:48:41.769Z"}],"imports":[],"enrichments":[],"monitors":[],"excludes":[],"metadata":{},"createdAt":"2025-11-22T22:48:41.092Z","updatedAt":"2025-11-22T22:48:41.769Z"}'
  recorded_at: Sat, 22 Nov 2025 22:48:42 GMT
- request:
    method: post
    uri: https://api.exa.ai/websets/v0/websets/webset_01kapw2pc4ctnq2e1py5s4mf6n/searches
    body:
      encoding: UTF-8
      string: '{"query":"Cloud infrastructure companies with enterprise customers","count":2}'
    headers:
      X-Api-Key:
      - "<EXA_API_KEY>"
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Origin-Agent-Cluster:
      - "?1"
      Etag:
      - W/"200-nyJWn0ydA0zqcTaxo8TeOoZMnNc"
    body:
      encoding: UTF-8
      string: '{"id":"wsearch_01kapw3er629agjmw8jd34jn82","object":"webset_search","websetId":"webset_01kapw2pc4ctnq2e1py5s4mf6n","status":"running","query":"Cloud
        infrastructure companies with enterprise customers","entity":{"type":"company"},"criteria":[],"count":2,"behavior":"override","exclude":[],"scope":[],"progress":{"found":0,"analyzed":0,"completion":0,"timeLeft":null},"recall":null,"metadata":{},"canceledAt":null,"canceledReason":null,"createdAt":"2025-11-22T22:49:06.054Z","updatedAt":"2025-11-22T22:49:06.435Z"}'
  recorded_at: Sat, 22 Nov 2025 22:49:06 GMT
- request:
    method: post
    uri: https://api.exa.ai/websets/v0/websets/webset_01kapw2pc4ctnq2e1py5s4mf6n/searches/wsearch_01kapw3er629agjmw8jd34jn82/cancel
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      X-Api-Key:
      - "<EXA_API_KEY>"
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Origin-Agent-Cluster:
      - "?1"
      Etag:
      - W/"216-SW6oZ6xFDgBybApzleXiHqpYpuc"
    body:
      encoding: ASCII-8BIT
      string: '{"id":"wsearch_01kapw3er629agjmw8jd34jn82","object":"webset_search","websetId":"webset_01kapw2pc4ctnq2e1py5s4mf6n","status":"canceled","query":"Cloud
        infrastructure companies with enterprise customers","entity":{"type":"company"},"criteria":[],"count":2,"behavior":"override","exclude":[],"scope":[],"progress":{"found":0,"analyzed":0,"completion":100,"timeLeft":0},"recall":null,"metadata":{},"canceledAt":"2025-11-22T22:49:07.422Z","canceledReason":null,"createdAt":"2025-11-22T22:49:06.054Z","updatedAt":"2025-11-22T22:49:07.680Z"}'
  recorded_at: Sat, 22 Nov 2025 22:49:08 GMT
recorded_with: VCR 6.3.1
