---
http_interactions:
- request:
    method: post
    uri: https://api.exa.ai/websets/v0/websets
    body:
      encoding: UTF-8
      string: '{"search":{"query":"E-commerce companies in California","count":1}}'
    headers:
      X-Api-Key:
      - "<EXA_API_KEY>"
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Origin-Agent-Cluster:
      - "?1"
      Etag:
      - W/"2fc-7awmVzqOe1aQXX/OCHkOts39pzk"
    body:
      encoding: UTF-8
      string: '{"id":"webset_01kaq2a04ksp5cy7pg06pr8esc","object":"webset","status":"running","externalId":null,"title":null,"searches":[{"id":"wsearch_01kaq2a0gy9yb0ej2a8mg7n7vw","object":"webset_search","websetId":"webset_01kaq2a04ksp5cy7pg06pr8esc","status":"running","query":"E-commerce
        companies in California","entity":{"type":"company"},"criteria":[],"count":1,"behavior":"override","exclude":[],"scope":[],"progress":{"found":0,"analyzed":0,"completion":0,"timeLeft":null},"recall":null,"metadata":{},"canceledAt":null,"canceledReason":null,"createdAt":"2025-11-23T00:37:32.318Z","updatedAt":"2025-11-23T00:37:32.817Z"}],"imports":[],"enrichments":[],"monitors":[],"excludes":[],"metadata":{},"createdAt":"2025-11-23T00:37:31.923Z","updatedAt":"2025-11-23T00:37:32.817Z"}'
  recorded_at: Sun, 23 Nov 2025 00:37:33 GMT
- request:
    method: post
    uri: https://api.exa.ai/websets/v0/websets/webset_01kaq2a04ksp5cy7pg06pr8esc/enrichments
    body:
      encoding: UTF-8
      string: '{"description":"Determine the company size category","format":"options","options":[{"label":"1-10
        employees"},{"label":"11-50 employees"},{"label":"51-200 employees"},{"label":"201+
        employees"}]}'
    headers:
      X-Api-Key:
      - "<EXA_API_KEY>"
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Origin-Agent-Cluster:
      - "?1"
      Etag:
      - W/"1c9-goHJkIWWKob4d6mH7WCedZt3w4I"
    body:
      encoding: UTF-8
      string: '{"id":"wenrich_01kaq2a4zat7d7m5nm1fatkhqy","object":"webset_enrichment","status":"pending","websetId":"webset_01kaq2a04ksp5cy7pg06pr8esc","title":null,"description":"Determine
        the company size category","format":"options","options":[{"label":"1-10 employees"},{"label":"11-50
        employees"},{"label":"51-200 employees"},{"label":"201+ employees"}],"instructions":null,"metadata":{},"createdAt":"2025-11-23T00:37:36.874Z","updatedAt":"2025-11-23T00:37:37.082Z"}'
  recorded_at: Sun, 23 Nov 2025 00:37:37 GMT
recorded_with: VCR 6.3.1
