---
http_interactions:
- request:
    method: post
    uri: https://api.exa.ai/websets/v0/websets
    body:
      encoding: UTF-8
      string: '{"search":{"query":"Climate tech companies","count":1}}'
    headers:
      X-Api-Key:
      - "<EXA_API_KEY>"
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Origin-Agent-Cluster:
      - "?1"
      Etag:
      - W/"2f0-RPHPna1US3aHUxttrIjOv9Zskzw"
    body:
      encoding: UTF-8
      string: '{"id":"webset_01kapw8mksz5t30k1mz7rkvm07","object":"webset","status":"running","externalId":null,"title":null,"searches":[{"id":"wsearch_01kapw8n2fwd736bs7041mbw2m","object":"webset_search","websetId":"webset_01kapw8mksz5t30k1mz7rkvm07","status":"running","query":"Climate
        tech companies","entity":{"type":"company"},"criteria":[],"count":1,"behavior":"override","exclude":[],"scope":[],"progress":{"found":0,"analyzed":0,"completion":0,"timeLeft":null},"recall":null,"metadata":{},"canceledAt":null,"canceledReason":null,"createdAt":"2025-11-22T22:51:56.367Z","updatedAt":"2025-11-22T22:51:56.769Z"}],"imports":[],"enrichments":[],"monitors":[],"excludes":[],"metadata":{},"createdAt":"2025-11-22T22:51:55.897Z","updatedAt":"2025-11-22T22:51:56.769Z"}'
  recorded_at: Sat, 22 Nov 2025 22:51:57 GMT
- request:
    method: post
    uri: https://api.exa.ai/websets/v0/websets/webset_01kapw8mksz5t30k1mz7rkvm07/searches
    body:
      encoding: UTF-8
      string: '{"query":"Carbon capture and renewable energy startups","count":2,"metadata":{"test_key":"test_value","project":"integration_test"}}'
    headers:
      X-Api-Key:
      - "<EXA_API_KEY>"
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Origin-Agent-Cluster:
      - "?1"
      Etag:
      - W/"1f4-qji845DMJWFNp1+FEOuuvyAjDkg"
    body:
      encoding: UTF-8
      string: '{"id":"wsearch_01kapw9bdj16y754yy1jfmd0wd","object":"webset_search","websetId":"webset_01kapw8mksz5t30k1mz7rkvm07","status":"running","query":"Carbon
        capture and renewable energy startups","entity":{"type":"company"},"criteria":[],"count":2,"behavior":"override","exclude":[],"scope":[],"progress":{"found":0,"analyzed":0,"completion":0,"timeLeft":null},"recall":null,"metadata":{},"canceledAt":null,"canceledReason":null,"createdAt":"2025-11-22T22:52:19.250Z","updatedAt":"2025-11-22T22:52:19.609Z"}'
  recorded_at: Sat, 22 Nov 2025 22:52:19 GMT
recorded_with: VCR 6.3.1
