---
http_interactions:
- request:
    method: post
    uri: https://api.exa.ai/websets/v0/websets
    body:
      encoding: UTF-8
      string: '{"search":{"query":"AI startups","count":1}}'
    headers:
      X-Api-Key:
      - "<EXA_API_KEY>"
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Origin-Agent-Cluster:
      - "?1"
      Etag:
      - W/"2e5-h4y732eV9gNi7QpfSv1eLN11/eQ"
    body:
      encoding: UTF-8
      string: '{"id":"webset_01kapm7zb1c0cxth1pgevqc6ss","object":"webset","status":"running","externalId":null,"title":null,"searches":[{"id":"wsearch_01kapm7zreqqq8ndmmtp9xwekh","object":"webset_search","websetId":"webset_01kapm7zb1c0cxth1pgevqc6ss","status":"running","query":"AI
        startups","entity":{"type":"company"},"criteria":[],"count":1,"behavior":"override","exclude":[],"scope":[],"progress":{"found":0,"analyzed":0,"completion":0,"timeLeft":null},"recall":null,"metadata":{},"canceledAt":null,"canceledReason":null,"createdAt":"2025-11-22T20:31:45.934Z","updatedAt":"2025-11-22T20:31:46.314Z"}],"imports":[],"enrichments":[],"monitors":[],"excludes":[],"metadata":{},"createdAt":"2025-11-22T20:31:45.505Z","updatedAt":"2025-11-22T20:31:46.314Z"}'
  recorded_at: Sat, 22 Nov 2025 20:31:46 GMT
- request:
    method: post
    uri: https://api.exa.ai/websets/v0/websets/webset_01kapm7zb1c0cxth1pgevqc6ss/searches
    body:
      encoding: UTF-8
      string: '{"query":"Machine learning companies","count":5}'
    headers:
      X-Api-Key:
      - "<EXA_API_KEY>"
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Origin-Agent-Cluster:
      - "?1"
      Etag:
      - W/"1e2-i/1QyFnbKyfOAFcked6bpwc24sk"
    body:
      encoding: UTF-8
      string: '{"id":"wsearch_01kapm8mp91papky66yarc5yr8","object":"webset_search","websetId":"webset_01kapm7zb1c0cxth1pgevqc6ss","status":"running","query":"Machine
        learning companies","entity":{"type":"company"},"criteria":[],"count":5,"behavior":"override","exclude":[],"scope":[],"progress":{"found":0,"analyzed":0,"completion":0,"timeLeft":null},"recall":null,"metadata":{},"canceledAt":null,"canceledReason":null,"createdAt":"2025-11-22T20:32:07.369Z","updatedAt":"2025-11-22T20:32:07.804Z"}'
  recorded_at: Sat, 22 Nov 2025 20:32:07 GMT
recorded_with: VCR 6.3.1
