---
http_interactions:
- request:
    method: post
    uri: https://api.exa.ai/websets/v0/websets
    body:
      encoding: UTF-8
      string: '{"externalId":"test-minimal-params","search":{"query":"AI startups","count":1}}'
    headers:
      X-Api-Key:
      - "<EXA_API_KEY>"
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Origin-Agent-Cluster:
      - "?1"
      Etag:
      - W/"2f6-SfDFj9mwEZ+DGgXQH9M5AQcWo7k"
    body:
      encoding: UTF-8
      string: '{"id":"webset_01kaptgte56b8fz9tc9tex5gqg","object":"webset","status":"running","externalId":"test-minimal-params","title":null,"searches":[{"id":"wsearch_01kaptgttp4fsqng7j1pvya37t","object":"webset_search","websetId":"webset_01kaptgte56b8fz9tc9tex5gqg","status":"running","query":"AI
        startups","entity":{"type":"company"},"criteria":[],"count":1,"behavior":"override","exclude":[],"scope":[],"progress":{"found":0,"analyzed":0,"completion":0,"timeLeft":null},"recall":null,"metadata":{},"canceledAt":null,"canceledReason":null,"createdAt":"2025-11-22T22:21:27.254Z","updatedAt":"2025-11-22T22:21:27.701Z"}],"imports":[],"enrichments":[],"monitors":[],"excludes":[],"metadata":{},"createdAt":"2025-11-22T22:21:26.853Z","updatedAt":"2025-11-22T22:21:27.701Z"}'
  recorded_at: Sat, 22 Nov 2025 22:21:28 GMT
recorded_with: VCR 6.3.1
