---
http_interactions:
- request:
    method: post
    uri: https://api.exa.ai/websets/v0/websets
    body:
      encoding: UTF-8
      string: '{"search":{"query":"venture-backed SaaS companies","count":1}}'
    headers:
      X-Api-Key:
      - "<EXA_API_KEY>"
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Origin-Agent-Cluster:
      - "?1"
      Etag:
      - W/"2f7-GZuHiq/0TaK2rBOgQ5JRThshwoo"
    body:
      encoding: UTF-8
      string: '{"id":"webset_01kapmv3aeg2f8q03maxcac0zs","object":"webset","status":"running","externalId":null,"title":null,"searches":[{"id":"wsearch_01kapmv3wn7qcje2fn6pcws1d7","object":"webset_search","websetId":"webset_01kapmv3aeg2f8q03maxcac0zs","status":"running","query":"venture-backed
        SaaS companies","entity":{"type":"company"},"criteria":[],"count":1,"behavior":"override","exclude":[],"scope":[],"progress":{"found":0,"analyzed":0,"completion":0,"timeLeft":null},"recall":null,"metadata":{},"canceledAt":null,"canceledReason":null,"createdAt":"2025-11-22T20:42:12.757Z","updatedAt":"2025-11-22T20:42:13.208Z"}],"imports":[],"enrichments":[],"monitors":[],"excludes":[],"metadata":{},"createdAt":"2025-11-22T20:42:12.174Z","updatedAt":"2025-11-22T20:42:13.208Z"}'
  recorded_at: Sat, 22 Nov 2025 20:42:14 GMT
- request:
    method: post
    uri: https://api.exa.ai/websets/v0/websets/webset_01kapmv3aeg2f8q03maxcac0zs/searches
    body:
      encoding: UTF-8
      string: '{"query":"First search","count":5}'
    headers:
      X-Api-Key:
      - "<EXA_API_KEY>"
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Origin-Agent-Cluster:
      - "?1"
      Etag:
      - W/"1d4-ual+fb5gTpFesHWA9XJZTByc+Ak"
    body:
      encoding: UTF-8
      string: '{"id":"wsearch_01kapmvxhra6h8e6kw6zdx0fej","object":"webset_search","websetId":"webset_01kapmv3aeg2f8q03maxcac0zs","status":"running","query":"First
        search","entity":{"type":"company"},"criteria":[],"count":5,"behavior":"override","exclude":[],"scope":[],"progress":{"found":0,"analyzed":0,"completion":0,"timeLeft":null},"recall":null,"metadata":{},"canceledAt":null,"canceledReason":null,"createdAt":"2025-11-22T20:42:39.032Z","updatedAt":"2025-11-22T20:42:39.416Z"}'
  recorded_at: Sat, 22 Nov 2025 20:42:39 GMT
- request:
    method: post
    uri: https://api.exa.ai/websets/v0/websets/webset_01kapmv3aeg2f8q03maxcac0zs/searches
    body:
      encoding: UTF-8
      string: '{"query":"Second search","count":10}'
    headers:
      X-Api-Key:
      - "<EXA_API_KEY>"
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Origin-Agent-Cluster:
      - "?1"
      Etag:
      - W/"1d6-Ea2y4atdBVvPo9zZLHxB85BIKhg"
    body:
      encoding: UTF-8
      string: '{"id":"wsearch_01kapmvzx2hfy6jejyz91hs0kg","object":"webset_search","websetId":"webset_01kapmv3aeg2f8q03maxcac0zs","status":"running","query":"Second
        search","entity":{"type":"company"},"criteria":[],"count":10,"behavior":"override","exclude":[],"scope":[],"progress":{"found":0,"analyzed":0,"completion":0,"timeLeft":null},"recall":null,"metadata":{},"canceledAt":null,"canceledReason":null,"createdAt":"2025-11-22T20:42:41.442Z","updatedAt":"2025-11-22T20:42:41.802Z"}'
  recorded_at: Sat, 22 Nov 2025 20:42:41 GMT
recorded_with: VCR 6.3.1
