---
http_interactions:
- request:
    method: post
    uri: https://api.exa.ai/websets/v0/websets
    body:
      encoding: UTF-8
      string: '{"search":{"query":"Test helper methods","count":1}}'
    headers:
      X-Api-Key:
      - "<EXA_API_KEY>"
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Origin-Agent-Cluster:
      - "?1"
      Etag:
      - W/"2f4-y9ACpck2XMtcTgrwgDpjUHxTKcE"
    body:
      encoding: UTF-8
      string: '{"id":"webset_01kapqgnw6vred2qg6437cfcvz","object":"webset","status":"running","externalId":null,"title":null,"searches":[{"id":"wsearch_01kapqgp6rwxv9t1kxhsv5k8q9","object":"webset_search","websetId":"webset_01kapqgnw6vred2qg6437cfcvz","status":"running","query":"Test
        helper methods","entity":{"type":"research_paper"},"criteria":[],"count":1,"behavior":"override","exclude":[],"scope":[],"progress":{"found":0,"analyzed":0,"completion":0,"timeLeft":null},"recall":null,"metadata":{},"canceledAt":null,"canceledReason":null,"createdAt":"2025-11-22T21:28:56.792Z","updatedAt":"2025-11-22T21:28:57.134Z"}],"imports":[],"enrichments":[],"monitors":[],"excludes":[],"metadata":{},"createdAt":"2025-11-22T21:28:56.454Z","updatedAt":"2025-11-22T21:28:57.134Z"}'
  recorded_at: Sat, 22 Nov 2025 21:28:57 GMT
recorded_with: VCR 6.3.1
