---
http_interactions:
- request:
    method: post
    uri: https://api.exa.ai/websets/v0/websets
    body:
      encoding: UTF-8
      string: '{"search":{"query":"venture-backed SaaS companies","count":1}}'
    headers:
      X-Api-Key:
      - "<EXA_API_KEY>"
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Origin-Agent-Cluster:
      - "?1"
      Etag:
      - W/"2f7-HqNpr5Cud7ZVe6zUu8r8RKJ7M2g"
    body:
      encoding: UTF-8
      string: '{"id":"webset_01kapqfzr6j0m5zqem7m2gzxks","object":"webset","status":"running","externalId":null,"title":null,"searches":[{"id":"wsearch_01kapqg04emvzc0zmzz3d9tqpn","object":"webset_search","websetId":"webset_01kapqfzr6j0m5zqem7m2gzxks","status":"running","query":"venture-backed
        SaaS companies","entity":{"type":"company"},"criteria":[],"count":1,"behavior":"override","exclude":[],"scope":[],"progress":{"found":0,"analyzed":0,"completion":0,"timeLeft":null},"recall":null,"metadata":{},"canceledAt":null,"canceledReason":null,"createdAt":"2025-11-22T21:28:34.190Z","updatedAt":"2025-11-22T21:28:34.571Z"}],"imports":[],"enrichments":[],"monitors":[],"excludes":[],"metadata":{},"createdAt":"2025-11-22T21:28:33.798Z","updatedAt":"2025-11-22T21:28:34.571Z"}'
  recorded_at: Sat, 22 Nov 2025 21:28:35 GMT
recorded_with: VCR 6.3.1
