---
http_interactions:
- request:
    method: post
    uri: https://api.exa.ai/websets/v0/websets
    body:
      encoding: UTF-8
      string: '{"search":{"query":"Tech startups in NYC","count":1},"enrichments":[{"description":"Primary
        contact email","format":"text"},{"description":"Company size","format":"options","options":[{"label":"1-10
        employees"},{"label":"11-50 employees"},{"label":"51-200 employees"},{"label":"201+
        employees"}]}]}'
    headers:
      X-Api-Key:
      - "<EXA_API_KEY>"
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Origin-Agent-Cluster:
      - "?1"
      Etag:
      - W/"5eb-KbZpndM5oRjgRW91As0Pkz2ClmM"
    body:
      encoding: UTF-8
      string: '{"id":"webset_01karptjeq5j7nnw7k20ptve55","object":"webset","status":"running","externalId":null,"title":null,"searches":[{"id":"wsearch_01karptjwc8a72187b8hy08jef","object":"webset_search","websetId":"webset_01karptjeq5j7nnw7k20ptve55","status":"running","query":"Tech
        startups in NYC","entity":{"type":"company"},"criteria":[],"count":1,"behavior":"override","exclude":[],"scope":[],"progress":{"found":0,"analyzed":0,"completion":0,"timeLeft":null},"recall":null,"metadata":{},"canceledAt":null,"canceledReason":null,"createdAt":"2025-11-23T15:55:21.356Z","updatedAt":"2025-11-23T15:55:21.758Z"}],"imports":[],"enrichments":[{"id":"wenrich_cmibwg5di006xge1sc60bcntk","object":"webset_enrichment","status":"pending","websetId":"webset_01karptjeq5j7nnw7k20ptve55","title":null,"description":"Primary
        contact email","format":"text","options":null,"instructions":null,"metadata":{},"createdAt":"2025-11-23T15:55:21.271Z","updatedAt":"2025-11-23T15:55:21.271Z"},{"id":"wenrich_cmibwg5di006yge1sp7nktned","object":"webset_enrichment","status":"pending","websetId":"webset_01karptjeq5j7nnw7k20ptve55","title":null,"description":"Company
        size","format":"options","options":[{"label":"1-10 employees"},{"label":"11-50
        employees"},{"label":"51-200 employees"},{"label":"201+ employees"}],"instructions":null,"metadata":{},"createdAt":"2025-11-23T15:55:21.271Z","updatedAt":"2025-11-23T15:55:21.271Z"}],"monitors":[],"excludes":[],"metadata":{},"createdAt":"2025-11-23T15:55:20.919Z","updatedAt":"2025-11-23T15:55:21.758Z"}'
  recorded_at: Sun, 23 Nov 2025 15:55:22 GMT
- request:
    method: get
    uri: https://api.exa.ai/websets/v0/websets/webset_01karptjeq5j7nnw7k20ptve55
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Api-Key:
      - "<EXA_API_KEY>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Origin-Agent-Cluster:
      - "?1"
      Etag:
      - W/"5f6-WWMJDpHW48xXBVljIit7kN7BPVA"
    body:
      encoding: ASCII-8BIT
      string: '{"id":[...]
[...]
- request:
    method: get
    uri: https://api.exa.ai/websets/v0/websets/webset_01karptjeq5j7nnw7k20ptve55
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Api-Key:
      - "<EXA_API_KEY>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Origin-Agent-Cluster:
      - "?1"
      Etag:
      - W/"677-xeGtaUhHTNLmXXT4MsNzKE3EAwU"
    body:
      encoding: ASCII-8BIT
      string: '{"id":"webset_01karptjeq5j7nnw7k20ptve55","object":"webset","status":"running","externalId":null,"title":"Companies:
        tech startups in NYC","searches":[{"id":"wsearch_01karptjwc8a72187b8hy08jef","object":"webset_search","websetId":"webset_01karptjeq5j7nnw7k20ptve55","status":"running","query":"Tech
        startups in NYC","entity":{"type":"company"},"criteria":[{"description":"Early-stage
        technology company headquartered in New York City (NYC)","successRate":0}],"count":1,"behavior":"override","exclude":[],"scope":[],"progress":{"found":0,"analyzed":2,"completion":5,"timeLeft":133},"recall":null,"metadata":{},"canceledAt":null,"canceledReason":null,"createdAt":"2025-11-23T15:55:21.356Z","updatedAt":"2025-11-23T15:55:26.162Z"}],"imports":[],"enrichments":[{"id":"wenrich_cmibwg5di006xge1sc60bcntk","object":"webset_enrichment","status":"pending","websetId":"webset_01karptjeq5j7nnw7k20ptve55","title":null,"description":"Primary
        contact email","format":"text","options":null,"instructions":null,"metadata":{},"createdAt":"2025-11-23T15:55:21.271Z","updatedAt":"2025-11-23T15:55:21.271Z"},{"id":"wenrich_cmibwg5di006yge1sp7nktned","object":"webset_enrichment","status":"pending","websetId":"webset_01karptjeq5j7nnw7k20ptve55","title":null,"description":"Company
        size","format":"options","options":[{"label":"1-10 employees"},{"label":"11-50
        employees"},{"label":"51-200 employees"},{"label":"201+ employees"}],"instructions":null,"metadata":{},"createdAt":"2025-11-23T15:55:21.271Z","updatedAt":"2025-11-23T15:55:21.271Z"}],"monitors":[],"excludes":[],"metadata":{},"createdAt":"2025-11-23T15:55:20.919Z","updatedAt":"2025-11-23T15:55:26.162Z","items":[]}'
  recorded_at: Sun, 23 Nov 2025 15:55:28 GMT
[...]
