---
http_interactions:
- request:
    method: post
    uri: https://api.exa.ai/websets/v0/websets
    body:
      encoding: UTF-8
      string: '{"search":{"query":"Tech companies in Seattle","count":1}}'
    headers:
      X-Api-Key:
      - "<EXA_API_KEY>"
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Origin-Agent-Cluster:
      - "?1"
      Etag:
      - W/"2f3-1y7CbtGeXhpg35SGLtLV9N0r+6k"
    body:
      encoding: UTF-8
      string: '{"id":"webset_01kap3fzngs6bemq8kq1ajfwhs","object":"webset","status":"running","externalId":null,"title":null,"searches":[{"id":"wsearch_01kap3g0kkb48461ggt47k5x25","object":"webset_search","websetId":"webset_01kap3fzngs6bemq8kq1ajfwhs","status":"running","query":"Tech
        companies in Seattle","entity":{"type":"company"},"criteria":[],"count":1,"behavior":"override","exclude":[],"scope":[],"progress":{"found":0,"analyzed":0,"completion":0,"timeLeft":null},"recall":null,"metadata":{},"canceledAt":null,"canceledReason":null,"createdAt":"2025-11-22T15:39:03.155Z","updatedAt":"2025-11-22T15:39:03.522Z"}],"imports":[],"enrichments":[],"monitors":[],"excludes":[],"metadata":{},"createdAt":"2025-11-22T15:39:02.192Z","updatedAt":"2025-11-22T15:39:03.522Z"}'
  recorded_at: Sat, 22 Nov 2025 15:39:04 GMT
- request:
    method: get
    uri: https://api.exa.ai/websets/v0/websets/webset_01kap3fzngs6bemq8kq1ajfwhs
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Api-Key:
      - "<EXA_API_KEY>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Origin-Agent-Cluster:
      - "?1"
      Etag:
      - W/"2fe-3vpNZwAKod/1GQ4RX1Do/NQF4Os"
    body:
      encoding: ASCII-8BIT
      string: '{"id":"webset_01kap3fzngs6bemq8kq1ajfwhs","object":"webset","status":"running","externalId":null,"title":null,"searches":[{"id":"wsearch_01kap3g0kkb48461ggt47k5x25","object":"webset_search","websetId":"webset_01kap3fzngs6bemq8kq1ajfwhs","status":"running","query":"Tech
        companies in Seattle","entity":{"type":"company"},"criteria":[],"count":1,"behavior":"override","exclude":[],"scope":[],"progress":{"found":0,"analyzed":0,"completion":0,"timeLeft":null},"recall":null,"metadata":{},"canceledAt":null,"canceledReason":null,"createdAt":"2025-11-22T15:39:03.155Z","updatedAt":"2025-11-22T15:39:03.522Z"}],"imports":[],"enrichments":[],"monitors":[],"excludes":[],"metadata":{},"createdAt":"2025-11-22T15:39:02.192Z","updatedAt":"2025-11-22T15:39:03.522Z","items":[]}'
  recorded_at: Sat, 22 Nov 2025 15:39:04 GMT
- request:
    method: get
    uri: https://api.exa.ai/websets/v0/websets/webset_01kap3fzngs6bemq8kq1ajfwhs
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Api-Key:
      - "<EXA_API_KEY>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Origin-Agent-Cluster:
      - "?1"
      Etag:
      - W/"385-jVal/+4i6RIF37cqEqEybu2mhUc"
    body:
      encoding: ASCII-8BIT
      string: '{"id":"webset_01kap3fzngs6bemq8kq1ajfwhs","object":"webset","status":"running","externalId":null,"title":"Companies:
        Tech in Seattle","searches":[{"id":"wsearch_01kap3g0kkb48461ggt47k5x25","object":"webset_search","websetId":"webset_01kap3fzngs6bemq8kq1ajfwhs","status":"running","query":"Tech
        companies in Seattle","entity":{"type":"company"},"criteria":[{"description":"Company
        operates in the technology sector and is headquartered in Seattle, WA","successRate":0}],"count":1,"behavior":"override","exclude":[],"scope":[],"progress":{"found":0,"analyzed":0,"completion":0,"timeLeft":null},"recall":null,"metadata":{},"canceledAt":null,"canceledReason":null,"createdAt":"2025-11-22T15:39:03.155Z","updatedAt":"2025-11-22T15:39:07.274Z"}],"imports":[],"enrichments":[],"monitors":[],"excludes":[],"metadata":{},"createdAt":"2025-11-22T15:39:02.192Z","updatedAt":"2025-11-22T15:39:07.274Z","items":[]}'
  recorded_at: Sat, 22 Nov 2025 15:39:08 GMT
[...]
- request:
    method: post
    uri: https://api.exa.ai/websets/v0/websets
    body:
      encoding: UTF-8
      string: '{"search":{"query":"Tech companies in Pacific Northwest","count":1},"exclude":[{"source":"webset","id":"webset_01kap3fzngs6bemq8kq1ajfwhs"}]}'
    headers:
      X-Api-Key:
      - "<EXA_API_KEY>"
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Origin-Agent-Cluster:
      - "?1"
      Etag:
      - W/"375-NMJ4FqOAl7liyMOd8PPZehO2NTM"
    body:
      encoding: UTF-8
      string: '{"id":"webset_01kap3gq3r94n3emhrkxnaj8sp","object":"webset","status":"running","externalId":null,"title":null,"searches":[{"id":"wsearch_01kap3gqgp4twacqa856pdj7et","object":"webset_search","websetId":"webset_01kap3gq3r94n3emhrkxnaj8sp","status":"running","query":"Tech
        companies in Pacific Northwest","entity":{"type":"company"},"criteria":[],"count":1,"behavior":"override","exclude":[{"source":"webset","id":"webset_01kap3fzngs6bemq8kq1ajfwhs"}],"scope":[],"progress":{"found":0,"analyzed":0,"completion":0,"timeLeft":null},"recall":null,"metadata":{},"canceledAt":null,"canceledReason":null,"createdAt":"2025-11-22T15:39:26.614Z","updatedAt":"2025-11-22T15:39:27.101Z"}],"imports":[],"enrichments":[],"monitors":[],"excludes":[{"source":"webset","id":"webset_01kap3fzngs6bemq8kq1ajfwhs"}],"metadata":{},"createdAt":"2025-11-22T15:39:26.200Z","updatedAt":"2025-11-22T15:39:27.101Z"}'
  recorded_at: Sat, 22 Nov 2025 15:39:27 GMT
- request:
    method: get
    uri: https://api.exa.ai/websets/v0/websets/webset_01kap3gq3r94n3emhrkxnaj8sp
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Api-Key:
      - "<EXA_API_KEY>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Origin-Agent-Cluster:
      - "?1"
      Etag:
      - W/"380-ZoPMSNL0yx/cPmJVdfnsdgmQq6g"
    body:
      encoding: ASCII-8BIT
      string: '{"id":"webset_01kap3gq3r94n3emhrkxnaj8sp","object":"webset","status":"running","externalId":null,"title":null,"searches":[{"id":"wsearch_01kap3gqgp4twacqa856pdj7et","object":"webset_search","websetId":"webset_01kap3gq3r94n3emhrkxnaj8sp","status":"running","query":"Tech
        companies in Pacific Northwest","entity":{"type":"company"},"criteria":[],"count":1,"behavior":"override","exclude":[{"source":"webset","id":"webset_01kap3fzngs6bemq8kq1ajfwhs"}],"scope":[],"progress":{"found":0,"analyzed":0,"completion":0,"timeLeft":null},"recall":null,"metadata":{},"canceledAt":null,"canceledReason":null,"createdAt":"2025-11-22T15:39:26.614Z","updatedAt":"2025-11-22T15:39:27.101Z"}],"imports":[],"enrichments":[],"monitors":[],"excludes":[{"source":"webset","id":"webset_01kap3fzngs6bemq8kq1ajfwhs"}],"metadata":{},"createdAt":"2025-11-22T15:39:26.200Z","updatedAt":"2025-11-22T15:39:27.101Z","items":[]}'
  recorded_at: Sat, 22 Nov 2025 15:39:28 GMT
[...]
