---
http_interactions:
- request:
    method: post
    uri: https://api.exa.ai/websets/v0/websets
    body:
      encoding: UTF-8
      string: '{"search":{"query":"enterprise AI/ML infrastructure startups with Series
        A funding","count":2}}'
    headers:
      X-Api-Key:
      - "<EXA_API_KEY>"
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Origin-Agent-Cluster:
      - "?1"
      Etag:
      - W/"318-yO677aMM3KyQX6o3dPnJ7OAC1c0"
    body:
      encoding: UTF-8
      string: '{"id":"webset_01kapmxgvb5v36dsvatxe27xqc","object":"webset","status":"running","externalId":null,"title":null,"searches":[{"id":"wsearch_01kapmxh7dxw78skgmgkrmvmap","object":"webset_search","websetId":"webset_01kapmxgvb5v36dsvatxe27xqc","status":"running","query":"enterprise
        AI/ML infrastructure startups with Series A funding","entity":{"type":"company"},"criteria":[],"count":2,"behavior":"override","exclude":[],"scope":[],"progress":{"found":0,"analyzed":0,"completion":0,"timeLeft":null},"recall":null,"metadata":{},"canceledAt":null,"canceledReason":null,"createdAt":"2025-11-22T20:43:31.949Z","updatedAt":"2025-11-22T20:43:32.292Z"}],"imports":[],"enrichments":[],"monitors":[],"excludes":[],"metadata":{},"createdAt":"2025-11-22T20:43:31.563Z","updatedAt":"2025-11-22T20:43:32.292Z"}'
  recorded_at: Sat, 22 Nov 2025 20:43:32 GMT
- request:
    method: post
    uri: https://api.exa.ai/websets/v0/websets/webset_01kapmxgvb5v36dsvatxe27xqc/searches
    body:
      encoding: UTF-8
      string: '{"query":"Query to cancel","count":100}'
    headers:
      X-Api-Key:
      - "<EXA_API_KEY>"
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Origin-Agent-Cluster:
      - "?1"
      Etag:
      - W/"1d9-ShbohnbQwbaqoRqPhhIFsibEokI"
    body:
      encoding: UTF-8
      string: '{"id":"wsearch_01kapmyahr2f6davngh8rt3zqs","object":"webset_search","websetId":"webset_01kapmxgvb5v36dsvatxe27xqc","status":"running","query":"Query
        to cancel","entity":{"type":"company"},"criteria":[],"count":100,"behavior":"override","exclude":[],"scope":[],"progress":{"found":0,"analyzed":0,"completion":0,"timeLeft":null},"recall":null,"metadata":{},"canceledAt":null,"canceledReason":null,"createdAt":"2025-11-22T20:43:57.880Z","updatedAt":"2025-11-22T20:43:58.228Z"}'
  recorded_at: Sat, 22 Nov 2025 20:43:58 GMT
- request:
    method: post
    uri: https://api.exa.ai/websets/v0/websets/webset_01kapmxgvb5v36dsvatxe27xqc/searches/wsearch_01kapmyahr2f6davngh8rt3zqs/cancel
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      X-Api-Key:
      - "<EXA_API_KEY>"
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Origin-Agent-Cluster:
      - "?1"
      Etag:
      - W/"1ef-/NDeAIG5tftnZNupaCoJV0xbyHs"
    body:
      encoding: ASCII-8BIT
      string: '{"id":"wsearch_01kapmyahr2f6davngh8rt3zqs","object":"webset_search","websetId":"webset_01kapmxgvb5v36dsvatxe27xqc","status":"canceled","query":"Query
        to cancel","entity":{"type":"company"},"criteria":[],"count":100,"behavior":"override","exclude":[],"scope":[],"progress":{"found":0,"analyzed":0,"completion":100,"timeLeft":0},"recall":null,"metadata":{},"canceledAt":"2025-11-22T20:43:59.180Z","canceledReason":null,"createdAt":"2025-11-22T20:43:57.880Z","updatedAt":"2025-11-22T20:43:59.458Z"}'
  recorded_at: Sat, 22 Nov 2025 20:44:00 GMT
recorded_with: VCR 6.3.1
