---
http_interactions:
- request:
    method: post
    uri: https://api.exa.ai/websets/v0/websets
    body:
      encoding: UTF-8
      string: '{"search":{"query":"Initial companies","count":1}}'
    headers:
      X-Api-Key:
      - "<EXA_API_KEY>"
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Origin-Agent-Cluster:
      - "?1"
      Etag:
      - W/"2eb-t4O9g3gLkVEVfZqrdJvGx08ymgQ"
    body:
      encoding: UTF-8
      string: '{"id":"webset_01kapmhwy55j8se1e7cyk9y5pe","object":"webset","status":"running","externalId":null,"title":null,"searches":[{"id":"wsearch_01kapmhxap6t6q421tqmq92evz","object":"webset_search","websetId":"webset_01kapmhwy55j8se1e7cyk9y5pe","status":"running","query":"Initial
        companies","entity":{"type":"company"},"criteria":[],"count":1,"behavior":"override","exclude":[],"scope":[],"progress":{"found":0,"analyzed":0,"completion":0,"timeLeft":null},"recall":null,"metadata":{},"canceledAt":null,"canceledReason":null,"createdAt":"2025-11-22T20:37:11.126Z","updatedAt":"2025-11-22T20:37:11.473Z"}],"imports":[],"enrichments":[],"monitors":[],"excludes":[],"metadata":{},"createdAt":"2025-11-22T20:37:10.725Z","updatedAt":"2025-11-22T20:37:11.473Z"}'
  recorded_at: Sat, 22 Nov 2025 20:37:11 GMT
- request:
    method: post
    uri: https://api.exa.ai/websets/v0/websets/webset_01kapmhwy55j8se1e7cyk9y5pe/searches
    body:
      encoding: UTF-8
      string: '{"query":"Additional companies","count":5,"behavior":"append"}'
    headers:
      X-Api-Key:
      - "<EXA_API_KEY>"
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Origin-Agent-Cluster:
      - "?1"
      Etag:
      - W/"1da-CCObU6jfJ8012CcDiVvCGQm0o0o"
    body:
      encoding: UTF-8
      string: '{"id":"wsearch_01kapmjky16v6k3239dg9vfq3w","object":"webset_search","websetId":"webset_01kapmhwy55j8se1e7cyk9y5pe","status":"running","query":"Additional
        companies","entity":{"type":"company"},"criteria":[],"count":5,"behavior":"append","exclude":[],"scope":[],"progress":{"found":0,"analyzed":0,"completion":0,"timeLeft":null},"recall":null,"metadata":{},"canceledAt":null,"canceledReason":null,"createdAt":"2025-11-22T20:37:34.273Z","updatedAt":"2025-11-22T20:37:34.658Z"}'
  recorded_at: Sat, 22 Nov 2025 20:37:34 GMT
recorded_with: VCR 6.3.1
