---
http_interactions:
- request:
    method: post
    uri: https://api.exa.ai/websets/v0/websets
    body:
      encoding: UTF-8
      string: '{"search":{"query":"Tech companies","count":1}}'
    headers:
      X-Api-Key:
      - "<EXA_API_KEY>"
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Origin-Agent-Cluster:
      - "?1"
      Etag:
      - W/"2e8-liDR7B7Q7Yb8cCA/YvOUHS7cG9w"
    body:
      encoding: UTF-8
      string: '{"id":"webset_01kapmfkpbm6fvxpmhbm2t8qsw","object":"webset","status":"running","externalId":null,"title":null,"searches":[{"id":"wsearch_01kapmfm38kjy7jmabqkr3haj3","object":"webset_search","websetId":"webset_01kapmfkpbm6fvxpmhbm2t8qsw","status":"running","query":"Tech
        companies","entity":{"type":"company"},"criteria":[],"count":1,"behavior":"override","exclude":[],"scope":[],"progress":{"found":0,"analyzed":0,"completion":0,"timeLeft":null},"recall":null,"metadata":{},"canceledAt":null,"canceledReason":null,"createdAt":"2025-11-22T20:35:56.136Z","updatedAt":"2025-11-22T20:35:56.519Z"}],"imports":[],"enrichments":[],"monitors":[],"excludes":[],"metadata":{},"createdAt":"2025-11-22T20:35:55.723Z","updatedAt":"2025-11-22T20:35:56.519Z"}'
  recorded_at: Sat, 22 Nov 2025 20:35:57 GMT
- request:
    method: post
    uri: https://api.exa.ai/websets/v0/websets/webset_01kapmfkpbm6fvxpmhbm2t8qsw/searches
    body:
      encoding: UTF-8
      string: '{"query":"AI companies","count":10}'
    headers:
      X-Api-Key:
      - "<EXA_API_KEY>"
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Origin-Agent-Cluster:
      - "?1"
      Etag:
      - W/"1d5-SBqtypfIPghMGmFHABqGwn/yWjw"
    body:
      encoding: UTF-8
      string: '{"id":"wsearch_01kapmg4zm1pbx8v3mfsjx8fe6","object":"webset_search","websetId":"webset_01kapmfkpbm6fvxpmhbm2t8qsw","status":"running","query":"AI
        companies","entity":{"type":"company"},"criteria":[],"count":10,"behavior":"override","exclude":[],"scope":[],"progress":{"found":0,"analyzed":0,"completion":0,"timeLeft":null},"recall":null,"metadata":{},"canceledAt":null,"canceledReason":null,"createdAt":"2025-11-22T20:36:13.428Z","updatedAt":"2025-11-22T20:36:13.813Z"}'
  recorded_at: Sat, 22 Nov 2025 20:36:13 GMT
- request:
    method: get
    uri: https://api.exa.ai/websets/v0/websets/webset_01kapmfkpbm6fvxpmhbm2t8qsw/searches/wsearch_01kapmg4zm1pbx8v3mfsjx8fe6
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Api-Key:
      - "<EXA_API_KEY>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Origin-Agent-Cluster:
      - "?1"
      Etag:
      - W/"1d5-SBqtypfIPghMGmFHABqGwn/yWjw"
    body:
      encoding: ASCII-8BIT
      string: '{"id":"wsearch_01kapmg4zm1pbx8v3mfsjx8fe6","object":"webset_search","websetId":"webset_01kapmfkpbm6fvxpmhbm2t8qsw","status":"running","query":"AI
        companies","entity":{"type":"company"},"criteria":[],"count":10,"behavior":"override","exclude":[],"scope":[],"progress":{"found":0,"analyzed":0,"completion":0,"timeLeft":null},"recall":null,"metadata":{},"canceledAt":null,"canceledReason":null,"createdAt":"2025-11-22T20:36:13.428Z","updatedAt":"2025-11-22T20:36:13.813Z"}'
  recorded_at: Sat, 22 Nov 2025 20:36:14 GMT
recorded_with: VCR 6.3.1
