---
http_interactions:
- request:
    method: post
    uri: https://api.exa.ai/websets/v0/websets
    body:
      encoding: UTF-8
      string: '{"search":{"query":"Manufacturing companies in Detroit","count":1}}'
    headers:
      X-Api-Key:
      - "<EXA_API_KEY>"
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Origin-Agent-Cluster:
      - "?1"
      Etag:
      - W/"2fc-zB2VtsHmqrAxe6z3Lns+t+vBqUE"
    body:
      encoding: UTF-8
      string: '{"id":"webset_01kaq2d5d78z10vqqampnd41ny","object":"webset","status":"running","externalId":null,"title":null,"searches":[{"id":"wsearch_01kaq2d5t7wpb1d4sc777v7h68","object":"webset_search","websetId":"webset_01kaq2d5d78z10vqqampnd41ny","status":"running","query":"Manufacturing
        companies in Detroit","entity":{"type":"company"},"criteria":[],"count":1,"behavior":"override","exclude":[],"scope":[],"progress":{"found":0,"analyzed":0,"completion":0,"timeLeft":null},"recall":null,"metadata":{},"canceledAt":null,"canceledReason":null,"createdAt":"2025-11-23T00:39:16.039Z","updatedAt":"2025-11-23T00:39:16.435Z"}],"imports":[],"enrichments":[],"monitors":[],"excludes":[],"metadata":{},"createdAt":"2025-11-23T00:39:15.623Z","updatedAt":"2025-11-23T00:39:16.435Z"}'
  recorded_at: Sun, 23 Nov 2025 00:39:17 GMT
- request:
    method: post
    uri: https://api.exa.ai/websets/v0/websets/webset_01kaq2d5d78z10vqqampnd41ny/enrichments
    body:
      encoding: UTF-8
      string: '{"description":"To be cancelled","format":"text"}'
    headers:
      X-Api-Key:
      - "<EXA_API_KEY>"
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Origin-Agent-Cluster:
      - "?1"
      Etag:
      - W/"146-L60uwqCqX/M9+aL/Bthp9vKmF+U"
    body:
      encoding: UTF-8
      string: '{"id":"wenrich_01kaq2dabrgkes10mt8wpyyfps","object":"webset_enrichment","status":"pending","websetId":"webset_01kaq2d5d78z10vqqampnd41ny","title":null,"description":"To
        be cancelled","format":"text","options":null,"instructions":null,"metadata":{},"createdAt":"2025-11-23T00:39:20.696Z","updatedAt":"2025-11-23T00:39:21.135Z"}'
  recorded_at: Sun, 23 Nov 2025 00:39:21 GMT
- request:
    method: post
    uri: https://api.exa.ai/websets/v0/websets/webset_01kaq2d5d78z10vqqampnd41ny/enrichments/wenrich_01kaq2dabrgkes10mt8wpyyfps/cancel
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      X-Api-Key:
      - "<EXA_API_KEY>"
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Origin-Agent-Cluster:
      - "?1"
      Etag:
      - W/"146-L60uwqCqX/M9+aL/Bthp9vKmF+U"
    body:
      encoding: ASCII-8BIT
      string: '{"id":"wenrich_01kaq2dabrgkes10mt8wpyyfps","object":"webset_enrichment","status":"pending","websetId":"webset_01kaq2d5d78z10vqqampnd41ny","title":null,"description":"To
        be cancelled","format":"text","options":null,"instructions":null,"metadata":{},"createdAt":"2025-11-23T00:39:20.696Z","updatedAt":"2025-11-23T00:39:21.135Z"}'
  recorded_at: Sun, 23 Nov 2025 00:39:22 GMT
recorded_with: VCR 6.3.1
