openapi: 3.1.0
info:
  version: 1.2.0
  title: Exa Search API
  description: A comprehensive API for internet-scale search, allowing users to perform queries and retrieve results from a wide variety of sources using embeddings-based and traditional search.
servers:
  - url: https://api.exa.ai
security:
  - apikey: []
paths:

components:
  securitySchemes:
    apikey:
      type: apiKey
      name: x-api-key
      in: header
      description: API key can be provided either via x-api-key header or Authorization header with Bearer scheme
    bearer:
      type: http
      scheme: bearer
      description: API key can be provided either via x-api-key header or Authorization header with Bearer scheme
  schemas:
    AnswerCitation:
      type: object
      properties:
        id:
          type: string
          description: The temporary ID for the document.
          example: "https://www.theguardian.com/science/2024/dec/11/spacex-valued-at-350bn-as-company-agrees-to-buy-shares-from-employees"
        url:
          type: string
          format: uri
          description: The URL of the search result.
          example: "https://www.theguardian.com/science/2024/dec/11/spacex-valued-at-350bn-as-company-agrees-to-buy-shares-from-employees"
        title:
          type: string
          description: The title of the search result.
          example: "SpaceX valued at $350bn as company agrees to buy shares from ..."
        author:
          type: string
          nullable: true
          description: If available, the author of the content.
          example: "Dan Milmon"
        publishedDate:
          type: string
          nullable: true
          description: An estimate of the creation date, from parsing HTML content. Format is YYYY-MM-DD.
          example: "2023-11-16T01:36:32.547Z"
        text:
          type: string
          description: The full text content of each source. Only present when includeText is enabled.
          example: "SpaceX valued at $350bn as company agrees to buy shares from ..."
        image:
          type: string
          format: uri
          description: The URL of the image associated with the search result, if available.
          example: "https://i.guim.co.uk/img/media/7cfee7e84b24b73c97a079c402642a333ad31e77/0_380_6176_3706/master/6176.jpg?width=1200&height=630&quality=85&auto=format&fit=crop&overlay-align=bottom%2Cleft&overlay-width=100p&overlay-base64=L2ltZy9zdGF0aWMvb3ZlcmxheXMvdGctZGVmYXVsdC5wbmc&enable=upscale&s=71ebb2fbf458c185229d02d380c01530"
        favicon:
          type: string
          format: uri
          description: The URL of the favicon for the search result's domain, if available.
          example: "https://assets.guim.co.uk/static/frontend/icons/homescreen/apple-touch-icon.svg"
    AnswerResult:
      type: object
      properties:
        answer:
          type: string
          description: The generated answer based on search results.
          example: "$350 billion."
        citations:
          type: array
          description: Search results used to generate the answer.
          items:
            $ref: "#/components/schemas/AnswerCitation"
    ContentsRequest:
      type: object
      properties:
        text:
          oneOf:
            - type: boolean
              title: "Simple text retrieval"
              description: If true, returns full page text with default settings. If false, disables text return.
            - type: object
              title: "Advanced text options"
              description: Advanced options for controlling text extraction. Use this when you need to limit text length or include HTML structure.
              properties:
                maxCharacters:
                  type: integer
                  description: Maximum character limit for the full page text. Useful for controlling response size and API costs.
                  example: 1000
                includeHtmlTags:
                  type: boolean
                  default: false
                  description: Include HTML tags in the response, which can help LLMs understand text structure and formatting.
                  example: false
        highlights:
          type: object
          description: Text snippets the LLM identifies as most relevant from each page.
          properties:
            numSentences:
              type: integer
              minimum: 1
              description: The number of sentences to return for each snippet.
              example: 1
            highlightsPerUrl:
              type: integer
              minimum: 1
              description: The number of snippets to return for each result.
              example: 1
            query:
              type: string
              description: Custom query to direct the LLM's selection of highlights.
              example: "Key advancements"
        summary:
          type: object
          description: Summary of the webpage
          properties:
            query:
              type: string
              description: Custom query for the LLM-generated summary.
              example: "Main developments"
            schema:
              type: object
              description: |
                JSON schema for structured output from summary. 
                See https://json-schema.org/overview/what-is-jsonschema for JSON Schema documentation.
              example:
                {
                  "$schema": "http://json-schema.org/draft-07/schema#",
                  "title": "Title",
                  "type": "object",
                  "properties":
                    {
                      "Property 1":
                        { "type": "string", "description": "Description" },
                      "Property 2":
                        {
                          "type": "string",
                          "enum": ["option 1", "option 2", "option 3"],
                          "description": "Description",
                        },
                    },
                  "required": ["Property 1"],
                }
        livecrawl:
          type: string
          enum: [never, fallback, always, preferred]
          description: |
            Options for livecrawling pages.
            'never': Disable livecrawling (default for neural search).
            'fallback': Livecrawl when cache is empty (default for keyword search).
            'always': Always livecrawl.
            'preferred': Always try to livecrawl, but fall back to cache if crawling fails.
          example: "always"
        livecrawlTimeout:
          type: integer
          default: 10000
          description: The timeout for livecrawling in milliseconds.
          example: 1000
        subpages:
          type: integer
          default: 0
          description: The number of subpages to crawl. The actual number crawled may be limited by system constraints.
          example: 1
        subpageTarget:
          oneOf:
            - type: string
            - type: array
              items:
                type: string
          description: Keyword to find specific subpages of search results. Can be a single string or an array of strings, comma delimited.
          example: "sources"
        extras:
          type: object
          description: Extra parameters to pass.
          properties:
            links:
              type: integer
              default: 0
              description: Number of URLs to return from each webpage.
              example: 1
            imageLinks:
              type: integer
              default: 0
              description: Number of images to return for each result.
              example: 1
        context:
          oneOf:
            - type: boolean
              description: Formats the search resutls into a context string ready for LLMs.
              example: true
            - type: object
              description: Formats the search resutls into a context string ready for LLMs.
              properties:
                maxCharacters:
                  type: integer
                  description: Maximum character limit.
                  example: 10000

    CommonRequest:
      type: object
      properties:
        numResults:
          type: integer
          maximum: 100
          default: 10
          minimum: 1
          description: Number of results to return (up to thousands of results available for custom plans)
          example: 10
        includeDomains:
          type: array
          items:
            type: string
          description: List of domains to include in the search. If specified, results will only come from these domains.
          example:
            - arxiv.org
            - paperswithcode.com
        excludeDomains:
          type: array
          items:
            type: string
          description: List of domains to exclude from search results. If specified, no results will be returned from these domains.
        startCrawlDate:
          type: string
          format: date-time
          description: Crawl date refers to the date that Exa discovered a link. Results will include links that were crawled after this date. Must be specified in ISO 8601 format.
          example: 2023-01-01
        endCrawlDate:
          type: string
          format: date-time
          description: Crawl date refers to the date that Exa discovered a link. Results will include links that were crawled before this date. Must be specified in ISO 8601 format.
          example: 2023-12-31
        startPublishedDate:
          type: string
          format: date-time
          description: Only links with a published date after this will be returned. Must be specified in ISO 8601 format.
          example: 2023-01-01
        endPublishedDate:
          type: string
          format: date-time
          description: Only links with a published date before this will be returned. Must be specified in ISO 8601 format.
          example: 2023-12-31
        includeText:
          type: array
          items:
            type: string
          description: List of strings that must be present in webpage text of results. Currently, only 1 string is supported, of up to 5 words.
          example:
            - large language model
        excludeText:
          type: array
          items:
            type: string
          description: List of strings that must not be present in webpage text of results. Currently, only 1 string is supported, of up to 5 words. Checks from the first 1000 words of the webpage text.
          example:
            - course
        context:
          oneOf:
            - type: boolean
              description: Formats the search results into a context string ready for LLMs.
              example: true
            - type: object
              description: Formats the search results into a context string ready for LLMs.
              properties:
                maxCharacters:
                  type: integer
                  description: Maximum character limit.
                  example: 10000

        contents:
          $ref: "#/components/schemas/ContentsRequest"

    Result:
      type: object
      properties:
        title:
          type: string
          description: The title of the search result.
          example: "A Comprehensive Overview of Large Language Models"
        url:
          type: string
          format: uri
          description: The URL of the search result.
          example: "https://arxiv.org/pdf/2307.06435.pdf"
        publishedDate:
          type: string
          nullable: true
          description: An estimate of the creation date, from parsing HTML content. Format is YYYY-MM-DD.
          example: "2023-11-16T01:36:32.547Z"
        author:
          type: string
          nullable: true
          description: If available, the author of the content.
          example: "Humza  Naveed, University of Engineering and Technology (UET), Lahore, Pakistan"
        score:
          type: number
          nullable: true
          description: A number from 0 to 1 representing similarity between the query/url and the result.
          example: 0.4600165784358978
        id:
          type: string
          description: The temporary ID for the document. Useful for /contents endpoint.
          example: "https://arxiv.org/abs/2307.06435"
        image:
          type: string
          format: uri
          description: The URL of an image associated with the search result, if available.
          example: "https://arxiv.org/pdf/2307.06435.pdf/page_1.png"
        favicon:
          type: string
          format: uri
          description: The URL of the favicon for the search result's domain.
          example: "https://arxiv.org/favicon.ico"

    ResultWithContent:
      allOf:
        - $ref: "#/components/schemas/Result"
        - type: object
          properties:
            text:
              type: string
              description: The full content text of the search result.
              example: "Abstract Large Language Models (LLMs) have recently demonstrated remarkable capabilities..."
            highlights:
              type: array
              items:
                type: string
              description: Array of highlights extracted from the search result content.
              example:
                - "Such requirements have limited their adoption..."
            highlightScores:
              type: array
              items:
                type: number
                format: float
              description: Array of cosine similarity scores for each highlighted
              example: [0.4600165784358978]
            summary:
              type: string
              description: Summary of the webpage
              example: "This overview paper on Large Language Models (LLMs) highlights key developments..."
            subpages:
              type: array
              items:
                $ref: "#/components/schemas/ResultWithContent"
              description: Array of subpages for the search result.
              example:
                [
                  {
                    "id": "https://arxiv.org/abs/2303.17580",
                    "url": "https://arxiv.org/pdf/2303.17580.pdf",
                    "title": "HuggingGPT: Solving AI Tasks with ChatGPT and its Friends in Hugging Face",
                    "author": "Yongliang  Shen, Microsoft Research Asia, Kaitao  Song, Microsoft Research Asia, Xu  Tan, Microsoft Research Asia, Dongsheng  Li, Microsoft Research Asia, Weiming  Lu, Microsoft Research Asia, Yueting  Zhuang, Microsoft Research Asia, yzhuang@zju.edu.cn, Zhejiang  University, Microsoft Research Asia, Microsoft  Research, Microsoft Research Asia",
                    "publishedDate": "2023-11-16T01:36:20.486Z",
                    "text": "HuggingGPT: Solving AI Tasks with ChatGPT and its Friends in Hugging Face Date Published: 2023-05-25 Authors: Yongliang Shen, Microsoft Research Asia Kaitao Song, Microsoft Research Asia Xu Tan, Microsoft Research Asia Dongsheng Li, Microsoft Research Asia Weiming Lu, Microsoft Research Asia Yueting Zhuang, Microsoft Research Asia, yzhuang@zju.edu.cn Zhejiang University, Microsoft Research Asia Microsoft Research, Microsoft Research Asia Abstract Solving complicated AI tasks with different domains and modalities is a key step toward artificial general intelligence. While there are abundant AI models available for different domains and modalities, they cannot handle complicated AI tasks. Considering large language models (LLMs) have exhibited exceptional ability in language understanding, generation, interaction, and reasoning, we advocate that LLMs could act as a controller to manage existing AI models to solve complicated AI tasks and language could be a generic interface to empower t",
                    "summary": "HuggingGPT is a framework using ChatGPT as a central controller to orchestrate various AI models from Hugging Face to solve complex tasks. ChatGPT plans the task, selects appropriate models based on their descriptions, executes subtasks, and summarizes the results. This approach addresses limitations of LLMs by allowing them to handle multimodal data (vision, speech) and coordinate multiple models for complex tasks, paving the way for more advanced AI systems.",
                    "highlights":
                      [
                        "2) Recently, some researchers started to investigate the integration of using tools or models in LLMs  .",
                      ],
                    "highlightScores": [0.32679107785224915],
                  },
                ]
            extras:
              type: object
              description: Results from extras.
              properties:
                links:
                  type: array
                  items:
                    type: string
                  description: Array of links from the search result.
                  example: []

    CostDollars:
      type: object
      properties:
        total:
          type: number
          format: float
          description: Total dollar cost for your request
          example: 0.005
        breakDown:
          type: array
          description: Breakdown of costs by operation type
          items:
            type: object
            properties:
              search:
                type: number
                format: float
                description: Cost of your search operations
                example: 0.005
              contents:
                type: number
                format: float
                description: Cost of your content operations
                example: 0
              breakdown:
                type: object
                properties:
                  keywordSearch:
                    type: number
                    format: float
                    description: Cost of your keyword search operations
                    example: 0
                  neuralSearch:
                    type: number
                    format: float
                    description: Cost of your neural search operations
                    example: 0.005
                  contentText:
                    type: number
                    format: float
                    description: Cost of your text content retrieval
                    example: 0
                  contentHighlight:
                    type: number
                    format: float
                    description: Cost of your highlight generation
                    example: 0
                  contentSummary:
                    type: number
                    format: float
                    description: Cost of your summary generation
                    example: 0
        perRequestPrices:
          type: object
          description: Standard price per request for different operations
          properties:
            neuralSearch_1_25_results:
              type: number
              format: float
              description: Standard price for neural search with 1-25 results
              example: 0.005
            neuralSearch_26_100_results:
              type: number
              format: float
              description: Standard price for neural search with 26-100 results
              example: 0.025
            neuralSearch_100_plus_results:
              type: number
              format: float
              description: Standard price for neural search with 100+ results
              example: 1
            keywordSearch_1_100_results:
              type: number
              format: float
              description: Standard price for keyword search with 1-100 results
              example: 0.0025
            keywordSearch_100_plus_results:
              type: number
              format: float
              description: Standard price for keyword search with 100+ results
              example: 3
        perPagePrices:
          type: object
          description: Standard price per page for different content operations
          properties:
            contentText:
              type: number
              format: float
              description: Standard price per page for text content
              example: 0.001
            contentHighlight:
              type: number
              format: float
              description: Standard price per page for highlights
              example: 0.001
            contentSummary:
              type: number
              format: float
              description: Standard price per page for summaries
              example: 0.001

    ListResearchResponseDto:
      type:
        - object
      properties:
        data:
          type:
            - array
          items:
            discriminator:
              propertyName: status
            examples: &ref_1
              - researchId: 01jszdfs0052sg4jc552sg4jc5
                model: exa-research
                instructions: What species of ant are similar to honeypot ants?
                status: running
              - researchId: 01jszdfs0052sg4jc552sg4jc5
                model: exa-research
                instructions: What species of ant are similar to honeypot ants?
                status: completed
                output: Melophorus bagoti
            $ref: '#/components/schemas/ResearchDtoClass'
          description: The list of research requests
        hasMore:
          type:
            - boolean
          description: Whether there are more results to paginate through
        nextCursor:
          type:
            - string
            - 'null'
          description: The cursor to paginate through the next set of results
      required:
        - data
        - hasMore
        - nextCursor
    ResearchCreateRequestDtoClass:
      type:
        - object
      properties:
        model:
          default: exa-research
          type:
            - string
          enum:
            - exa-research
            - exa-research-pro
        instructions:
          type:
            - string
          maxLength: 4096
          description: Instructions for what research should be conducted
        outputSchema:
          type:
            - object
          additionalProperties: {}
      required:
        - instructions
      examples:
        - model: exa-research
          instructions: What species of ant are similar to honeypot ants?
    ResearchDtoClass:
      discriminator:
        propertyName: status
      oneOf:
        - type:
            - object
          properties:
            researchId:
              type:
                - string
              description: The unique identifier for the research request
            createdAt:
              type:
                - number
              description: Milliseconds since epoch time
            model:
              default: exa-research
              type:
                - string
              enum:
                - exa-research
                - exa-research-pro
              description: The model used for the research request
            instructions:
              type:
                - string
              description: The instructions given to this research request
            status:
              type:
                - string
              enum:
                - pending
          required:
            - researchId
            - createdAt
            - instructions
            - status
        - type:
            - object
          properties:
            researchId:
              type:
                - string
              description: The unique identifier for the research request
            createdAt:
              type:
                - number
              description: Milliseconds since epoch time
            model:
              default: exa-research
              type:
                - string
              enum:
                - exa-research
                - exa-research-pro
              description: The model used for the research request
            instructions:
              type:
                - string
              description: The instructions given to this research request
            status:
              type:
                - string
              enum:
                - running
            events:
              type:
                - array
              items:
                $ref: '#/components/schemas/ResearchEventDtoClass'
          required:
            - researchId
            - createdAt
            - instructions
            - status
        - type:
            - object
          properties:
            researchId:
              type:
                - string
              description: The unique identifier for the research request
            createdAt:
              type:
                - number
              description: Milliseconds since epoch time
            model:
              default: exa-research
              type:
                - string
              enum:
                - exa-research
                - exa-research-pro
              description: The model used for the research request
            instructions:
              type:
                - string
              description: The instructions given to this research request
            status:
              type:
                - string
              enum:
                - completed
            events:
              type:
                - array
              items:
                $ref: '#/components/schemas/ResearchEventDtoClass'
            output:
              type:
                - object
              properties:
                content:
                  type:
                    - string
                parsed:
                  type:
                    - object
                  additionalProperties: {}
              required:
                - content
            costDollars:
              type:
                - object
              properties:
                total:
                  type:
                    - number
                numSearches:
                  type:
                    - number
                numPages:
                  type:
                    - number
                reasoningTokens:
                  type:
                    - number
              required:
                - total
                - numSearches
                - numPages
                - reasoningTokens
          required:
            - researchId
            - createdAt
            - instructions
            - status
            - output
            - costDollars
        - type:
            - object
          properties:
            researchId:
              type:
                - string
              description: The unique identifier for the research request
            createdAt:
              type:
                - number
              description: Milliseconds since epoch time
            model:
              default: exa-research
              type:
                - string
              enum:
                - exa-research
                - exa-research-pro
              description: The model used for the research request
            instructions:
              type:
                - string
              description: The instructions given to this research request
            status:
              type:
                - string
              enum:
                - canceled
            events:
              type:
                - array
              items:
                $ref: '#/components/schemas/ResearchEventDtoClass'
          required:
            - researchId
            - createdAt
            - instructions
            - status
        - type:
            - object
          properties:
            researchId:
              type:
                - string
              description: The unique identifier for the research request
            createdAt:
              type:
                - number
              description: Milliseconds since epoch time
            model:
              default: exa-research
              type:
                - string
              enum:
                - exa-research
                - exa-research-pro
              description: The model used for the research request
            instructions:
              type:
                - string
              description: The instructions given to this research request
            status:
              type:
                - string
              enum:
                - failed
            events:
              type:
                - array
              items:
                $ref: '#/components/schemas/ResearchEventDtoClass'
            error:
              type:
                - string
              description: A message indicating why the request failed
          required:
            - researchId
            - createdAt
            - instructions
            - status
            - error
      examples: *ref_1
    ResearchOperationDtoClass:
      discriminator:
        propertyName: type
      oneOf:
        - type:
            - object
          properties:
            type:
              type:
                - string
              enum:
                - think
            content:
              type:
                - string
          required:
            - type
            - content
        - type:
            - object
          properties:
            type:
              type:
                - string
              enum:
                - search
            searchType:
              type:
                - string
              enum:
                - neural
                - keyword
                - auto
                - fast
            goal:
              type:
                - string
            query:
              type:
                - string
            results:
              type:
                - array
              items:
                type:
                  - object
                properties:
                  url:
                    type:
                      - string
                required:
                  - url
            pageTokens:
              type:
                - number
          required:
            - type
            - searchType
            - query
            - results
            - pageTokens
        - type:
            - object
          properties:
            type:
              type:
                - string
              enum:
                - crawl
            goal:
              type:
                - string
            result:
              type:
                - object
              properties:
                url:
                  type:
                    - string
              required:
                - url
            pageTokens:
              type:
                - number
          required:
            - type
            - result
            - pageTokens
    ResearchEventDtoClass:
      oneOf:
        - discriminator:
            propertyName: eventType
          oneOf:
            - type:
                - object
              properties:
                eventType:
                  type:
                    - string
                  enum:
                    - research-definition
                instructions:
                  type:
                    - string
                outputSchema:
                  type:
                    - object
                  additionalProperties: {}
                createdAt:
                  type:
                    - number
                  description: Milliseconds since epoch time
                researchId:
                  type:
                    - string
              required:
                - eventType
                - instructions
                - createdAt
                - researchId
            - type:
                - object
              properties:
                eventType:
                  type:
                    - string
                  enum:
                    - research-output
                output:
                  discriminator:
                    propertyName: outputType
                  oneOf:
                    - type:
                        - object
                      properties:
                        outputType:
                          type:
                            - string
                          enum:
                            - completed
                        costDollars:
                          type:
                            - object
                          properties:
                            total:
                              type:
                                - number
                            numSearches:
                              type:
                                - number
                            numPages:
                              type:
                                - number
                            reasoningTokens:
                              type:
                                - number
                          required:
                            - total
                            - numSearches
                            - numPages
                            - reasoningTokens
                        content:
                          type:
                            - string
                        parsed:
                          type:
                            - object
                          additionalProperties: {}
                      required:
                        - outputType
                        - costDollars
                        - content
                    - type:
                        - object
                      properties:
                        outputType:
                          type:
                            - string
                          enum:
                            - failed
                        error:
                          type:
                            - string
                      required:
                        - outputType
                        - error
                createdAt:
                  type:
                    - number
                  description: Milliseconds since epoch time
                researchId:
                  type:
                    - string
              required:
                - eventType
                - output
                - createdAt
                - researchId
        - discriminator:
            propertyName: eventType
          oneOf:
            - type:
                - object
              properties:
                eventType:
                  type:
                    - string
                  enum:
                    - plan-definition
                planId:
                  type:
                    - string
                createdAt:
                  type:
                    - number
                  description: Milliseconds since epoch time
                researchId:
                  type:
                    - string
              required:
                - eventType
                - planId
                - createdAt
                - researchId
            - type:
                - object
              properties:
                eventType:
                  type:
                    - string
                  enum:
                    - plan-operation
                planId:
                  type:
                    - string
                operationId:
                  type:
                    - string
                data:
                  discriminator:
                    propertyName: type
                  $ref: '#/components/schemas/ResearchOperationDtoClass'
                createdAt:
                  type:
                    - number
                  description: Milliseconds since epoch time
                researchId:
                  type:
                    - string
              required:
                - eventType
                - planId
                - operationId
                - data
                - createdAt
                - researchId
            - type:
                - object
              properties:
                eventType:
                  type:
                    - string
                  enum:
                    - plan-output
                planId:
                  type:
                    - string
                output:
                  discriminator:
                    propertyName: outputType
                  oneOf:
                    - type:
                        - object
                      properties:
                        outputType:
                          type:
                            - string
                          enum:
                            - tasks
                        reasoning:
                          type:
                            - string
                        tasksInstructions:
                          type:
                            - array
                          items:
                            type:
                              - string
                      required:
                        - outputType
                        - reasoning
                        - tasksInstructions
                    - type:
                        - object
                      properties:
                        outputType:
                          type:
                            - string
                          enum:
                            - stop
                        reasoning:
                          type:
                            - string
                      required:
                        - outputType
                        - reasoning
                createdAt:
                  type:
                    - number
                  description: Milliseconds since epoch time
                researchId:
                  type:
                    - string
              required:
                - eventType
                - planId
                - output
                - createdAt
                - researchId
        - discriminator:
            propertyName: eventType
          oneOf:
            - type:
                - object
              properties:
                eventType:
                  type:
                    - string
                  enum:
                    - task-definition
                planId:
                  type:
                    - string
                taskId:
                  type:
                    - string
                instructions:
                  type:
                    - string
                createdAt:
                  type:
                    - number
                  description: Milliseconds since epoch time
                researchId:
                  type:
                    - string
              required:
                - eventType
                - planId
                - taskId
                - instructions
                - createdAt
                - researchId
            - type:
                - object
              properties:
                eventType:
                  type:
                    - string
                  enum:
                    - task-operation
                planId:
                  type:
                    - string
                taskId:
                  type:
                    - string
                operationId:
                  type:
                    - string
                data:
                  discriminator:
                    propertyName: type
                  $ref: '#/components/schemas/ResearchOperationDtoClass'
                createdAt:
                  type:
                    - number
                  description: Milliseconds since epoch time
                researchId:
                  type:
                    - string
              required:
                - eventType
                - planId
                - taskId
                - operationId
                - data
                - createdAt
                - researchId
            - type:
                - object
              properties:
                eventType:
                  type:
                    - string
                  enum:
                    - task-output
                planId:
                  type:
                    - string
                taskId:
                  type:
                    - string
                output:
                  type:
                    - object
                  properties:
                    outputType:
                      type:
                        - string
                      enum:
                        - completed
                    content:
                      type:
                        - string
                  required:
                    - outputType
                    - content
                createdAt:
                  type:
                    - number
                  description: Milliseconds since epoch time
                researchId:
                  type:
                    - string
              required:
                - eventType
                - planId
                - taskId
                - output
                - createdAt
                - researchId
  responses:
    SearchResponse:
      description: OK
      content:
        application/json:
          schema:
            type: object
            properties:
              requestId:
                type: string
                description: Unique identifier for the request
                example: "b5947044c4b78efa9552a7c89b306d95"
              resolvedSearchType:
                type: string
                enum: [neural, keyword]
                description: The search type that was actually used for this request
                example: "neural"
              results:
                type: array
                description: A list of search results containing title, URL, published date, author, and score.
                items:
                  $ref: "#/components/schemas/ResultWithContent"
              searchType:
                type: string
                enum: [neural, keyword]
                description: For auto searches, indicates which search type was selected.
                example: "auto"
              context:
                type: string
                description: A formatted string of the search results ready for LLMs.
              costDollars:
                $ref: "#/components/schemas/CostDollars"

    FindSimilarResponse:
      description: OK
      content:
        application/json:
          schema:
            type: object
            properties:
              requestId:
                type: string
                description: Unique identifier for the request
                example: "c6958155d5c89ffa0663b7c90c407396"
              context:
                type: string
                description: A formatted string of the search results ready for LLMs.
              results:
                type: array
                description: A list of search results containing title, URL, published date, author, and score.
                items:
                  $ref: "#/components/schemas/ResultWithContent"
              costDollars:
                $ref: "#/components/schemas/CostDollars"

    ContentsResponse:
      description: OK
      content:
        application/json:
          schema:
            type: object
            properties:
              requestId:
                type: string
                description: Unique identifier for the request
                example: "e492118ccdedcba5088bfc4357a8a125"
              results:
                type: array
                items:
                  $ref: "#/components/schemas/ResultWithContent"
              context:
                type: string
                description: A formatted string of the search results ready for LLMs.
              statuses:
                type: array
                description: Status information for each requested URL
                items:
                  type: object
                  properties:
                    id:
                      type: string
                      description: The URL that was requested
                      example: "https://example.com"
                    status:
                      type: string
                      enum: ["success", "error"]
                      description: Status of the content fetch operation
                      example: "success"
                    error:
                      type: object
                      nullable: true
                      description: Error details, only present when status is "error"
                      properties:
                        tag:
                          type: string
                          enum:
                            [
                              "CRAWL_NOT_FOUND",
                              "CRAWL_TIMEOUT",
                              "CRAWL_LIVECRAWL_TIMEOUT",
                              "SOURCE_NOT_AVAILABLE",
                              "CRAWL_UNKNOWN_ERROR",
                            ]
                          description: Specific error type
                          example: "CRAWL_NOT_FOUND"
                        httpStatusCode:
                          type: integer
                          nullable: true
                          description: The corresponding HTTP status code
                          example: 404
              costDollars:
                $ref: "#/components/schemas/CostDollars"

    AnswerResponse:
      description: OK
      content:
        application/json:
          schema:
            allOf:
              - $ref: "#/components/schemas/AnswerResult"
              - type: object
                properties:
                  costDollars:
                    $ref: "#/components/schemas/CostDollars"
        text/event-stream:
          schema:
            type: object
            properties:
              answer:
                type: string
                description: Partial answer chunk when streaming is enabled.
              citations:
                type: array
                items:
                  $ref: "#/components/schemas/AnswerCitation"
