---
http_interactions:
- request:
    method: post
    uri: https://api.exa.ai/websets/v0/imports
    body:
      encoding: UTF-8
      string: '{"size":1024,"count":10,"title":"Should Fail","format":"csv","entity":{"type":"company"}}'
    headers:
      X-Api-Key:
      - invalid_api_key
      Content-Type:
      - application/json
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Origin-Agent-Cluster:
      - "?1"
      Etag:
      - W/"56-Md1xk5Zg1VVE1uJMKngEHaoxD3s"
    body:
      encoding: UTF-8
      string: '{"requestId":"5d33e4235eb5b3a05b7e4cb192548d2f","error":"x-api-key
        header is invalid"}'
  recorded_at: Sun, 23 Nov 2025 17:17:24 GMT
recorded_with: VCR 6.3.1
