---
http_interactions:
- request:
    method: post
    uri: https://api.exa.ai/websets/v0/imports
    body:
      encoding: UTF-8
      string: '{"size":512,"count":5,"title":"Import with Custom Metadata","format":"csv","entity":{"type":"company"},"metadata":{"source":"test","batch":"2025-11-23"}}'
    headers:
      X-Api-Key:
      - "<EXA_API_KEY>"
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Origin-Agent-Cluster:
      - "?1"
      Etag:
      - W/"3a1-P7pl/s/YjakmwwjHfAAeoc7wlQg"
    body:
      encoding: UTF-8
      string: '{"id":"import_01karvdc4bk1eg8cs37yrjg73w","object":"import","status":"pending","format":"csv","entity":{"type":"company"},"title":"Import
        with Custom Metadata","count":5,"metadata":{"batch":"2025-11-23","source":"test"},"failedReason":null,"failedMessage":null,"failedAt":null,"createdAt":"2025-11-23T17:15:31.339Z","updatedAt":"2025-11-23T17:15:31.339Z","uploadUrl":"https://websets-imports.s3.us-west-2.amazonaws.com/cmeh7vs4k0001ffpf6f5hh6eg/01karvdc4bk1eg8cs37yrjg73w.csv?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Content-Sha256=UNSIGNED-PAYLOAD&X-Amz-Credential=AKIAW37DUQDZE5LUHW4L%2F20251123%2Fus-west-2%2Fs3%2Faws4_request&X-Amz-Date=20251123T171531Z&X-Amz-Expires=3600&X-Amz-Signature=9c10c3d843f00ac5a9d63fa2711bb84b47e8f115e7306f54e70ab0ac7a41da70&X-Amz-SignedHeaders=content-length%3Bhost&x-amz-checksum-crc32=AAAAAA%3D%3D&x-amz-sdk-checksum-algorithm=CRC32&x-id=PutObject","uploadValidUntil":"2025-11-23T18:15:31.383Z"}'
  recorded_at: Sun, 23 Nov 2025 17:15:31 GMT
recorded_with: VCR 6.3.1
