---
http_interactions:
- request:
    method: post
    uri: https://api.exa.ai/websets/v0/imports
    body:
      encoding: UTF-8
      string: '{"size":1024,"count":10,"title":"Import with Upload URL","format":"csv","entity":{"type":"company"}}'
    headers:
      X-Api-Key:
      - "<EXA_API_KEY>"
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Origin-Agent-Cluster:
      - "?1"
      Etag:
      - W/"379-5H9B/HT63RHvR5aU7romAnGt6ro"
    body:
      encoding: UTF-8
      string: '{"id":"import_01karvgv6y8ky9hxq58fg28362","object":"import","status":"pending","format":"csv","entity":{"type":"company"},"title":"Import
        with Upload URL","count":10,"metadata":{},"failedReason":null,"failedMessage":null,"failedAt":null,"createdAt":"2025-11-23T17:17:25.086Z","updatedAt":"2025-11-23T17:17:25.086Z","uploadUrl":"https://websets-imports.s3.us-west-2.amazonaws.com/cmeh7vs4k0001ffpf6f5hh6eg/01karvgv6y8ky9hxq58fg28362.csv?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Content-Sha256=UNSIGNED-PAYLOAD&X-Amz-Credential=AKIAW37DUQDZE5LUHW4L%2F20251123%2Fus-west-2%2Fs3%2Faws4_request&X-Amz-Date=20251123T171725Z&X-Amz-Expires=3600&X-Amz-Signature=db51bb4a52b363584e57da030d5d518f32ff39d0aa151e1fe79c763a6f106161&X-Amz-SignedHeaders=content-length%3Bhost&x-amz-checksum-crc32=AAAAAA%3D%3D&x-amz-sdk-checksum-algorithm=CRC32&x-id=PutObject","uploadValidUntil":"2025-11-23T18:17:25.132Z"}'
  recorded_at: Sun, 23 Nov 2025 17:17:25 GMT
recorded_with: VCR 6.3.1
