---
http_interactions:
- request:
    method: post
    uri: https://api.exa.ai/websets/v0/imports
    body:
      encoding: UTF-8
      string: '{"size":1024,"count":10,"title":"Test Status Helpers","format":"csv","entity":{"type":"company"}}'
    headers:
      X-Api-Key:
      - "<EXA_API_KEY>"
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Origin-Agent-Cluster:
      - "?1"
      Etag:
      - W/"376-FyAT6f5gzU9pJXJIHHOx96ziXCs"
    body:
      encoding: UTF-8
      string: '{"id":"import_01karvdf3r7824s3xmq2s79mdw","object":"import","status":"pending","format":"csv","entity":{"type":"company"},"title":"Test
        Status Helpers","count":10,"metadata":{},"failedReason":null,"failedMessage":null,"failedAt":null,"createdAt":"2025-11-23T17:15:34.392Z","updatedAt":"2025-11-23T17:15:34.392Z","uploadUrl":"https://websets-imports.s3.us-west-2.amazonaws.com/cmeh7vs4k0001ffpf6f5hh6eg/01karvdf3r7824s3xmq2s79mdw.csv?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Content-Sha256=UNSIGNED-PAYLOAD&X-Amz-Credential=AKIAW37DUQDZE5LUHW4L%2F20251123%2Fus-west-2%2Fs3%2Faws4_request&X-Amz-Date=20251123T171534Z&X-Amz-Expires=3600&X-Amz-Signature=f4cd5440a0d744283bcd4b557ab8756c11895ec7cbc557775e5a7aeb11e23395&X-Amz-SignedHeaders=content-length%3Bhost&x-amz-checksum-crc32=AAAAAA%3D%3D&x-amz-sdk-checksum-algorithm=CRC32&x-id=PutObject","uploadValidUntil":"2025-11-23T18:15:34.470Z"}'
  recorded_at: Sun, 23 Nov 2025 17:15:34 GMT
recorded_with: VCR 6.3.1
