---
http_interactions:
- request:
    method: post
    uri: https://api.exa.ai/websets/v0/imports
    body:
      encoding: UTF-8
      string: '{"size":2048,"count":25,"title":"Companies with CSV Identifier","format":"csv","entity":{"type":"company"},"csv":{"identifier":1}}'
    headers:
      X-Api-Key:
      - "<EXA_API_KEY>"
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Origin-Agent-Cluster:
      - "?1"
      Etag:
      - W/"380-5ZCc3t+BQD7EHJ1n7K9qjEvYQDw"
    body:
      encoding: UTF-8
      string: '{"id":"import_01karvdfwdd26rs0s0eyrstkv8","object":"import","status":"pending","format":"csv","entity":{"type":"company"},"title":"Companies
        with CSV Identifier","count":25,"metadata":{},"failedReason":null,"failedMessage":null,"failedAt":null,"createdAt":"2025-11-23T17:15:35.181Z","updatedAt":"2025-11-23T17:15:35.181Z","uploadUrl":"https://websets-imports.s3.us-west-2.amazonaws.com/cmeh7vs4k0001ffpf6f5hh6eg/01karvdfwdd26rs0s0eyrstkv8.csv?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Content-Sha256=UNSIGNED-PAYLOAD&X-Amz-Credential=AKIAW37DUQDZE5LUHW4L%2F20251123%2Fus-west-2%2Fs3%2Faws4_request&X-Amz-Date=20251123T171535Z&X-Amz-Expires=3600&X-Amz-Signature=d47c8ec2589fe1f5f2514907391bd99d5b44f90ee0f1199db1ff8facbc95f52d&X-Amz-SignedHeaders=content-length%3Bhost&x-amz-checksum-crc32=AAAAAA%3D%3D&x-amz-sdk-checksum-algorithm=CRC32&x-id=PutObject","uploadValidUntil":"2025-11-23T18:15:35.228Z"}'
  recorded_at: Sun, 23 Nov 2025 17:15:35 GMT
recorded_with: VCR 6.3.1
