---
http_interactions:
- request:
    method: post
    uri: https://api.exa.ai/websets/v0/imports
    body:
      encoding: UTF-8
      string: '{"size":1024,"count":15,"title":"Import to Retrieve","format":"csv","entity":{"type":"company"}}'
    headers:
      X-Api-Key:
      - "<EXA_API_KEY>"
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Origin-Agent-Cluster:
      - "?1"
      Etag:
      - W/"375-MFYF3JKAMIWrLiAl34Yj3PGIPz0"
    body:
      encoding: UTF-8
      string: '{"id":"import_01karvec797s7jx4775dd3h9jw","object":"import","status":"pending","format":"csv","entity":{"type":"company"},"title":"Import
        to Retrieve","count":15,"metadata":{},"failedReason":null,"failedMessage":null,"failedAt":null,"createdAt":"2025-11-23T17:16:04.201Z","updatedAt":"2025-11-23T17:16:04.201Z","uploadUrl":"https://websets-imports.s3.us-west-2.amazonaws.com/cmeh7vs4k0001ffpf6f5hh6eg/01karvec797s7jx4775dd3h9jw.csv?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Content-Sha256=UNSIGNED-PAYLOAD&X-Amz-Credential=AKIAW37DUQDZE5LUHW4L%2F20251123%2Fus-west-2%2Fs3%2Faws4_request&X-Amz-Date=20251123T171604Z&X-Amz-Expires=3600&X-Amz-Signature=2a8411bb7f1d79852b94247a87450cdc13403e6e04cd95c596af7d4590ce33eb&X-Amz-SignedHeaders=content-length%3Bhost&x-amz-checksum-crc32=AAAAAA%3D%3D&x-amz-sdk-checksum-algorithm=CRC32&x-id=PutObject","uploadValidUntil":"2025-11-23T18:16:04.227Z"}'
  recorded_at: Sun, 23 Nov 2025 17:16:04 GMT
- request:
    method: get
    uri: https://api.exa.ai/websets/v0/imports/import_01karvec797s7jx4775dd3h9jw
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Api-Key:
      - "<EXA_API_KEY>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Origin-Agent-Cluster:
      - "?1"
      Etag:
      - W/"13a-YLQoodAi+hCUVviTnimkj9mLGn8"
    body:
      encoding: ASCII-8BIT
      string: '{"id":"import_01karvec797s7jx4775dd3h9jw","object":"import","status":"processing","format":"csv","entity":{"type":"company"},"title":"Import
        to Retrieve","count":15,"metadata":{},"failedReason":null,"failedMessage":null,"failedAt":null,"createdAt":"2025-11-23T17:16:04.201Z","updatedAt":"2025-11-23T17:16:04.403Z"}'
  recorded_at: Sun, 23 Nov 2025 17:16:04 GMT
recorded_with: VCR 6.3.1
