---
http_interactions:
- request:
    method: get
    uri: https://api.exa.ai/websets/v0/imports/import_nonexistent_12345
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Api-Key:
      - "<EXA_API_KEY>"
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Origin-Agent-Cluster:
      - "?1"
      Etag:
      - W/"98-hlR7ve/KXnIFKZMcLyLwfoFRl2k"
    body:
      encoding: ASCII-8BIT
      string: '{"statusCode":404,"timestamp":"2025-11-23T17:15:33.606Z","message":"Import
        not found","error":"Not Found","path":"/v0/imports/import_nonexistent_12345"}'
  recorded_at: Sun, 23 Nov 2025 17:15:33 GMT
recorded_with: VCR 6.3.1
