---
http_interactions:
- request:
    method: post
    uri: https://api.exa.ai/websets/v0/imports
    body:
      encoding: UTF-8
      string: '{"size":1024,"count":10,"title":"First Import","format":"csv","entity":{"type":"company"}}'
    headers:
      X-Api-Key:
      - "<EXA_API_KEY>"
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Origin-Agent-Cluster:
      - "?1"
      Etag:
      - W/"36f-C5jqa/crDB05X3yPTn8HC0gmpxc"
    body:
      encoding: UTF-8
      string: '{"id":"import_01karvgwk9277bt43bx456k94k","object":"import","status":"pending","format":"csv","entity":{"type":"company"},"title":"First
        Import","count":10,"metadata":{},"failedReason":null,"failedMessage":null,"failedAt":null,"createdAt":"2025-11-23T17:17:26.505Z","updatedAt":"2025-11-23T17:17:26.505Z","uploadUrl":"https://websets-imports.s3.us-west-2.amazonaws.com/cmeh7vs4k0001ffpf6f5hh6eg/01karvgwk9277bt43bx456k94k.csv?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Content-Sha256=UNSIGNED-PAYLOAD&X-Amz-Credential=AKIAW37DUQDZE5LUHW4L%2F20251123%2Fus-west-2%2Fs3%2Faws4_request&X-Amz-Date=20251123T171726Z&X-Amz-Expires=3600&X-Amz-Signature=4b4e498015afcf1215fc8c1b9385d8285910d4f27a73de40629af3726c4d74e4&X-Amz-SignedHeaders=content-length%3Bhost&x-amz-checksum-crc32=AAAAAA%3D%3D&x-amz-sdk-checksum-algorithm=CRC32&x-id=PutObject","uploadValidUntil":"2025-11-23T18:17:26.551Z"}'
  recorded_at: Sun, 23 Nov 2025 17:17:26 GMT
[...]
- request:
    method: get
    uri: https://api.exa.ai/websets/v0/imports
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Api-Key:
      - "<EXA_API_KEY>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Origin-Agent-Cluster:
      - "?1"
      Etag:
      - W/"ad0-KeD6CVnoRNq5xbuiCI0rBlVBXXg"
    body:
      encoding: ASCII-8BIT
      string: '{"data":[{"id":"import_01karvgwx8wrew0j15d0c5c0zq","object":"import","status":"processing","format":"csv","entity":{"type":"company"},"title":"Second
        Import","count":20,"metadata":{},"failedReason":null,"failedMessage":null,"failedAt":null,"createdAt":"2025-11-23T17:17:26.824Z","updatedAt":"2025-11-23T17:17:26.965Z"},{"id":"import_01karvgwk9277bt43bx456k94k","object":"import","status":"processing","format":"csv","entity":{"type":"company"},"title":"First
        Import","count":10,"metadata":{},[...]
