---
http_interactions:
- request:
    method: post
    uri: https://api.exa.ai/websets/v0/imports
    body:
      encoding: UTF-8
      string: '{"size":1024,"count":10,"title":"Original Title","format":"csv","entity":{"type":"company"}}'
    headers:
      X-Api-Key:
      - "<EXA_API_KEY>"
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Origin-Agent-Cluster:
      - "?1"
      Etag:
      - W/"371-n8VivwKbkjN5gG5yUsn6oPxs708"
    body:
      encoding: UTF-8
      string: '{"id":"import_01karvda9m13vsxqvs3kdfvdfa","object":"import","status":"pending","format":"csv","entity":{"type":"company"},"title":"Original
        Title","count":10,"metadata":{},"failedReason":null,"failedMessage":null,"failedAt":null,"createdAt":"2025-11-23T17:15:29.460Z","updatedAt":"2025-11-23T17:15:29.460Z","uploadUrl":"https://websets-imports.s3.us-west-2.amazonaws.com/cmeh7vs4k0001ffpf6f5hh6eg/01karvda9m13vsxqvs3kdfvdfa.csv?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Content-Sha256=UNSIGNED-PAYLOAD&X-Amz-Credential=AKIAW37DUQDZE5LUHW4L%2F20251123%2Fus-west-2%2Fs3%2Faws4_request&X-Amz-Date=20251123T171529Z&X-Amz-Expires=3600&X-Amz-Signature=194b3fefe3c8e500ce70e38d2b21f670947009fa0b1fbd29253adc7f446b8f17&X-Amz-SignedHeaders=content-length%3Bhost&x-amz-checksum-crc32=AAAAAA%3D%3D&x-amz-sdk-checksum-algorithm=CRC32&x-id=PutObject","uploadValidUntil":"2025-11-23T18:15:29.507Z"}'
  recorded_at: Sun, 23 Nov 2025 17:15:29 GMT
- request:
    method: patch
    uri: https://api.exa.ai/websets/v0/imports/import_01karvda9m13vsxqvs3kdfvdfa
    body:
      encoding: UTF-8
      string: '{"title":"Updated Title"}'
    headers:
      X-Api-Key:
      - "<EXA_API_KEY>"
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Origin-Agent-Cluster:
      - "?1"
      Etag:
      - W/"135-2014y49tjocFV01oL8iEiwnRNHU"
    body:
      encoding: ASCII-8BIT
      string: '{"id":"import_01karvda9m13vsxqvs3kdfvdfa","object":"import","status":"processing","format":"csv","entity":{"type":"company"},"title":"Updated
        Title","count":10,"metadata":{},"failedReason":null,"failedMessage":null,"failedAt":null,"createdAt":"2025-11-23T17:15:29.460Z","updatedAt":"2025-11-23T17:15:29.821Z"}'
  recorded_at: Sun, 23 Nov 2025 17:15:29 GMT
recorded_with: VCR 6.3.1
