---
http_interactions:
- request:
    method: post
    uri: https://api.exa.ai/websets/v0/imports
    body:
      encoding: UTF-8
      string: '{"size":1024,"count":10,"title":"Before Update","format":"csv","entity":{"type":"company"},"metadata":{"status":"draft"}}'
    headers:
      X-Api-Key:
      - "<EXA_API_KEY>"
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Origin-Agent-Cluster:
      - "?1"
      Etag:
      - W/"380-UHkPQjK/13XRZUDxFMBUWE2WGCM"
    body:
      encoding: UTF-8
      string: '{"id":"import_01karvjrt5rfqg7snxwqhswqt4","object":"import","status":"pending","format":"csv","entity":{"type":"company"},"title":"Before
        Update","count":10,"metadata":{"status":"draft"},"failedReason":null,"failedMessage":null,"failedAt":null,"createdAt":"2025-11-23T17:18:28.165Z","updatedAt":"2025-11-23T17:18:28.165Z","uploadUrl":"https://websets-imports.s3.us-west-2.amazonaws.com/cmeh7vs4k0001ffpf6f5hh6eg/01karvjrt5rfqg7snxwqhswqt4.csv?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Content-Sha256=UNSIGNED-PAYLOAD&X-Amz-Credential=AKIAW37DUQDZE5LUHW4L%2F20251123%2Fus-west-2%2Fs3%2Faws4_request&X-Amz-Date=20251123T171828Z&X-Amz-Expires=3600&X-Amz-Signature=27cb383f424510ddac7dadad0ccfe1b6f233edded848037af148541d1c0736db&X-Amz-SignedHeaders=content-length%3Bhost&x-amz-checksum-crc32=AAAAAA%3D%3D&x-amz-sdk-checksum-algorithm=CRC32&x-id=PutObject","uploadValidUntil":"2025-11-23T18:18:28.212Z"}'
  recorded_at: Sun, 23 Nov 2025 17:18:28 GMT
- request:
    method: patch
    uri: https://api.exa.ai/websets/v0/imports/import_01karvjrt5rfqg7snxwqhswqt4
    body:
      encoding: UTF-8
      string: '{"title":"After Update","metadata":{"status":"final","reviewed":"yes"}}'
    headers:
      X-Api-Key:
      - "<EXA_API_KEY>"
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Origin-Agent-Cluster:
      - "?1"
      Etag:
      - W/"155-eDGW/x3IMqmwrx9KcCyW+2UgBfo"
    body:
      encoding: ASCII-8BIT
      string: '{"id":"import_01karvjrt5rfqg7snxwqhswqt4","object":"import","status":"processing","format":"csv","entity":{"type":"company"},"title":"After
        Update","count":10,"metadata":{"status":"final","reviewed":"yes"},"failedReason":null,"failedMessage":null,"failedAt":null,"createdAt":"2025-11-23T17:18:28.165Z","updatedAt":"2025-11-23T17:18:28.543Z"}'
  recorded_at: Sun, 23 Nov 2025 17:18:28 GMT
recorded_with: VCR 6.3.1
